<section ng-controller="CaptionsAdminController" ng-init="findVideo();findCaption()" class="row">
  <md-toolbar class="md-whiteframe-1dp">
    <div class="md-toolbar-tools">
      <div class="md-title">Manager Videos and Captions</div>
    </div>
  </md-toolbar>
  <md-content laout="column" flex >

    <md-card>
      <div layout="row" layout-wrap class="checkboxes">
        <md-checkbox ng-model="options.autoSelect">Auto Row Select</md-checkbox>
        <md-checkbox ng-model="options.largeEditDialog">Lard Edit Dialogs</md-checkbox>
        <md-checkbox ng-model="options.rowSelection">Row Selection</md-checkbox>
        <md-checkbox ng-model="options.boundaryLinks">Pagination Boundary Links</md-checkbox>
        <md-checkbox ng-model="options.pageSelector">Pagination Page Selector</md-checkbox>
      </div>
    </md-card>

    <!--<md-card>-->

      <!--<md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">-->
        <!--<div class="md-toolbar-tools">-->
          <!--<span>Nutrition</span>-->
          <!--<div flex></div>-->
          <!--<md-button ng-click="loadStuff()">Async Operation</md-button>-->
        <!--</div>-->
      <!--</md-toolbar>-->

      <!--<md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">-->
        <!--<div class="md-toolbar-tools">-->
          <!--<span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>-->
        <!--</div>-->
      <!--</md-toolbar>-->

      <!--<md-table-container>-->
        <!--<table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">-->
          <!--<thead md-head md-order="query.order" md-on-reorder="logOrder">-->
          <!--<tr md-row>-->
            <!--<th md-column md-order-by="name"><span>Dessert (100g serving)</span></th>-->
            <!--<th md-column md-order-by="type"><span>Type</span></th>-->
            <!--<th md-column md-numeric md-order-by="calories.value" md-desc><span>Calories</span></th>-->
            <!--<th md-column md-numeric md-order-by="fat.value"><span>Fat (g)</span></th>-->
            <!--<th md-column md-numeric md-order-by="carbs.value"><span>Carbs (g)</span></th>-->
            <!--<th md-column md-numeric md-order-by="protein.value"><span>Protein (g)</span></th>-->
            <!--<th md-column md-numeric md-order-by="sodium.value" hide-gt-xs show-gt-md><span>Sodium (mg)</span></th>-->
            <!--<th md-column md-numeric md-order-by="calcium.value" hide-gt-xs show-gt-lg><span>Calcium (%)</span></th>-->
            <!--<th md-column md-numeric md-order-by="iron.value" hide-gt-xs show-gt-lg><span>Iron (%)</span></th>-->
            <!--<th md-column md-order-by="comment">-->
              <!--<md-icon>comments</md-icon>-->
              <!--<span>Comments</span>-->
            <!--</th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody md-body>-->
          <!--<tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="dessert.calories.value > 400" ng-repeat="dessert in desserts.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">-->
            <!--<td md-cell>{{dessert.name}}</td>-->
            <!--<td md-cell>-->
              <!--<md-select ng-model="dessert.type" placeholder="Other">-->
                <!--<md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>-->
              <!--</md-select>-->
              <!--</td>-->
            <!--<td md-cell>{{dessert.calories.value}}</td>-->
            <!--<td md-cell>{{dessert.fat.value | number: 2}}</td>-->
            <!--<td md-cell>{{dessert.carbs.value}}</td>-->
            <!--<td md-cell>{{dessert.protein.value | number: 2}}</td>-->
            <!--<td md-cell hide-gt-xs show-gt-md>{{dessert.sodium.value}}</td>-->
            <!--<td md-cell hide-gt-xs show-gt-lg>{{dessert.calcium.value}}%</td>-->
            <!--<td md-cell hide-gt-xs show-gt-lg>{{dessert.iron.value}}%</td>-->
            <!--<td md-cell ng-click="editComment($event, dessert)" ng-class="{'md-placeholder': !dessert.comment}">-->
              <!--{{dessert.comment || 'Add a comment'}}-->
            <!--</td>-->
          <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->
      <!--</md-table-container>-->

      <!--<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{desserts.count}}" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>-->
    <!--</md-card>-->

    <md-card>
      <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
          <span>VIDEOS</span>
          <div flex></div>
          <!--<md-button ng-click="loadStuff()">Async Operation</md-button>-->
        </div>
      </md-toolbar>

      <md-table-container>
        <table md-table md-progress="promise">
          <thead md-head md-order="query.order" md-on-reorder="logOrder">
          <tr md-row>
            <th md-column><span>#</span></th>
            <th md-column md-order-by="title"><span>Title</span></th>
            <th md-column md-order-by="view"><span>View</span></th>
            <th md-column md-order-by="user.username"><span>User</span></th>
            <th md-column md-order-by="url"><span>Url</span></th>
            <th md-column md-order-by="created"><span>Created at</span></th>
          </tr>

          <tbody md-body>
          <tr md-row ng-repeat="video in videos | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
            <td md-cell>{{$index}}</td>
            <td md-cell><a href="/admin/video/{{video._id}}">{{video.title}}</a></td>
            <td md-cell>{{video.view}}</td>
            <td md-cell>{{video.user.username}}</td>
            <td md-cell>{{video.url}}</td>
            <td md-cell>{{video.created | date:'medium'}}</td>
          </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{totalVideos}}" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
    </md-card>

    <md-card>
      <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
          <span>CAPTIONS</span>
          <div flex></div>
          <!--<md-button ng-click="loadStuff()">Async Operation</md-button>-->
        </div>
      </md-toolbar>

      <md-table-container>
        <table md-table md-progress="promise">
          <thead md-head md-order="query.order" md-on-reorder="logOrder">
          <tr md-row>
            <th md-column><span>#</span></th>
            <th md-column md-order-by="title"><span>Video</span></th>
            <th md-column md-order-by="view"><span>Language</span></th>
            <th md-column md-order-by="user.username"><span>Vote</span></th>
            <th md-column md-order-by="url"><span>User</span></th>
            <th md-column md-order-by="created"><span>Created at</span></th>
          </tr>

          <tbody md-body>
          <tr md-row ng-repeat="caption in captions | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
            <td md-cell>{{$index}}</td>
            <td md-cell>{{caption.videoId.title}}</td>
            <td md-cell>{{caption.language.language_description}}</td>
            <td md-cell>{{caption.rate}}</td>
            <td md-cell>{{caption.user.username}}</td>
            <td md-cell>{{caption.created_at | date:'medium'}}</td>
          </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{totalCaptions}}" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
    </md-card>
  </md-content>

</section>