<section ng-controller="CaptionsAdminController" ng-init="findOne();getAllLanguage();" class="row page-section">

  <table class="table table-striped table-bordered table-hover editable-table">
    <tr>
      <th>Language</th>
      <th>Caption count</th>
      <th>Is Locked ?</th>
    </tr>
    <tr ng-repeat="i in info">
      <td>{{i.language.language_description}}</td>
      <td>{{i.qty}}</td>
      <td>
        <!--<input type="checkbox" ng-model="i.status" ng-change="status(i.status, i.language)">-->
        <md-switch ng-model="i.status" aria-label="Switch 1" ng-change="status(i.status, i.language)"></md-switch>
      </td>
    </tr>
  </table>
</section>