<div class="page-container container2 pbn" style="position: absolute;width: 100%;left: 0;">
  <section class="section2 section-hero">
    <div class="container container2">
      <div class="page-row">
        <div class="unit size14 hero-desc">
          <h1 class="page-title small-title">Join Viki’s <span>Subtitling Community</span></h1>
          <p class="page-desc">Join Viki’s Subtitling Community! All of Our subtitles are made by fans, just like you! Wanna help? Meet other fans, have fun and enjoy great perks!</p>
          <a href="/sign_up?return_to=%2Fmy_profile" class="hidden btn btn-primary btn-round btn-large btn-wide caps mtx track-in-page" data-action="sign_up" data-label="top" data-viewable="non-logged-in"><span class="translation_missing" title="translation missing: en.core.signup">Signup</span></a>
          <a href="http://support.viki.com/hc/en/requests/new?ticket_form_id=249068&amp;redirect_url=https://subber.viki.com/project_finder&amp;utm_source=Community-page&amp;utm_medium=CTA-button&amp;utm_content=Get-Started-button-Community" class="btn btn-primary btn-round btn-large btn-wide caps track-in-page hidden" data-action="find_project" data-label="top" data-viewable="logged-in">Get started</a>
        </div>
        <div class="unit size10 hero-figure">
          <figure class="img-channel-hero"></figure>
        </div>
      </div>
    </div>
  </section>

  <section class="section2 section-bg-yellow">
    <div class="container container2">
      <h1 class="page-title small-title">All subtitles are created by <span>fans like you!</span></h1>
      <div id="react-subtitle-counter" class="align-center"></div>
    </div>
  </section>

  <section class="section2 section-bg-alt">
    <div class="container container2">
      <div class="page-row">
        <div class="unit size11">
          <div class="ptx community-testimonial-quote">
            <q>I simply love this community. Sometimes, I work as a Portuguese editor, translator or segmenter, and I enjoy working on designs for the Portuguese pages as well.</q>
            <strong class="mtm block">
              <a href="/users/Luzevedo">
                <img alt="4a76d6f63d" class="community-testimonial-profile mrm" src="https://1.viki.io/u/720177u/4a76d6f63d.jpg?s=220x220&amp;q=h&amp;cb=1" /> Luciana </strong>
            </a>          </div>
        </div>
        <div class="unit size11 offset2">
          <div class="ptx community-testimonial-quote">
            <q>I made some friends (dozens) who live in Southern Europe and speak languages similar to my own mother-tongue. We share a lot of laughs, thoughts and time, not only on Viki.</q>
            <strong class="mtm block">
              <a href="/users/talentina011">
                <img alt="6032155926" class="community-testimonial-profile mrm" src="https://1.viki.io/u/6238223u/6032155926.jpg?s=220x220&amp;q=h&amp;cb=1" /> Val
              </a>            </strong>
          </div>
        </div>
      </div>
      <div class="align-center ptx mtx">
        <p class="section2 section-desc mbx">Ready for some serious fun?</p>
        <a href="/sign_up?return_to=%2Fmy_profile" class="btn btn-primary btn-round btn-large btn-wide caps track-in-page hidden" data-action="sign_up" data-label="testimonial" data-viewable="non-logged-in">Sign Up</a>
        <a href="http://support.viki.com/hc/en/requests/new?ticket_form_id=249068&amp;redirect_url=https://subber.viki.com/project_finder&amp;utm_source=Community-page&amp;utm_medium=CTA-button&amp;utm_content=Get-Started-button-Community" class="btn btn-primary btn-round btn-large btn-wide caps track-in-page hidden" data-action="find_project" data-label="testimonial" data-viewable="logged-in">Get started</a>
      </div>
    </div>
  </section>

  <section class="section2 section-bg-red">
    <div class="container container2">
      <h1 class="page-title small-title">Why Should You <span>Contribute?</span></h1>
      <p class="page-desc">Active contributors receive a lot of awesome perks and benefits.</p>
      <div class="page-row mtx">
        <div class="community-benefit-elements ptx">
          <div class="community-benefit-img">
            <a href="/subtitling_community/contributor_benefits#badge"><figure class="img-index-benefit-badges"></figure></a>
          </div>
          <p class="community-benefit-title"><a href="/subtitling_community/contributor_benefits#badge" class="btn-link-white">Badges</a></p>
        </div>
        <div class="community-benefit-elements ptx">
          <div class="community-benefit-img">
            <a href="/subtitling_community/contributor_benefits#geo"><figure class="img-index-benefit-geo"></figure></a>
          </div>
          <p class="community-benefit-title"><a href="/subtitling_community/contributor_benefits#geo" class="btn-link-white">Access to Geo-Restricted Videos</a></p>
        </div>
        <div class="community-benefit-elements ptx">
          <div class="community-benefit-img">
            <a href="/subtitling_community/contributor_benefits#vikipass"><figure class="img-index-benefit-vikipass"></figure></a>
          </div>
          <p class="community-benefit-title"><a href="/subtitling_community/contributor_benefits#vikipass" class="btn-link-white">Free Viki Pass</a></p>
        </div>
        <div class="community-benefit-elements ptx">
          <div class="community-benefit-img">
            <a href="/subtitling_community/contributor_benefits#certificate"><figure class="img-index-benefit-certificate"></figure></a>
          </div>
          <p class="community-benefit-title"><a href="/subtitling_community/contributor_benefits#certificate" class="btn-link-white">Official Certificate</a></p>
        </div>
        <div class="community-benefit-elements ptx">
          <div class="community-benefit-img">
            <a href="/subtitling_community/contributor_benefits#gift"><figure class="img-index-benefit-gift"></figure></a>
          </div>
          <p class="community-benefit-title"><a href="/subtitling_community/contributor_benefits#gift" class="btn-link-white">Exclusive Gifts and Prizes</a></p>
        </div>
      </div>
      <div class="align-center ptx mtx">
        <a href="/sign_up?return_to=%2Fmy_profile" class="btn btn-primary btn-round btn-large btn-wide caps track-in-page hidden" data-action="sign_up" data-label="benefit" data-viewable="non-logged-in">Sign Up</a>
        <a href="http://support.viki.com/hc/en/requests/new?ticket_form_id=249068&amp;redirect_url=https://subber.viki.com/project_finder&amp;utm_source=Community-page&amp;utm_medium=CTA-button&amp;utm_content=Get-Started-button-Community" class="btn btn-primary btn-round btn-large btn-wide caps track-in-page hidden" data-action="find_project" data-label="benefit" data-viewable="logged-in">Get started</a>
        <em class="btn btn-link btn-large country-inverse">or</em>
        <a class="btn btn-link btn-link-white btn-large caps pln track-in-page" data-action="learn_more" data-label="benefit" href="/subtitling_community/contributor_benefits">Learn more</a>
      </div>
    </div>
  </section>

  <section class="section2 section-bg-alt">
    <div class="container container2">
      <h1 class="page-title small-title">Learn How to <span>Contribute</span></h1>
      <p class="page-desc">Start contributing today by segmenting, subtitling, or captioning!</p>
      <div class="page-row mtx ptx">
        <div class="unit size8 align-center">
          <a href="/subtitling_community/how_to_contribute#segmenting"><figure class="img-index-how-segmenting"></figure></a>
          <p class="beta mtl"><a href="/subtitling_community/how_to_contribute#segmenting">Segmenting</a></p>
        </div>
        <div class="unit size8 align-center">
          <a href="/subtitling_community/how_to_contribute#subtitling"><figure class="img-index-how-subtitling"></figure></a>
          <p class="beta mtl"><a href="/subtitling_community/how_to_contribute#segmenting">Subtitling</a></p>
        </div>
        <div class="unit size8 align-center">
          <a href="/subtitling_community/how_to_contribute#captioning"><figure class="img-index-how-captioning"></figure></a>
          <p class="beta mtl"><a href="/subtitling_community/how_to_contribute#captioning">Captioning</a></p>
        </div>
      </div>
      <div class="align-center ptx mtx">
        <a href="/sign_up?return_to=%2Fmy_profile" class="btn btn-primary btn-round btn-large btn-wide caps track-in-page hidden" data-action="sign_up" data-label="how" data-viewable="non-logged-in">Sign Up</a>
        <a href="http://support.viki.com/hc/en/requests/new?ticket_form_id=249068&amp;redirect_url=https://subber.viki.com/project_finder&amp;utm_source=Community-page&amp;utm_medium=CTA-button&amp;utm_content=Get-Started-button-Community" class="btn btn-primary btn-round btn-large btn-wide caps track-in-page hidden" data-action="find_project" data-label="how" data-viewable="logged-in">Get started</a>
        <em class="btn btn-link btn-large">or</em>
        <a class="btn btn-link btn-large caps pln track-in-page" data-action="learn_more" data-label="how" href="/subtitling_community/how_to_contribute">Learn more</a>
      </div>
    </div>
  </section>

  <section class="section2 section-bg-blue hidden" data-viewable="logged-in">
    <div class="container container2">
      <h1 class="page-title small-title">Submit a <span>Channel</span></h1>
      <p class="page-desc">All videos are located in Channels, which are often created and managed by community members. If you&#39;d like to create a Channel for a show, movie or artist that you don&#39;t see on Viki, you can start here.</p>
      <div class="align-center ptx mtx">
        <a href="#" class="btn btn-primary btn-round btn-large btn-wide" data-modal="data-modal-channel-intro">Start Submission</a>
      </div>



    </div>
  </section>
</div>