<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--<meta name="viewport" content="width=device-width,initial-scale=1">-->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
  <meta name="fragment" content="!">

  <title>{{appName}} - {{title}}</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="keywords" content="sub, vietsub, engsub, video, course">
  <meta name="description" content="VOTESUB everything is translated">

  <meta property="fb:app_id" content="152153228474804">
  <meta property="og:title" content="{{appName}} - {{title}}">
  <meta property="og:description" content="VOTESUB everything is translated">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://votesub.com">
  <meta property="og:image" content="/system/assets/img/logo.png">
  <meta property="og:site_name" content="VOTESUB everything is translated">
  <meta property="fb:admins" content="Jang">

  <!-- {{locals.config.cssFramework}} -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">

  {% for file in aggregatedassets.header.css %}
    <link rel="stylesheet" href="{{file}}">
  {% endfor %}

  {% for file in aggregatedassets.footer.css %}
    <link rel="stylesheet" href="{{file}}">
  {% endfor %}

  {% for file in aggregatedassets.header.js %}
    <script type="text/javascript" src="{{file}}"></script>
  {% endfor %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76414967-1', 'auto');
//    ga('send', 'pageview');

  </script>

  <script>jwplayer.key="Vkc+YYI5tqX9ypmHZWaUyPg1ZJbFq09lKyMWIJhtyvo=";</script>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
