<div ng-controller="RequestController as ctrl" layout="column" ng-cloak>
  <md-content layout-padding>
    <form name="requestForm" ng-submit="create(requestForm.$valid)">
      <md-input-container class="md-block">
        <label>Title</label>
        <input md-maxlength="100" required md-no-asterisk name="title" ng-model="request.title">
        <div ng-messages="requestForm.title.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 100 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>URL</label>
        <input required name="url" ng-model="request.url">
        <div ng-messages="requestForm.url.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary" type="submit">SUBMIT</md-button>
      </section>
    </form>
  </md-content>
</div>