<div ng-controller="RequestController as ctrl" ng-init="find();ctrl.getLanguages()" ng-cloak>
  <div class="list-page-top-row"></div>
  <!--<pre>{{requests}}</pre>-->
  <!--<pre>{{ctrl.hdrvars}}</pre>-->

  <div class="col-md-8">
    <div class="videogular-container card video-placeholder">
      <videogular vg-theme="ctrl.config.theme"
                  vg-player-ready="ctrl.onPlayerReady($API)">
        <vg-media vg-src="ctrl.source"
                  vg-youtube="rel=1;showinfo=1"
                  vg-tracks="ctrl.config.tracks">
        </vg-media>

        <vg-controls>
          <vg-play-pause-button></vg-play-pause-button>
          <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          </vg-scrub-bar>
          <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
          <vg-volume>
            <vg-mute-button></vg-mute-button>
            <vg-volume-bar></vg-volume-bar>
          </vg-volume>
          <vg-fullscreen-button></vg-fullscreen-button>
        </vg-controls>

        <!--<vg-overlay-play></vg-overlay-play>-->
        <vg-poster vg-url='ctrl.config.plugins.poster'></vg-poster>
      </videogular>
    </div>

    <md-content class="md-padding" id="request-video-info" layout="column" style="margin-bottom: 15px;" ng-if="ctrl.youtubeVideoInfo">
      <h2>{{ctrl.youtubeVideoInfo.title}}</h2>
      <div>
        <h4>{{ctrl.youtubeVideoInfo.channelTitle}}</h4>
        <md-button class="md-primary md-hue-1 pull-right" layout-align="end center" ng-click="ctrl.requestSub()">Gửi yêu cầu sub</md-button>
      </div>
    </md-content>

    <md-content class="md-padding" id="request-video-info" layout="column" style="margin-bottom: 15px;" ng-if="ctrl.request">
      <h2>{{ctrl.request.title}}</h2>
      <div>
        <h4>{{ctrl.request.user.name}}</h4>
        <!--<md-button class="md-primary md-hue-1 pull-right" layout-align="end center" ng-click="ctrl.requestSub()">Gửi yêu cầu sub</md-button>-->
      </div>
    </md-content>

    <md-content class="md-padding" layout-xs="column" layout="row">
      <!--<div flex-xs flex-gt-xs="25" layout="column" ng-repeat="req in requests">-->
        <!--<div class="request-card">-->
          <!--&lt;!&ndash; Header &ndash;&gt;-->
          <!--<div class="request-card-header" ng-click="ctrl.setVideo($index)">-->
            <!--&lt;!&ndash;<div class="request-card-header__avatar"></div><a href="#" class="request-card-header__follow">Follow</a>&ndash;&gt;-->
            <!--<a><img src="{{req.thumbnail}}" alt="{{req.title}}" style="width: 100%;"></a>-->
          <!--</div>-->
          <!--&lt;!&ndash; Content&ndash;&gt;-->
          <!--<div class="request-card-content">-->
            <!--<div class="request-card-content__username"><a href="#">{{req.title}}</a></div>-->
            <!--<div class="request-card-content__bio">{{req.voteCount}}</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; Footer&ndash;&gt;-->
          <!--<div class="request-card-footer">-->
            <!--<div class="request-card-footer__pens"> <i class="fa fa-thumbs-up" ng-class="req.voted.indexOf(userId) !== -1 ? 'liked' : ''" ng-click="ctrl.vote(req._id, $index)"></i>-->
              <!--<div class="label">Vote</div>-->
            <!--</div>-->
            <!--<div class="request-card-footer__followers"> <i class="fa fa-plus-circle"></i>-->
              <!--<div class="label">Subcriber</div>-->
            <!--</div>-->
            <!--<div class="request-card-footer__following"> <i class="fa fa-share-square"></i>-->
              <!--<div class="label">Share</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <ul class="media-list">

          <li class="media row" style="border-bottom: none;">
            <md-input-container md-no-float class="md-block">
              <i class="fa fa-search" style="font-size: 20px;float: left;color: #777;padding-right: 5px;margin-top: 6px;"></i>
              <input style="width: 96%" ng-model="ctrl.search" ng-change="ctrl.searchChange(ctrl.search)" type="text" placeholder="Search">
            </md-input-container>
          </li>

          <li class="media row" ng-repeat="req in requests">
            <div class="col m1 l1">
              <h1 class="request-rank request-rank{{$index + 1}}">{{$index + 1}}</h1>
            </div>
            <div class="media-left col s5 m4 l2">
              <a class="vkal-video media-thumbnail" ng-click="ctrl.setVideo($index)">
                <img alt="{{req.title}}" class="media-object responsive-img" height="107" itemprop="thumbnailUrl"
                     src="{{req.thumbnail}}">

                <!--<span class="badge-thumbnail badge badge-primary badge-medium uppercase">Fan Channel</span>-->
              </a>
            </div>
            <div class="media-body col s6 m6 l7">
              <h2 class="media-heading strong"><a class="vkal-video" href="javascript:void(0)" ng-click="ctrl.setVideo($index)"><span
                      class="uppercase"></span>{{req.title}}</a></h2>
              <div class="media-content">
                <div class="grey-text">
                  <span>Translate to: </span>
                  <!--<span>EN 0%</span>-->
                  <!--<span>•</span>-->
                  <span class="inline-block">{{req.language.language_description}}</span>
                </div>
                <p>
                  <!--<span>{{req.created_at | date : 'dd MM yyyy'}}</span>-->
                  <span class="hide-on-medium">
                    <!--Jpop-->
                    <a href="/users/{{req.user.username}}">{{req.user.name}}</a>
                  </span>
                  <span class="hide-on-small show-on-medium">
                    <!--Jpop-->
                    <a href="/users/{{req.user.username}}">{{req.user.name}}</a>
                  </span>
                </p>
              </div>
            </div>
            <div class="col m2 l2 text-center">
              <span><i class="fa fa-thumbs-up" style="font-size: 20px;color: #777;cursor: pointer" ng-click="ctrl.vote(req._id, $index)"></i> {{req.voteCount}}</span>
              <br>
              <br>
              <a facebook-feed-share class="facebookShare"
                 data-url='{{ ctrl.host +""+ req._id }}'
                 data-shares='shares'
                 data-caption='votesub.com'
                 data-picture='{{req.thumbnail}}'
                 data-name='{{req.title}}'
                 data-description="Awesome video">
                {{ shares }}
              </a>
            </div>
          </li>

        </ul>
    </md-content>

  </div>

  <div class="col-md-4">
    <md-content layout-padding>
      <h2 class="section-heading text-center"><span class="upercase">Gửi yêu cầu sub video</span></h2>
      <form name="requestForm" ng-submit="create(requestForm.$valid)">
        <md-input-container class="md-block">
          <label>Title</label>
          <input md-maxlength="100" required md-no-asterisk name="title" ng-model="request.title">
          <div ng-messages="requestForm.title.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 100 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>URL</label>
          <input required name="url" ng-model="request.url">
          <div ng-messages="requestForm.url.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <!--<label>please select category</label>-->
          <md-select name="language" ng-model="ctrl.selectedLanguage" placeholder="Chọn ngôn ngữ bạn muốn dịch" required>
            <md-option ng-repeat="lang in ctrl.languages" value="{{lang._id}}">{{lang.language_description}}</md-option>
          </md-select>
          <div ng-messages="myForm.language.$error">
            <div ng-message="required">{{'FORM_REQUIRED' | translate}}</div>
          </div>
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button class="md-raised md-primary" type="submit">SUBMIT</md-button>
        </section>
      </form>
      <!--<button ng-click="testToas()">SHOW TOAS</button>-->
    </md-content>
    <md-content class="md-padding" style="margin-top: 15px;" ng-init="findApproved()">
      <h2 class="section-heading text-center"><span class="upercase">Các yêu cầu đã được dịch</span></h2>
      <h4>{{ ctrl.approved.length < 1 ? 'Chưa có video nào được duyệt' : '' }}</h4>
      <ul class="media-list">

        <li class="media row" ng-repeat="req in ctrl.approved">
          <div class="media-left">
            <a class="vkal-video media-thumbnail">
              <img alt="{{req.title}}" class="media-object responsive-img" height="107" itemprop="thumbnailUrl"
                   src="{{req.thumbnail}}">

              <!--<span class="badge-thumbnail badge badge-primary badge-medium uppercase">Fan Channel</span>-->
            </a>
          </div>
          <div class="media-body">
            <h2 class="media-heading strong"><a class="vkal-video" href="javascript:void(0)"><span
                    class="uppercase"></span>{{req.title}}</a></h2>
            <div class="media-content">
              <!--<div class="grey-text">-->
                <!--<span>Translate to: </span>-->
                <!--<span>EN 0%</span>-->
                <!--<span>•</span>-->
                <!--<span class="inline-block">{{req.language.language_description}}</span>-->
              <!--</div>-->
              <p>
                <span am-time-ago="req.updated_at"></span>
                  <!--<span class="hide-on-medium">-->
                    <!--Jpop-->
                    <!--<a href="/users/{{req.user.username}}">{{req.user.name}}</a>-->
                  <!--</span>-->
                  <!--<span class="hide-on-small show-on-medium">-->
                    <!--Jpop-->
                    <!--<a href="/users/{{req.user.username}}">{{req.user.name}}</a>-->
                  <!--</span>-->
              </p>
            </div>
          </div>

        </li>

      </ul>
    </md-content>
  </div>
</div>