<section data-ng-controller="VideosController as ctrl" ng-init="getAllLanguage();getAllCategories()" class="col-md-6 col-md-offset-3">
  <div class="col-md-12 step-section">
    <!--<h3>Tutorial</h3>-->
    <!--<p style="border-bottom: 1px solid black">How to upload a video and subtitles, translator or edit them</p>-->
    <ul class="stepNav threeWide">
      <li ng-class="!uploadSuccess ? 'selected' : ''"><a href="" title="">{{'UPLOAD_STEP_1' | translate}}</a></li>
      <li ng-class="uploadSuccess ? 'selected' : ''"><a href="" title="">{{'UPLOAD_STEP_2' | translate}}</a></li>
      <li><a href="" title="">{{'UPLOAD_STEP_3' | translate}}</a></li>
    </ul>
  </div>

  <div ng-repeat="error in ctrl.createErrors">
    <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
  </div>

  <form name="myForm" class="col-md-12 step-section" ng-hide="uploadSuccess">
    <span class="badge">1</span>
    <div class="create-video-upload">
      <div class="step">{{'UPLOAD_STEP_1_TITLE' | translate}}</div>

      <!--<table class="table"  ng-show="submit">-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<th width="50%">Name</th>-->
          <!--<th ng-show="uploader.isHTML5">Size</th>-->
          <!--<th ng-show="uploader.isHTML5">Progress</th>-->
          <!--<th>Status</th>-->
          <!--&lt;!&ndash;<th>Actions</th>&ndash;&gt;-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr>-->
          <!--<td><strong class="ng-binding">{{video.title}}</strong></td>-->
          <!--<td nowrap="" class="ng-binding">{{fileSize | number:2}} MB</td>-->
          <!--<td >-->
            <!--<div class="progress" style="margin-bottom: 0;">-->
              <!--<div><uib-progressbar class="progress-striped" value="picFile.progress || 0" type="warning">{{picFile.progress || 0}}%</uib-progressbar></div>-->
            <!--</div>-->
          <!--</td>-->
          <!--<td class="text-center">-->
            <!--<span ng-show="picFile.result" class="text-success pull-left">{{'UPLOAD_STEP_1_UPLOAD_SUCCESS' | translate}}</span>-->
            <!--<span class="text-danger" ng-show="errorMsg">{{errorMsg}}</span>-->
          <!--</td>-->
         <!---->
        <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->

      <!--<div ngf-drop ngf-select class="drop-box" type="file" ng-hide="submit"-->
           <!--ngf-drag-over-class="dragover"-->
           <!--ng-model="picFile"-->
           <!--name="file"-->
           <!--accept="video/mp4"-->
           <!--ngf-drag-over-class="'dragover'"-->
           <!--ngf-pattern="video/mp4"-->
           <!--ngf-change="selectVideo($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"-->
           <!--ngf-change="uploadChange()">-->
        <!--<span ng-hide="videoSelected">{{'UPLOAD_STEP_1_DROPFILE_OR_CLICK' | translate}}</span><br>-->
        <!--<span ng-show="videoSelected">{{videoInfo.name}}</span><br>-->
        <!--<span ng-show="videoSelected">{{videoInfo.size/(1024*1024) | number:2}} Mb</span><br>-->

      <!--</div>-->
      <!--<h5>Or enter Youtube url</h5>-->

      <md-input-container class="md-block" style="margin-top: 50px;">
        <!--<label>Youtube Video</label>-->
        <input type="text"
               name="youtubeUrl"
               ng-model="youtube"
               ng-hide="submit"
               placeholder="Youtube URL eg: https://www.youtube.com/watch?v=c6Gg4DoGiZo"
               ng-pattern="/^https\:\/\/www\.youtube\.com\/watch\?v\=/"
               required>
        <div ng-messages="myForm.youtubeUrl.$error">
          <div ng-message="required">{{'FORM_REQUIRED' | translate}}</div>
          <div ng-message-exp="['required', 'pattern']">
            Bạn phải điền vào link youtube đúng với định dạng!
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>{{'UPLOAD_STEP_1_VIDEO_TITLE' | translate}}</label>
        <input name="title" ng-model="title" ng-hide="submit" required>
        <div ng-messages="myForm.title.$error" multiple md-auto-hide="true">
          <div ng-message="required">{{'FORM_REQUIRED' | translate}}</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <md-select name="channel" placeholder="Chọn kênh" ng-model="ctrl.selectedChannel" md-on-open="getChannelByUser()" required>
          <md-option ng-repeat="channel in channels" ng-value="channel._id" >
            <md-list-item>
              <img ng-src="{{ channel.avatar }}" alt="{{ channel.name }}" class="md-avatar">
              <p>{{channel.name}}</p>
            </md-list-item>
          </md-option>
        </md-select>
        <div ng-messages="myForm.channel.$error">
          <div ng-message="required">Vui lòng chọn kênh</div>
        </div>
      </md-input-container>

      <!--<input type="text" ng-model="youtube" placeholder="eg: https://www.youtube.com/watch?v=c6Gg4DoGiZo" ng-hide="submit" style="width: 100%;">-->
      <div class="create-video-title" style="margin-top: 5px;" ng-hide="submit">
        <!--<h5>Title</h5>-->
        <!--<input type="text" name="videoTitle" ng-model="title" placeholder="Enter the title" style="width: 100%;" required ng-disabled="uploadSuccess">-->

        <!--<h5>Select Category</h5>-->
        <md-input-container class="md-block">
        <!--<label>please select category</label>-->
          <md-select name="category" multiple ng-model="ctrl.selectedCategories" placeholder="{{'UPLOAD_STEP_1_SELECT_CATEGORY' | translate}}" required>
            <md-option ng-repeat="cate in categories" ng-value="cate._id">{{cate.name}}</md-option>
          </md-select>
          <div ng-messages="myForm.category.$error">
            <div ng-message="required">{{'FORM_REQUIRED' | translate}}</div>
          </div>
        </md-input-container>

        <!--<h5>Tags</h5>-->
        <div style="margin: 25px 0">
          <md-chips
                  ng-model="ctrl.tags"
                  md-separator-keys="ctrl.keys"
                  placeholder="{{'UPLOAD_STEP_1_SELECT_TAGS_2' | translate}}"
                  secondary-placeholder="{{'UPLOAD_STEP_1_SELECT_TAGS' | translate}}">
          </md-chips>
          <div class="hint" style="color: rgba(0, 0, 0, 0.258824)">{{'UPLOAD_STEP_1_SELECT_TAGS_HINT' | translate}}</div>
        </div>

        <md-input-container class="md-block">
          <label>Mô tả video</label>
          <textarea ng-model="ctrl.description" md-maxlength="300" rows="5"></textarea>
        </md-input-container>

        <div class="text-center" style="margin: 10px auto;">
          <!--<button type="button" class="btn btn-sm btn-default" ng-click="uploadPic(picFile)" ng-disabled="">{{'UPLOAD_STEP_1_UPLOAD_BUTTON' | translate}}</button>-->
          <md-button class="md-raised md-primary" ng-click="uploadPic(picFile)" ng-disabled="myForm.$invalid">{{'UPLOAD_STEP_1_UPLOAD_BUTTON' | translate}}</md-button>
        </div>
      </div>
      <!--<div class="description">-->
        <!--<small>*Your video do not have a caption, add a caption by click the button below</small>-->
      <!--</div>-->
    </div>
  </form>

  <div class="create-upload-caption step-section col-md-12" ng-class="!uploadSuccess ? 'gray-not-upload': '' " data-ng-controller="VideosPlusController">
    <span class="badge">2</span>
    <form name="uploadForm">
      <div>
        <div class="step">Upload phụ đề của bạn hoặc <span class="pull-right"><md-button href="/subtitler/{{ videoId }}" class="md-raised md-primary">Tạo phụ đề</md-button></span></div>
        <div class="row" style="margin-top: 30px;">
          <div class="col-md-12">
            <!--<span>VIDEO TEST</span>-->
            <video controls ngf-src="picFile" style="width: 100%"></video>
          </div>
          <div class="col-md-12" ng-show="fileSelected">
            <span>Editor subtitle</span>
            <div id="display" style="height: 295px"></div>
          </div>
        </div>
        <div class="alert alert-success" role="alert" ng-show="message">{{message}}</div>
        <!--<span class="btn btn-success btn-file btn-xs upload-caption" ng-hide="message" ng-disabled="!uploadSuccess">-->
              <input ngf-drop ngf-select class="drop-box" name="captionFile" type="file" id="ttFile"
                                              ng-disabled="!uploadSuccess"
                                              ng-hide="message"
                     ngf-change="upload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                                              accept="text/vtt, application/ttml+xml" required><i class="fa fa-cloud-upload"/>Upload exiting caption file
              <p ng-show="uploadForm.captionFile.$error.required" class="text-danger">*required</p>
        <!--</span>-->
      </div>

      <div style="margin: 10px auto;" class="text-center" ng-hide="message">
        <h5>Language:</h5>
        <select  name="languageSelect" id="languages" class="minimal" ng-options="lang.language_description for lang in languages track by lang._id" ng-model="language" required>
          <option value="">Select Language</option>
        </select>
      </div>
      <div class="text-center" style="margin: 10px auto">
        <button id="saveCaption" class="btn btn-default btn-md" style="margin-left: 25px;" ng-click="shoot()" ng-disabled="!uploadForm.$valid || !uploadSuccess" ng-hide="message">Save Caption</button>
      </div>

    </form>

  </div>

  <div class="create-caption-translator step-section col-md-12 text-center" ng-class="!uploadSuccess ? 'gray-not-upload': '' " ng-controller="VideosPlusController">
    <span class="badge">3</span>
    <div class="step">Translatate your caption to other language</div>
    <form name="testForm" ng-submit="testSubmit()">
    <input type="hidden" ng-model="videoId">
    <input type="hidden" ng-model="capId" id="captionId">
    <button class="btn btn-default btn-md" style="width: 200px; margin-left: 10px;" ng-click="translator();hideButton = true" ng-disabled="!uploadSuccess" ng-hide="hideButton">Translate</button>
    </form>
    <div class="alert alert-warning" role="alert" ng-show="startTranslate">
      <p>Translating in progress.....please wait!!</p>
      <svg width='40px' height='40px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-gears"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><g transform="translate(-20,-20)"><path d="M79.9,52.6C80,51.8,80,50.9,80,50s0-1.8-0.1-2.6l-5.1-0.4c-0.3-2.4-0.9-4.6-1.8-6.7l4.2-2.9c-0.7-1.6-1.6-3.1-2.6-4.5 L70,35c-1.4-1.9-3.1-3.5-4.9-4.9l2.2-4.6c-1.4-1-2.9-1.9-4.5-2.6L59.8,27c-2.1-0.9-4.4-1.5-6.7-1.8l-0.4-5.1C51.8,20,50.9,20,50,20 s-1.8,0-2.6,0.1l-0.4,5.1c-2.4,0.3-4.6,0.9-6.7,1.8l-2.9-4.1c-1.6,0.7-3.1,1.6-4.5,2.6l2.1,4.6c-1.9,1.4-3.5,3.1-5,4.9l-4.5-2.1 c-1,1.4-1.9,2.9-2.6,4.5l4.1,2.9c-0.9,2.1-1.5,4.4-1.8,6.8l-5,0.4C20,48.2,20,49.1,20,50s0,1.8,0.1,2.6l5,0.4 c0.3,2.4,0.9,4.7,1.8,6.8l-4.1,2.9c0.7,1.6,1.6,3.1,2.6,4.5l4.5-2.1c1.4,1.9,3.1,3.5,5,4.9l-2.1,4.6c1.4,1,2.9,1.9,4.5,2.6l2.9-4.1 c2.1,0.9,4.4,1.5,6.7,1.8l0.4,5.1C48.2,80,49.1,80,50,80s1.8,0,2.6-0.1l0.4-5.1c2.3-0.3,4.6-0.9,6.7-1.8l2.9,4.2 c1.6-0.7,3.1-1.6,4.5-2.6L65,69.9c1.9-1.4,3.5-3,4.9-4.9l4.6,2.2c1-1.4,1.9-2.9,2.6-4.5L73,59.8c0.9-2.1,1.5-4.4,1.8-6.7L79.9,52.6 z M50,65c-8.3,0-15-6.7-15-15c0-8.3,6.7-15,15-15s15,6.7,15,15C65,58.3,58.3,65,50,65z" fill="#8f7f59"><animateTransform attributeName="transform" type="rotate" from="90 50 50" to="0 50 50" dur="1s" repeatCount="indefinite"></animateTransform></path></g><g transform="translate(20,20) rotate(15 50 50)"><path d="M79.9,52.6C80,51.8,80,50.9,80,50s0-1.8-0.1-2.6l-5.1-0.4c-0.3-2.4-0.9-4.6-1.8-6.7l4.2-2.9c-0.7-1.6-1.6-3.1-2.6-4.5 L70,35c-1.4-1.9-3.1-3.5-4.9-4.9l2.2-4.6c-1.4-1-2.9-1.9-4.5-2.6L59.8,27c-2.1-0.9-4.4-1.5-6.7-1.8l-0.4-5.1C51.8,20,50.9,20,50,20 s-1.8,0-2.6,0.1l-0.4,5.1c-2.4,0.3-4.6,0.9-6.7,1.8l-2.9-4.1c-1.6,0.7-3.1,1.6-4.5,2.6l2.1,4.6c-1.9,1.4-3.5,3.1-5,4.9l-4.5-2.1 c-1,1.4-1.9,2.9-2.6,4.5l4.1,2.9c-0.9,2.1-1.5,4.4-1.8,6.8l-5,0.4C20,48.2,20,49.1,20,50s0,1.8,0.1,2.6l5,0.4 c0.3,2.4,0.9,4.7,1.8,6.8l-4.1,2.9c0.7,1.6,1.6,3.1,2.6,4.5l4.5-2.1c1.4,1.9,3.1,3.5,5,4.9l-2.1,4.6c1.4,1,2.9,1.9,4.5,2.6l2.9-4.1 c2.1,0.9,4.4,1.5,6.7,1.8l0.4,5.1C48.2,80,49.1,80,50,80s1.8,0,2.6-0.1l0.4-5.1c2.3-0.3,4.6-0.9,6.7-1.8l2.9,4.2 c1.6-0.7,3.1-1.6,4.5-2.6L65,69.9c1.9-1.4,3.5-3,4.9-4.9l4.6,2.2c1-1.4,1.9-2.9,2.6-4.5L73,59.8c0.9-2.1,1.5-4.4,1.8-6.7L79.9,52.6 z M50,65c-8.3,0-15-6.7-15-15c0-8.3,6.7-15,15-15s15,6.7,15,15C65,58.3,58.3,65,50,65z" fill="#9f9fab"><animateTransform attributeName="transform" type="rotate" from="0 50 50" to="90 50 50" dur="1s" repeatCount="indefinite"></animateTransform></path></g></svg>
    </div>
    <div class="alert alert-success" role="alert" ng-show="translateDone">Translate success</div>
    <div class="description" style="margin-top: 10px;">
      <small>Translate your caption to other language (it will take several second)</small>
    </div>

    <div class="" style="margin-top: 40px;">
      <!--<a class="btn btn-info">Editor Subtitles</a>-->
      <a href="/videos/{{video._id}}/edit" class="btn btn-default">Go Step 3 >></a>
    </div>
  </div>

  <!--<div class="col-md-12" data-ng-controller="VideosPlusController as ctrl" >-->
    <!--<div class="text-center step-section" style="margin-top: 40px;" ng-disabled="!message">-->
      <!--&lt;!&ndash;<a class="btn btn-info">Editor Subtitles</a>&ndash;&gt;-->
      <!--<a href="/videos/{{video._id}}/edit" class="btn btn-success">Go Step 3</a>-->
    <!--</div>-->
  <!--</div>-->

</section>





