<section data-ng-controller="VideosController" data-ng-init="findOne(); findVideoCaption();getAllLanguage()" class="row page-section" style="min-height: 100%">

  <div data-ng-controller="VideosPlusController as ctrl">

    <h3>Tutorial</h3>
    <!--<p>How to upload a video and subtitles, translator or edit them</p>-->

    <!--<div class="edit-all-step row" style="margin-top: 30px;border-bottom: 1px solid black;">-->
      <!--<span class="col-md-4 step">Step1: Upload your video <span class="glyphicon glyphicon-ok" style="color: #1f75b8"></span></span>-->
      <!--<span class="col-md-4 step">Step2: Upload your subtitle <span class="glyphicon glyphicon-ok" style="color: #1f75b8"></span></span>-->
      <!--<span class="col-md-4 step">Step3: Translate your subtitle <span class="glyphicon glyphicon-ok" style="color: #1f75b8"></span></span>-->
    <!--</div>-->
    <input type="hidden" id="ttFile">

    <!--<p class="step" style="margin-top: 30px;">Step 4: Edit your subtitles</p>-->

      <div class="grayNoVideo row">
        <div class="col-md-6">
          <h4><a href="/videos/{{video._id}}">Video: {{video.title}}</a></h4>
          <videogular style="height: 420px;"
                      vg-player-ready="ctrl.onPlayerReady($API)"
                      vg-complete="ctrl.onCompleteVideo()"
                      vg-error="ctrl.onError($event)"
                      vg-update-time="ctrl.onUpdateTime($currentTime, $duration)"
                      vg-update-volume="ctrl.onUpdateVolume($volume)"
                      vg-update-state="ctrl.onUpdateState($state)"
                      vg-seeking="ctrl.onSeeking($currentTime, $duration)"
                      vg-seeked="ctrl.onSeeked($currentTime, $duration)"
                      vg-theme="ctrl.config.theme.url"
                      vg-auto-play="ctrl.config.autoPlay"
                      vg-plays-inline="ctrl.config.playsInline"
                      vg-native-fullscreen="ctrl.config.nativeFullscreen"
                      vg-clear-media-on-navigate="false"
                      vg-width="ctrl.config.width"
                      vg-responsive="ctrl.config.responsive">
            <vg-media vg-src="source"
                      vg-tracks="ctrl.config.tracks"
                      vg-loop="ctrl.config.loop"
                      vg-preload="ctrl.config.preload"
                      vg-native-controls="ctrl.config.controls"
                      vg-youtube="rel=1;showinfo=1">
            </vg-media>

            <vg-controls>
              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              </vg-scrub-bar>
              <div class="control-bottom">
                <vg-play-pause-button></vg-play-pause-button>
                <vg-volume ng-mouseover="ctrl.test()">
                  <vg-mute-button></vg-mute-button>
                  <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-time-display style="font-size: 13px">{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                <div class="my-button" style="width: 10px;color: #eee">/</div>
                <vg-time-display style="font-size: 13px">{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                <my-stop-button></my-stop-button>
                <!--<vg-playback-button></vg-playback-button>-->
                <!--<div class='my-button iconButton'><a>LOGO</a></div>-->
                <!--<caption-ctrl captions-list="ctrl.config.plugins.subtitle"></caption-ctrl>-->
                <!--<vg-fullscreen-button></vg-fullscreen-button>-->
              </div>
            </vg-controls>
            <div class='caption-area' id=""></div>

            <vg-analytics vg-track-info="ctrl.config.plugins.analytics"></vg-analytics>
            <vg-buffering></vg-buffering>
            <my-replay-plugin></my-replay-plugin>
            <vg-overlay-play></vg-overlay-play>
            <!--<vg-poster vg-url='ctrl.config.plugins.poster'></vg-poster>-->
          </videogular>
          <!--<div id="captionTitle" class="captionTitle">-->
            <!--&nbsp;</div>-->
          <!--<div>-->
            <!--<textarea id="textCaptionEntry" class="textCaptionEntry"></textarea>-->
          <!--</div>-->
          <!--<div style="margin-top: 6px; text-align: center;">-->
            <!--<div style="display: inline-block; margin-left: auto; margin-right: auto;">-->
              <!--<button id="playButton">-->
                <!--Play-->
              <!--</button>-->
              <!--<button id="pauseButton" style="margin-left: 2em;">-->
                <!--Pause-->
              <!--</button>-->
              <!--<button id="justSaveCaption" style="margin-left: 2em;">-->
                <!--Save-->
              <!--</button>-->
              <!--<button id="saveCaptionAndPlay" style="margin-left: 2em;">-->
                <!--Save &amp; Continue-->
              <!--</button>-->
            <!--</div>-->
          <!--</div>-->
        </div>


        <div combine-horizontal-scrolls="horizontal-scroll" class="col-md-6" ng-hide="showUploadCaption">

          <div class="col-md-12">
            <span class="pull-left">Edit subtitles</span>
            <!--<a class="btn btn-danger pull-right" href="/videos">Public your video</a>-->
          </div>

          <div class="col-md-12">
            <div class="subbing-hd">
              <div class="lang-selection">
                <fieldset class="inner clearfix">
                  <div class="col" data-intro="Choose a language to translate from." data-step="1">
                    <label class="label">Translating From:</label>
                    <select name="LanguagesSelect" id="fromLanguagesSelect" ng-options="lang.language_description for lang in languages track by lang._id" ng-model="fromLangSelected" ng-change="selectFromLang()">
                      <option value="">---select Language---</option>
                    </select>
                  </div>
                  <div class="col" data-intro="Choose a language to translate to" data-step="2">
                    <label class="label">
                      <!--<span id="current_completion" class="tag tag-small pull-right">0 %</span>-->
                      To:
                    </label>
                    <select name="LanguagesSelect" id="toLanguagesSelect" ng-options="lang.language_description for lang in languages track by lang._id" ng-model="toLangSelected" ng-change="selectToLang()">
                      <option value="">---select Language---</option>
                    </select>
                  </div>
                </fieldset>
              </div>
              <!--<div class="quick-links clearfix">-->
              <!--<a id="refreshsegments" data-event-label="refresh-translations" href="#">Refresh</a>-->
              <!--<a id="showkeyboard" data-event-label="show-shortcut" href="#">Shortcuts</a>-->
              <!--<a id="showhelptut" data-event-label="show-tutorial" data-intro="If you want to show tutorial again, you can click this button." data-step="5" href="#">Tutorial</a>-->
              <!--</div>-->
            </div>

            <div class="" style="height: 355px; overflow: auto;">
              <div class="col-md-6">
                <!--<label for="fromLanguagesSelect">From Language</label>-->
                <!--<select name="LanguagesSelect" id="fromLanguagesSelect" ng-options="lang.name for lang in languages track by lang._id" ng-model="fromLangSelected" ng-change="selectFromLang()">-->
                <!--<option value="">-&#45;&#45;select Language-&#45;&#45;</option>-->
                <!--</select>-->

                <div class="captionDisplay horizontal-scroll">
                </div>

                <div class="segment-card-item" id="ci{{$index}}" ng-repeat="sentence in fromLanguageCaption.sentence">
                  <div class="card-translate translate-js">
                    <div class="card-lang from from-lang-js">
                      <div class="card-time pull-right">
                        <div class="inner">
                          <time class="time-item start-time start-time-js">{{sentence[0].timeStart | formatTime}}</time>
                          <time class="time-item end-time"><span> - </span> <span class="end-time-js">{{sentence[0].timeEnd | formatTime}}</span></time>
                        </div>
                      </div>
                      <div class="card-origin-content" style="color: rgba(192, 21, 21, 0.24);">Sentence {{ sentence[0].order }}</div>
                      <div class="card-lang to">
                        <textarea disabled class="textedit textedit-js" dir="ltr" maxlength="255" ng-model="sentence[0].text"></textarea>
                      </div>
                      <!--<div class="textedit textedit-js">{{sentence.text}}</div>-->
                    </div>

                  </div>

                  <!--<div class="action-bar">-->
                    <!--<div class="card-username pull-right">-->
                      <!--<i class="caret"></i>-->

                    <!--</div>-->
                    <!--<div class="card-actions-status"></div>-->
                  <!--</div>-->
                </div>

                <!--<div class="from-language horizontal-scroll segment-card-item">-->
                <!--<div class="sentence" id="ci{{$index}}" ng-repeat="sentence in fromLanguageCaption.sentence" style="height: 70px;display: block;">{{sentence.text}}</div>-->
                <!--</div>-->
                <!--<div style="margin-top: 6px;">-->
                <!--<button id="clearAllCaptions">save</button>-->
                <!--</div>-->
              </div>



              <div class="col-md-6">
                <!--<label for="toLanguagesSelect">To Language</label>-->
                <!--<select name="LanguagesSelect" id="toLanguagesSelect" ng-options="lang.name for lang in languages track by lang._id" ng-model="selectedLanguage" ng-change="changeLang()">-->
                <!--<option value="">-&#45;&#45;select Language-&#45;&#45;</option>-->
                <!--</select>-->
                <!--<form ng-submit="">-->
                  <!--<div id="edit-caption" class="from-language horizontal-scroll">-->
                  <!--<div ng-repeat="sentence in captionToEdit.sentence">-->
                  <!--<textarea style="width: 100%; height: 70px;" ng-model="sentence.text"></textarea>-->
                  <!--</div>-->
                  <!--</div>-->

                  <div class="segment-card-item" ng-repeat="sentence in captionToEdit.sentence" data-order="{{$index}}">
                    <div class="card-translate translate-js">
                      <div class="card-lang from from-lang-js">
                        <div class="card-time pull-right">
                          <div class="inner">
                            <time class="time-item start-time start-time-js">{{sentence[0].timeStart | formatTime}}</time>
                            <time class="time-item end-time"><span> - </span> <span class="end-time-js">{{sentence[0].timeEnd | formatTime}}</span></time>
                          </div>
                        </div>
                        <div class="card-origin-content" style="color: rgba(192, 21, 21, 0.24);">Sentence {{ sentence[0].order }}</div>
                        <div class="card-lang to">
                          <textarea class="textedit textedit-js textedit-unsubbed"
                                    dir="ltr" maxlength="255"
                                    ng-model="sentence[0].text"
                                    ng-trim="false"
                                    maxlength="255"
                                    data-id="{{$index}}"
                                    ng-focus="handleFocus($index)"
                                    ng-blur="handleBlur(sentence[0].text, sentence[0].order)">
                          </textarea>
                        </div>
                        <!--<div class="card-origin-content">{{sentence.text}}</div>-->
                      </div>

                    </div>

                    <div class="action-bar" id="action-{{$index}}" style="display: none;" data-order="{{sentence[0].order}}">
                      <div class="card-username pull-right">
                        <i class="caret"></i>
                        {{sentence[0].authorId.name}}
                      </div>

                      <!--save status - hide action-->
                      <!--<div class="card-actions-status"><div class="success"><i class="icon-check-alt pull-left"></i> Saved.</div></div>-->

                      <div class="card-actions-status"></div>
                      <ul class="card-actions pull-left pbs pls">
                        <li class="card-char">
                          Characters left: <span class="js-counter">{{255 - sentence[0].text.length}}</span>
                        </li>
                        <li class="card-lang-action pos-left card-save">
                          <a href="javascript:void(0);" class="action-save tooltip-north tooltip-left" ng-click="editSubmited($index)">
                            Save
                            <!--<span class="tip">Shortcut key: Tab (also move to next segment)</span>-->
                          </a>
                        </li>
                        <li class="card-lang-action pos-left card-cancel">
                          <a href="javascript:void(0);" class="action-cancel tooltip-north">
                            Cancel
                            <!--<span class="tip">Shortcut key: Esc</span>-->
                          </a>
                        </li>
                        <li class="pos-left divider"></li>
                        <li class="card-lang-action pos-left card-replay" data-loading>
                          <a href="javascript:void(0)" class="action-replay tooltip-north">
                            <i class="icon-refresh"></i>
                            <!--<span class="tip">Replay segment (Ctrl + R)</span>-->
                          </a>
                        </li>
                        <li class="pos-left divider card-his-count-group"></li>
                        <li class="card-lang-action pos-left card-his-count card-his-count-group">
                          <a href="javascript:void(0)" class="action-history tooltip-north" data-order="{{ $index }}">
                            <span class="plus">+</span>{{ sentence.length }}
                            <!--<span class="tip">History</span>-->
                          </a>
                        </li>
                      </ul>
                    </div>

                    <!--history card-->
                    <div class="history-wrapper history-wrapper-{{ $index }}"><div class="card-lang-history">
                      <div class="hd">
                        Other contributed sentence
                        <div class="spinner hidden"></div>
                      </div>

                      <ul class="card-history-items" ng-repeat="subsentence in sentence">
                        <li class="item item-active">
                          <div class="hd">

                            <a href="/user/{{ subsentence.authorId._id }}" class="item-user" target="_blank">{{ subsentence.authorId.name }}</a>

                            <span class="muted"> | </span>
                            <span class="item-date" am-time-ago="subsentence.created_at"></span>
                            <a href="#" class="item-delete"></a>
                          </div>
                          <div class="bd">
                            <!--<div class="item-select pull-right">-->
                              <!--<input type="radio" class="radio-button" name="historRadio-40245522">-->
                            <!--</div>-->
                            {{ subsentence.text }}
                          </div>
                        </li>
                      </ul>
                    </div>
                    </div>

                  </div>

                  <!--<button type="submit" class="btn btn-info">Save</button>-->
                <!--</form>-->

                <!--<div style="margin-top: 6px;">-->
                <!--<button id="clearAllCaptions">Clear All</button>-->
                <!--</div>-->
              </div>
            </div>
            <a href="/videos/{{video._id}}" class="btn btn-success pull-right">Watch video</a>
          </div>

        </div>

      </div>
    </div>

  </div>
</section>