<div id="masthead-appbar-container" class="clearfix">
  <div id="masthead-appbar">
    <div id="appbar-content" class="">
      <div id="appbar-nav" class="appbar-content-hidable">
        <ul class="appbar-nav-menu">
          <li>
            <h2 class="epic-nav-item-heading " aria-selected="true" style="margin-bottom: 0;">Trang chủ</h2>
          </li>
          <li>
            <a href="/feed/trending" class="vs-uix-button   spf-link vs-uix-sessionlink vs-uix-button-epic-nav-item vs-uix-button-size-default" aria-selected="false">
              <span class="vs-uix-button-content">Thịnh hành</span>
            </a>
          </li>
          <li>
            <a href="/feed/subscriptions" class="vs-uix-button spf-link vs-uix-sessionlink vs-uix-button-epic-nav-item vs-uix-button-size-default" aria-selected="false">
              <span class="vs-uix-button-content">Đăng ký</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="list-page-container branded-page-base-bold-titles list-page-container-flex-width list-page-secondary-column-hidden"  data-ng-controller="ListVideoController as vm" data-ng-init="vm.findVideo()">
  <div class="list-page-top-row"></div>

  <div class="list-page-col-container">
    <div class="list-page-col-container-inner">
      <div class="list-page-primary-col">
        <div class="vs-card clearfix">
          <div class="list-page-primary-col-header-container list-page-primary-column-content"></div>

          <div class="list-page-body list-page-primary-column-content">
            <div id="feed">
              <div id="feed-main-what_to_watch" class="individual-feed">
                <ol class="section-list" style="list-style: none;padding: 0;">

                  <li>

                    <ol id="item-section" class="item-section" style="padding: 0">
                      <li>
                        <div class="feed-item-container browse-list-item-container vs-section-hover-container compact-shelf shelf-item branded-page-box clearfix">
                          <div class="feed-item-dismissable">

                            <div class="shelf-title-table">
                              <div class="shelf-title-row">
                                <h2 class="branded-page-module-title shelf-title-cell">
                                  <div class="vs-lockup-thumbnail">
                                    <div class="vs-thumb video-thumb">
                                      <span class="vs-thumb-simple">
                                        <img alt="" width="20" height="20" src="{{ value[0].channel.avatar }}" class="hoverZoomLink">
                                      </span>
                                    </div>
                                  </div>
                                  <a ng-href="/channel/{{ value[0].channel._id }}/home" class="vs-uix-sessionlink branded-page-module-title-link spf-link">
                                    <span class="branded-page-module-title-text">Hiện đang phổ biến</span>
                                  </a>
                                  <!--<md-input-container>-->
                                  <!--&lt;!&ndash;<label>Sort by</label>&ndash;&gt;-->
                                  <!--<md-select ng-model="vm.query.order" placeholder="Sort by" md-on-close="vm.findVideo()">-->
                                  <!--<md-option ng-repeat="sort in vm.sort" value="{{sort.value}}">-->
                                  <!--{{sort.display}}-->
                                  <!--</md-option>-->
                                  <!--</md-select>-->
                                  <!--</md-input-container>-->
                                  <!--<md-input-container>-->
                                  <!--&lt;!&ndash;<label>Sort by</label>&ndash;&gt;-->
                                  <!--<md-select ng-model="vm.query.cate" md-on-close="vm.findVideo()" placeholder="Category">-->
                                  <!--<md-option value="">All</md-option>-->
                                  <!--<md-option ng-repeat="cate in vm.categories" value="{{cate._id}}">-->
                                  <!--{{cate.name}}-->
                                  <!--</md-option>-->
                                  <!--</md-select>-->
                                  <!--</md-input-container>-->
                                </h2>
                                <div class="menu-container shelf-title-cell"></div>
                              </div>
                            </div>

                            <div class="multirow-shelf">
                              <div class="vs-uix-expander vs-uix-expander-collapsed">
                                <ul class="shelf-content vs-uix-expander-body">

                                  <video-list videos="vm.videos.popularVideos"></video-list>

                                </ul>
                              </div>
                            </div>

                          </div>
                        </div>

                      </li>

                      <li>
                        <div class="feed-item-container browse-list-item-container vs-section-hover-container compact-shelf shelf-item branded-page-box clearfix">
                          <div class="feed-item-dismissable">

                            <div class="shelf-title-table">
                              <div class="shelf-title-row">
                                <h2 class="branded-page-module-title shelf-title-cell">
                                  <div class="vs-lockup-thumbnail">
                                    <div class="vs-thumb video-thumb">
                                      <span class="vs-thumb-simple">
                                        <img alt="" width="20" height="20" src="{{ value[0].channel.avatar }}" class="hoverZoomLink">
                                      </span>
                                    </div>
                                  </div>
                                  <a ng-href="/channel/{{ value[0].channel._id }}/home" class="vs-uix-sessionlink branded-page-module-title-link spf-link">
                                    <span class="branded-page-module-title-text">Video mới nhất</span>
                                  </a>
                                </h2>
                                <div class="menu-container shelf-title-cell"></div>
                              </div>
                            </div>

                            <div class="multirow-shelf">
                              <div class="vs-uix-expander vs-uix-expander-collapsed">
                                <ul class="shelf-content vs-uix-expander-body">

                                  <video-list videos="vm.videos.latestVideos"></video-list>

                                </ul>
                              </div>
                            </div>

                          </div>
                        </div>

                      </li>

                      <li ng-repeat="channel in vm.videos.topChannel">
                        <div class="feed-item-container browse-list-item-container vs-section-hover-container compact-shelf shelf-item branded-page-box clearfix">
                          <div class="feed-item-dismissable">

                            <div class="shelf-title-table">
                              <div class="shelf-title-row">
                                <h2 class="branded-page-module-title shelf-title-cell">
                                  <div class="vs-lockup-thumbnail">
                                    <div class="vs-thumb video-thumb">
                                      <span class="vs-thumb-simple">
                                        <img alt="" width="20" height="20" src="{{ channel.channel.avatar }}" class="hoverZoomLink">
                                      </span>
                                    </div>
                                  </div>
                                  <a ng-href="/channel/{{ channel.channel._id }}/home" class="vs-uix-sessionlink branded-page-module-title-link spf-link">
                                    <span class="branded-page-module-title-text">{{ channel.channel.name }}</span>
                                  </a>
                                </h2>
                                <div class="menu-container shelf-title-cell"></div>
                              </div>
                            </div>

                            <div class="multirow-shelf">
                              <div class="vs-uix-expander vs-uix-expander-collapsed">
                                <ul class="shelf-content vs-uix-expander-body">

                                  <video-list videos="channel.videos"></video-list>

                                </ul>
                              </div>
                            </div>

                          </div>
                        </div>

                      </li>

                    </ol>

                  </li>
                </ol>

                <button ng-click="vm.loadMoreChannel()" ng-disabled="vm.disableLoadmore" class="vs-uix-button vs-uix-button-size-default vs-uix-button-default load-more-button vs-uix-load-more browse-items-load-more-button" type="button">
                  <span class="vs-uix-button-content">
                    <!--<span class="load-more-loading hid">-->
                      <!--<span class="vs-spinner">-->
                        <!--<span class="vs-spinner-img  vs-sprite" title="Loading icon"></span>-->
                        <!--Loading...-->
                      <!--</span>-->
                    <!--</span>-->
                    <!--<md-progress-circular md-mode="indeterminate"></md-progress-circular>-->
                    <span class="load-more-text">Load more</span>
                  </span>
                </button>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>