<section ng-controller="SearchController as ctrl" ng-cloak style="padding-top: 30px;">
  <!--<h1>{{ctrl.title}}</h1>-->
  <!--<h1 ng-show="ctrl.searchData.length < 1">Không có video nào tương ứng với từ khóa</h1>-->
  <header class="page-header" style="position: absolute;width: 100%;left: 0;top: -10px;">
    <div class="container">
      <h1 class="section-heading">Kết quả tìm kiếm cho từ khóa <q class="">{{ctrl.keyword}}</q></h1>
    </div>
  </header>

  <div layout="row" layout-sm="column">
    <div flex>
      <md-content class="md-padding" layout-xs="column" layout="column" layout-margin>

        <div style="border-bottom: 1px solid #e0e0e0;padding-bottom: 7px;">
          <h2 class="section-heading text-center"><span class="upercase">VIDEO ĐÃ ĐƯỢC SUB</span></h2>
        </div>

        <ul class="media-list">

          <li class="media row" ng-repeat="video in ctrl.searchData.server">
            <div class="media-left col s6 m5 l4">
              <a class="vkal-video media-thumbnail" href="/videos/{{video._id}}">
                <img alt="Flower" class="media-object responsive-img" height="107" itemprop="thumbnailUrl"
                     src="{{video.thumbnail}}">

                <span class="badge-thumbnail badge badge-primary badge-medium uppercase">Fan Channel</span>
              </a>
            </div>
            <div class="media-body col s6 m7 l8">
              <h2 class="media-heading strong"><a class="vkal-video" href="/videos/{{video._id}}"><span
                      class="uppercase"></span>{{video.title}}</a></h2>
              <div class="media-content">
                <div class="grey-text">
                  <span ng-repeat="lock in video.lockedLanguage">{{lock.language_symbol}} 100% • </span>
                  <!--<span>•</span>-->
                  <!--<span class="inline-block">Korea</span>-->
                </div>
                <p>
                  <span am-time-ago="video.created_at"></span>
                  <span>•</span>
                  <span>{{video.view}} lượt xem</span>
                  <!--<span class="hide-on-medium">-->
                    <!--Jpop-->
                    <!--<a href="/artists/22521c-flower">More</a>-->
                  <!--</span>-->
                  <!--<span class="hide-on-small show-on-medium">-->
                    <!--Jpop-->
                    <!--<a href="/artists/22521c-flower">More</a>-->
                  <!--</span>-->
                </p>
              </div>
            </div>
          </li>

        </ul>
      </md-content>

    </div>
    <div flex>
      <md-content class="md-padding" layout-xs="column" layout="column" layout-margin>

        <div style="border-bottom: 1px solid #e0e0e0;padding-bottom: 7px;">
          <h2 class="section-heading text-center"><span class="upercase">VIDEO CHƯA ĐƯỢC SUB</span></h2>
        </div>

        <ul class="media-list">

          <li class="media row" ng-repeat="video in ctrl.searchData.youtube.items" style="position: relative">
            <div class="media-left col s6 m5 l4">
              <a class="vkal-video media-thumbnail" href="/request?v={{video.id.videoId}}">
                <img alt="Flower" class="media-object responsive-img" height="107" itemprop="thumbnailUrl"
                     src="{{video.snippet.thumbnails.default.url}}">

                <!--<span class="badge-thumbnail badge badge-primary badge-medium uppercase">Fan Channel</span>-->
              </a>
            </div>
            <div class="media-body col s6 m7 l8">
              <h2 class="media-heading strong"><a class="vkal-video" href="/request?v={{video.id.videoId}}"><span
                      class="uppercase"></span>{{video.snippet.title}}</a></h2>
              <div class="media-content">
                <div class="grey-text">
                  <!--<span>{{video.snippet.publishedAt | date : 'dd - MM - yyyy'}}</span><br>-->
                  <span am-time-ago="video.snippet.publishedAt"></span>
                  <!--<span>EN 0%</span>-->
                  <!--<span>•</span>-->
                  <!--<span class="inline-block">Korea</span>-->
                </div>
                <p style="position: absolute;bottom: 0;right: 0">
                  <!--<span class="hide-on-medium">-->
                    <!--Jpop-->
                    <!--<a href="/users/{{req.user.username}}">More</a>-->
                  <!--</span>-->
                  <!--<span class="hide-on-small show-on-medium">-->
                    <!--Jpop-->
                    <!--<a href="/users/{{req.user.username}}">More</a>-->
                  <!--</span>-->
                  <md-button class="md-primary md-hue-1" ng-click="ctrl.requestSub(video)">Gửi yêu cầu sub</md-button>
                </p>
              </div>
            </div>
          </li>

        </ul>
      </md-content>

    </div>
  </div>

  <!--<pre>{{ctrl.searchData | json}}</pre>-->

</section>