<div id="masthead-appbar-container" class="clearfix">
  <div id="masthead-appbar">
    <div id="appbar-content" class="">
      <div id="appbar-nav" class="appbar-content-hidable">
        <ul class="appbar-nav-menu">
          <li>
            <a href="/videos" class="vs-uix-button   spf-link vs-uix-sessionlink vs-uix-button-epic-nav-item vs-uix-button-size-default" aria-selected="false">
              <span class="vs-uix-button-content">Trang chủ</span>
            </a>
          </li>
          <li>
            <a href="/feed/trending" class="vs-uix-button spf-link vs-uix-sessionlink vs-uix-button-epic-nav-item vs-uix-button-size-default" aria-selected="false">
              <span class="vs-uix-button-content">Thịnh hành</span>
            </a>
          </li>
          <li>
            <h2 class="epic-nav-item-heading " aria-selected="true" style="margin-bottom: 0;">Đăng ký</h2>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-controller="SubscriptionsController as vm">
  <div class="list-page-container branded-page-base-bold-titles list-page-container-flex-width list-page-secondary-column-hidden">
    <div class="list-page-top-row"></div>

    <div class="list-page-col-container">
      <div class="list-page-col-container-inner">
        <div class="list-page-primary-col">
          <div class="vs-card clearfix">
            <div class="list-page-primary-col-header-container list-page-primary-column-content"></div>

            <div class="list-page-body list-page-primary-column-content">
              <div id="feed">
                <div id="feed-main-what_to_watch" class="individual-feed">
                  <ol class="section-list" style="list-style: none;padding: 0;">
                    <li ng-repeat="item in vm.subscriptionsData">

                      <ol id="item-section" class="item-section" style="padding: 0">
                        <li>
                          <div class="feed-item-container browse-list-item-container vs-section-hover-container compact-shelf shelf-item branded-page-box clearfix">
                            <div class="feed-item-dismissable">

                              <div class="shelf-title-table">
                                <div class="shelf-title-row">
                                  <h2 class="branded-page-module-title shelf-title-cell">
                                    <div class="vs-lockup-thumbnail">
                                      <div class="vs-thumb video-thumb">
                                      <span class="vs-thumb-simple">
                                        <img alt="" width="20" height="20" src="{{ item.channel.avatar }}" class="hoverZoomLink">
                                      </span>
                                      </div>
                                    </div>
                                    <a ng-href="/channel/{{ item.channel._id }}/home" class="vs-uix-sessionlink branded-page-module-title-link spf-link">
                                      <span class="branded-page-module-title-text">{{ item.channel.name }}</span>
                                    </a>
                                  </h2>
                                  <div class="menu-container shelf-title-cell"></div>
                                </div>
                              </div>

                              <div class="multirow-shelf">
                                <div class="vs-uix-expander vs-uix-expander-collapsed">
                                  <ul class="shelf-content vs-uix-expander-body">

                                    <!--Video item-->
                                    <li class="vs-shelf-grid-item" ng-repeat="video in item.videos">
                                      <div class="vs-lockup vs-lockup-grid vs-lockup-video clearfix">
                                        <div class="vs-lockup-dismissable">
                                          <div class="vs-lockup-thumbnail contains-addto">
                                            <a aria-hidden="true" ng-href="/videos/{{video._id}}" class="vs-uix-sessionlink spf-link">
                                              <div class="vs-thumb video-thumb">
                                          <span class="vs-thumb-simple">
                                            <img ng-src="{{video.thumbnail}}" alt="" width="196" height="110">
                                          </span>
                                              </div>
                                              <span class="video-time" aria-hidden="true">subtitled</span>
                                            </a>
                                          </div>
                                          <div class="vs-lockup-content">
                                            <h3 class="vs-lockup-title contains-action-menu">
                                              <a ng-href="/videos/{{video._id}}" class="vs-uix-sessionlink  vs-ui-ellipsis vs-ui-ellipsis-2 spf-link">{{video.title | cut:true:48:'...'}}</a>
                                            </h3>
                                            <div class="vs-lockup-byline">
                                              <a ng-href="/channel/{{ video.channel._id }}/home" class="vs-uix-sessionlink g-hovercard spf-link">{{video.channel.name}}</a>
                                            </div>
                                            <div class="vs-lockup-meta">
                                              <ul class="vs-lockup-meta-info">
                                                <li>{{video.view}} lượt xem • </li>
                                                <li><span am-time-ago="video.created_at"></span></li>
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="vs-lockup-notifications-container hid"></div>
                                      </div>
                                    </li>
                                    <!--End video item-->

                                  </ul>
                                </div>
                              </div>

                            </div>
                          </div>

                        </li>
                      </ol>

                    </li>
                  </ol>

                  <!--<button ng-click="vm.loadMoreChannel()"-->
                          <!--ng-disabled="vm.disableLoadmore ? 'disabled' :  ''"-->
                          <!--class="vs-uix-button vs-uix-button-size-default vs-uix-button-default load-more-button vs-uix-load-more browse-items-load-more-button"-->
                          <!--type="button">-->
                  <!--<span class="vs-uix-button-content">-->
                    <!--<span class="load-more-loading hid">-->
                    <!--<span class="vs-spinner">-->
                    <!--<span class="vs-spinner-img  vs-sprite" title="Loading icon"></span>-->
                    <!--Loading...-->
                    <!--</span>-->
                    <!--</span>-->
                    <!--<md-progress-circular md-mode="indeterminate"></md-progress-circular>-->
                    <!--<span class="load-more-text">Load more</span>-->
                  <!--</span>-->
                  <!--</button>-->

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>