<section class="row" ng-controller="HomeController as home" ng-init="init()">
  <!--<md-toolbar class="md-primary"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-primary style</h2></div></md-toolbar>-->
  <!--<md-toolbar class="md-primary md-hue-1"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-primary md-hue-1 style</h2></div></md-toolbar>-->
  <!--<md-toolbar class="md-primary md-hue-2"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-primary md-hue-2 style</h2></div></md-toolbar>-->
  <!--<md-toolbar class="md-accent"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-accent style</h2></div></md-toolbar>-->
  <!--<md-toolbar class="md-accent md-hue-1"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-accent md-hue-1 style</h2></div></md-toolbar>-->
  <!--<md-toolbar class="md-accent md-hue-2"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-accent md-hue-2 style</h2></div></md-toolbar>-->
  <!--<md-toolbar class="md-warn"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-warn style</h2></div></md-toolbar>-->
  <!--<md-toolbar class="md-warn md-hue-1"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-warn md-hue-1 style</h2></div></md-toolbar>-->
  <!--<md-toolbar class="md-warn md-hue-2"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-warn md-hue-2 style</h2></div></md-toolbar>-->
  <div class="carousel-container">
    <div class="carousel carousel-wide">
      <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">

          <img class="thumbnail-poster" alt="The Three Heroes and Five Gallants " height="330" src="/videos/assets/img/votesub_banner_01.jpg" width="475">

          <a data-resource-id="30286c" href="/tv/30286c-the-three-heroes-and-five-gallants" class="carousel-play-action vkal-track " data-brick-ad="false"></a>

          <!--<div class="carousel-details thumbnail-overlay">-->
            <!--<div class="thumbnail-overlay-caption-container">-->
              <!--<div class="thumbnail-overlay-caption left-align">-->

                <!--<span class="country">China</span>-->
                <!--<div>-->
                  <!--<span class="strong">8.9</span>-->
                  <!--<i class="exclusive icon-star-rounded "></i>-->
                  <!--<span class="caption">(32 {{'RATINGS' | translate}})</span>-->
                <!--</div>-->
                <!--<h2 class="carousel-title headline">-->
                  <!--<span class="uppercase strong carousel-title-badge"></span><a class="vkal-track" href="/tv/30286c-the-three-heroes-and-five-gallants">The Three Heroes and Five Gallants </a>-->
                <!--</h2>-->



                <!--<p class="carousel-summary">A group of legendary swordsmen must protect the land from powerful enemies who want to overthrow the Northern Song Dynasty.</p>-->

                <!--<div class="carousel-misc">-->
                  <!--<div class="inline-block carousel-channel-manager">-->
                    <!--<a href="/users/bettina_samai" title="bettina_samai">-->
                      <!--<img alt="bettina_samai" class="thumbnail-avatar thumbnail-avatar-tiny" height="20" src="https://0.viki.io/u/891673u/Ct_MO2Mv0J.jpg?s=20x20&amp;f=t&amp;cb=1" width="20" /> Channel Manager-->
                    <!--</a>-->
                  <!--</div>-->

                  <!--<div class="counter inline-block">-->
                    <!--<i class="icon-viki-symbol">-->
                      <!--<span>6</span>-->
                    <!--</i>-->
                    <!--<em>languages</em>-->
                  <!--</div>-->
                <!--</div>-->

              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </uib-slide>
      </uib-carousel>
    </div>

  </div>


  <div class="main-container" ng-controller="RequestController as reqCtrl" ng-init="reqCtrl.findForHome()">
    <div class="" style="padding-top: 0;">
      <div class="row section">
        <div class="col s12 l5">
          <h2 class="section-heading"><a class="uppercase content-link" href="/request">{{'HOME_TITLE_TOP_REQUEST' | translate}}</a></h2>
          <div class="card">
            <div class="card-content">
              <p>Các video sắp hoàn thành theo <a href="/request">đề xuất</a> được bình chọn nhiều nhất. Bạn cũng có thể
                <a href="/request">đề xuất</a> video ngay tại
                <a href="/request">đây</a> </p>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <ul data-block-track="tagResourceContent">


                <li class="separator col-inline s6 m6 l3 js-follow-status js-express-player" ng-repeat="req in reqCtrl.requests">
                  <div class="thumbnail thumbnail-large">
                    <div class="thumbnail-wrapper">
                      <a href="/request"><img alt=" {{req.title}} " class="responsive-img" height="330" src="{{req.thumbnail}}" width="590" />
                      </a>
                    </div>
                    <div class="thumbnail-description">
                      <div class="right f-delta" data-drop-down="hidden">
                        <a href="#" class="more-info-link"><i class="icon-more right"></i></a>
                        <ul data-drop-down-target="share" class="dropdown-menu hidden">
                          <li class="express-player"><a href="#" class="js-btn-watchclip">Watch Trailer</a>
                          </li>
                          <li class="follow-status"></li>
                        </ul>
                      </div>

                      <div>
                        <a href="/request" class="thumb-title strong">
                          <span class="moonshine uppercase"></span> Love Me If You Dare
                        </a>
                        <!--<div class="grey-text thumb-caption">-->
                          <!--<span>EN 100%</span>-->
                          <!--<span class="phs">&bull;</span> China-->
                        <!--</div>-->
                        <!--<span class="strong">9.8</span>-->
                        <!--<i class="icon-star-rounded exclusive"></i>-->
                        <!--<span class="caption info">(2058 {{'RATINGS' | translate}})</span>-->
                      </div>
                    </div>
                  </div>

                  <div class="section no-pad-top info-emphasis">
                    <div class="inline-block carousel-channel-manager">
                      <a href="/users/{{req.user.username}}" title="{{req.user.username}}">
                        <img alt="{{req.user.username}}"
                             class="thumbnail-avatar thumbnail-avatar-tiny va-bottom circle"
                             height="20" src="{{req.user.avatar}}"
                             width="20" /> {{ req.user.name }}
                      </a>
                    </div>
                    <div class="pull-right">
                      {{ req.voteCount }} Voted
                    </div>
                  </div>
                </li>


              </ul>
              <div class="divider"></div>
              <div class="section no-pad-bot center-align">
                <a class="uppercase" data-block-track="tagMoreLink" href="/request">{{'HOME_SEE_ALL' | translate}}</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 l4">
          <h2 class="section-heading hidden hide-on-mobile continue-watching-title">Continue Watching</h2>
          <div class="card hidden continue-watching-title">
            <div class="card-content hidden" id="recentWatchView" class="mod hidden" data-block-track="recentWatch" data-template="templates/responsive/continue_watch" data-responsive="true">
            <span id="recentWatch">
            </span>
            </div>
          </div>

          <h2 class="section-heading">
            <a class="uppercase content-link" data-block-track="tvPopularMoreLink" href="/videos">{{'HOME_TITLE_TRENDING' | translate}}</a>
          </h2>
          <div class="card">
            <div class="card-content">
              <ul class="media-list" data-block-track="popularList">

                <li ng-repeat="video in home.trendingVideos">
                  <a href="/videos/{{video._id}}" class="media js-follow-status js-express-player">
                    <div class="media-left">
                      <img alt="{{video.title}}" class="media-object" height="72" itemprop="thumbnailUrl" src="{{video.thumbnail}}" width="128" />
                    </div>
                    <div class="media-body">
                      <div class="right f-delta" data-drop-down="hidden">
                        <span href="#" class="more-info-link" data-drop-down-handler="1" data-block-track="moreInfo"><i class="icon-more right"></i></span>
                        <ul data-drop-down-target="share" class="dropdown-menu hidden">
                          <li class="express-player" data-modal="data-modal-trailers" data-modal-watch-now="/tv/27928c-chronicle-of-life" data-modal-language="EN 99%">
                            <span href="#" class="js-btn-watchclip menu-item" data-block-track="calloutWatchTrailer">Watch Trailer</span>
                          </li>
                          <li class="follow-status"></li>
                        </ul>
                      </div>
                      <h1 class="media-heading strong">
        <span class="uppercase" data-badge-type="labels" data-badge-size="small" data-watch-now-episode="1095408v" data-watch-now-type="episode" data-watch-now-time=""
              data-watch-now-on-air="true" data-watch-coming-soon="false" data-new-no-show="false" data-thumbnail-type="series"data-definitive-on-air="true" data-definitive-coming-soon="false"></span>{{video.title}}
                      </h1>
                    <span class="media-content grey-text base">
                    <span ng-repeat="lock in video.lockedLanguage">{{lock.language_symbol}} 100% • </span>
                    <!--<span>&bull;</span>-->
                    <!--<span>China</span>-->
                      <span><span am-time-ago="video.created_at"></span> • {{video.view}} lượt xem</span>
                    <div>
                      <!--<span class="strong">9.2</span>-->
                      <!--<i class="icon-star-rounded exclusive"></i>-->
                      <!--<span class="caption info">(144 {{'RATINGS' | translate}})</span>-->
                      <!--<span class="caption info"><span am-time-ago="video.created_at"></span> • {{video.view}} lượt xem</span>-->
                    </div>
                    </span>
                    </div>
                  </a>
                </li>
                <li>



              </ul>
            </div>
            <div class="card-action center-align">
              <div class="divider"></div>
              <div class="section">
                <a class="uppercase" data-block-track="tvPopularMoreLink" href="/videos">{{'HOME_SEE_ALL' | translate}}</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 l3">
          <h2 class="section-heading"><a href="/contributors" class="content-link">{{'HOME_TITLE_TOP_VOLUNTEERS' | translate}}</a></h2>
          <div class="card">
            <div class="card-action card-action-attention">
              <p class="strong emphasis">{{'HOME_VOLUNTEER_MESSAGE' | translate}} <a href="/subtitling_community">{{'HOME_LEARN_MORE' | translate}}</a>
              </p>
            </div>
            <div class="card-content">
              <ul class="media-list" data-block-track="communityHomepage">
                <li ng-repeat="volunteer in home.topVolunteer">
                  <a class="media" data-block-track="communityHomepageProfile" href="/user/{{volunteer.user._id}}">
                    <div class="media-left">
                      <img alt="{{volunteer.user._id}}" class="circle media-object" height="60" src="{{volunteer.user.avatar}}" width="60" />
                    </div>
                    <div class="media-body">
                      <span class="media-content strong">{{volunteer.user.name}}</span>
                      <br />
                      <span class="media-content info">Subtitler</span>
                    </div>
                  </a>
                </li>
              </ul>

            </div>

          </div>
        </div>
      </div>

      <div class="row section recommended-row hidden">
        <div class="col s12">
          <div>
            <h2 class="section-heading">Top Picks For You</h2>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="row-inline recommended-content" data-recommended-shows-code="1" data-block-track="recommendationHomepageLiftigniter">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row section">
        <div class="col s12">
          <div class="tags-carousel hidden" data-tag-list="[&quot;6914t&quot;, &quot;106t&quot;, &quot;39t&quot;, &quot;25t&quot;, &quot;20t&quot;, &quot;6889t&quot;, &quot;89t&quot;, &quot;87t&quot;]" data-template="responsive/tags_homepage_item" data-responsive="true">
            <h2 class="section-heading">Collections: Explore By Fan Favorite Topics!</h2>
            <div class="card">
              <div class="card-content">
                <div class="row-inline c-container" data-block-track="curatedTags" data-lazy-component="1">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="row section">-->
        <!--<div class="col s12 l4">-->
          <!--<h2 class="section-heading">-->
            <!--<a class="uppercase content-link" data-block-track="onAirMoreLink" href="/explore?program=on-air">Currently On Air</a>-->
          <!--</h2>-->
          <!--<div class="card">-->
            <!--<div class="card-content">-->
              <!--<ul class="media-list" data-block-track="onAir">-->
                <!--<li>-->




                  <!--<a href="/tv/30736c-wind-chime" class="media js-follow-status js-express-player" data-tooltip="responsive/callouts/video_tooltip" data-tooltip-type="containers" data-tooltip-id="30736c" data-tooltip-src="tooltips/tv/30736.json" data-tooltip-position="right" data-container-id="30736c" data-ep-vidtype="trailers" data-thumb-type="series" data-badge-type="upcomingMedia" data-badge-selector-name="media-upcoming" data-badge-append-to="media-left" data-badge-size="small" data-upcoming-episode="30736c" data-upcoming-episode-time="1456370090" data-definitive-coming-soon="false">-->
                    <!--<div class="media-left">-->
                      <!--<img alt="Wind Chime" class="media-object" height="72" itemprop="thumbnailUrl" src="https://1.viki.io/c/30736c/Wind-Chime_1560x872.jpg?x=b&amp;s=256x144&amp;e=t&amp;f=t&amp;cb=1" width="128" />-->
                    <!--</div>-->
                    <!--<div class="media-body">-->
                      <!--<div class="right f-delta" data-drop-down="hidden">-->
                        <!--<span href="#" class="more-info-link" data-drop-down-handler="1" data-block-track="moreInfo"><i class="icon-more right"></i></span>-->
                        <!--<ul data-drop-down-target="share" class="dropdown-menu hidden">-->
                          <!--<li class="express-player" data-modal="data-modal-trailers" data-modal-watch-now="/tv/30736c-wind-chime" data-modal-language="EN 80%">-->
                            <!--<span href="#" class="js-btn-watchclip menu-item" data-block-track="calloutWatchTrailer">Watch Trailer</span>-->
                          <!--</li>-->
                          <!--<li class="follow-status"></li>-->
                        <!--</ul>-->
                      <!--</div>-->
                      <!--<h1 class="media-heading strong">-->
        <!--<span class="uppercase" data-badge-type="labels" data-badge-size="small" data-watch-now-episode="1096986v" data-watch-now-type="episode" data-watch-now-time="1456416000"-->
              <!--data-watch-now-on-air="false" data-watch-coming-soon="false" data-new-no-show="false" data-thumbnail-type="series"data-definitive-on-air="true" data-definitive-coming-soon="false"></span>Wind Chime-->
                      <!--</h1>-->
                    <!--<span class="media-content grey-text base">-->
        <!--<span>EN 80%</span>-->
                    <!--<span>&bull;</span>-->
                    <!--<span>China</span>-->
                    <!--<div>-->
                      <!--<span class="strong">10.0</span>-->
                      <!--<i class="icon-star-rounded exclusive"></i>-->
                      <!--<span class="caption info">(6 {{'RATINGS' | translate}})</span>-->
                    <!--</div>-->
                    <!--</span>-->
                    <!--</div>-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li>-->




                  <!--<a href="/tv/24570c-pops-in-seoul" class="media js-follow-status js-express-player" data-tooltip="responsive/callouts/video_tooltip" data-tooltip-type="containers" data-tooltip-id="24570c" data-tooltip-src="tooltips/tv/24570.json" data-tooltip-position="right" data-container-id="24570c" data-ep-vidtype="clips" data-thumb-type="series" data-badge-type="upcomingMedia" data-badge-selector-name="media-upcoming" data-badge-append-to="media-left" data-badge-size="small" data-upcoming-episode="24570c" data-upcoming-episode-time="1404905487" data-definitive-coming-soon="false">-->
                    <!--<div class="media-left">-->
                      <!--<img alt="Pops in Seoul" class="media-object" height="72" itemprop="thumbnailUrl" src="https://1.viki.io/c/24570c/c4e7ec87fb.jpg?x=b&amp;s=256x144&amp;e=t&amp;f=t&amp;cb=1" width="128" />-->
                    <!--</div>-->
                    <!--<div class="media-body">-->
                      <!--<div class="right f-delta" data-drop-down="hidden">-->
                        <!--<span href="#" class="more-info-link" data-drop-down-handler="1" data-block-track="moreInfo"><i class="icon-more right"></i></span>-->
                        <!--<ul data-drop-down-target="share" class="dropdown-menu hidden">-->
                          <!--<li class="express-player" data-modal="data-modal-trailers" data-modal-watch-now="/tv/24570c-pops-in-seoul" data-modal-language="EN 92%">-->
                            <!--<span href="#" class="js-btn-watchclip menu-item" data-block-track="calloutWatchTrailer">Watch Clip</span>-->
                          <!--</li>-->
                          <!--<li class="follow-status"></li>-->
                        <!--</ul>-->
                      <!--</div>-->
                      <!--<h1 class="media-heading strong">-->
        <!--<span class="uppercase" data-badge-type="labels" data-badge-size="small" data-watch-now-episode="1071759v" data-watch-now-type="episode" data-watch-now-time="1456816541"-->
              <!--data-watch-now-on-air="false" data-watch-coming-soon="false" data-new-no-show="false" data-thumbnail-type="series"data-definitive-on-air="true" data-definitive-coming-soon="false"></span>Pops in Seoul-->
                      <!--</h1>-->
                    <!--<span class="media-content grey-text base">-->
        <!--<span>EN 92%</span>-->
                    <!--<span>&bull;</span>-->
                    <!--<span>Korea</span>-->
                    <!--<div>-->
                      <!--<span class="strong">8.8</span>-->
                      <!--<i class="icon-star-rounded exclusive"></i>-->
                      <!--<span class="caption info">(36 {{'RATINGS' | translate}})</span>-->
                    <!--</div>-->
                    <!--</span>-->
                    <!--</div>-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li>-->




                  <!--<a href="/tv/30286c-the-three-heroes-and-five-gallants" class="media js-follow-status js-express-player" data-tooltip="responsive/callouts/video_tooltip" data-tooltip-type="containers" data-tooltip-id="30286c" data-tooltip-src="tooltips/tv/30286.json" data-tooltip-position="right" data-container-id="30286c" data-ep-vidtype="trailers" data-thumb-type="series" data-badge-type="upcomingMedia" data-badge-selector-name="media-upcoming" data-badge-append-to="media-left" data-badge-size="small" data-upcoming-episode="30286c" data-upcoming-episode-time="1455766437" data-definitive-coming-soon="false">-->
                    <!--<div class="media-left">-->
                      <!--<img alt="The Three Heroes and Five Gallants " class="media-object" height="72" itemprop="thumbnailUrl" src="https://1.viki.io/c/30286c/the-three-heroes-and-five-gallants_1560x872.jpg?x=b&amp;s=256x144&amp;e=t&amp;f=t&amp;cb=1" width="128" />-->
                    <!--</div>-->
                    <!--<div class="media-body">-->
                      <!--<div class="right f-delta" data-drop-down="hidden">-->
                        <!--<span href="#" class="more-info-link" data-drop-down-handler="1" data-block-track="moreInfo"><i class="icon-more right"></i></span>-->
                        <!--<ul data-drop-down-target="share" class="dropdown-menu hidden">-->
                          <!--<li class="express-player" data-modal="data-modal-trailers" data-modal-watch-now="/tv/30286c-the-three-heroes-and-five-gallants" data-modal-language="EN 100%">-->
                            <!--<span href="#" class="js-btn-watchclip menu-item" data-block-track="calloutWatchTrailer">Watch Trailer</span>-->
                          <!--</li>-->
                          <!--<li class="follow-status"></li>-->
                        <!--</ul>-->
                      <!--</div>-->
                      <!--<h1 class="media-heading strong">-->
        <!--<span class="uppercase" data-badge-type="labels" data-badge-size="small" data-watch-now-episode="1097062v" data-watch-now-type="episode" data-watch-now-time="1456839193"-->
              <!--data-watch-now-on-air="false" data-watch-coming-soon="false" data-new-no-show="false" data-thumbnail-type="series"data-definitive-on-air="true" data-definitive-coming-soon="false"></span>The Three Heroes and Five Gallants-->
                      <!--</h1>-->
                    <!--<span class="media-content grey-text base">-->
        <!--<span>EN 100%</span>-->
                    <!--<span>&bull;</span>-->
                    <!--<span>China</span>-->
                    <!--<div>-->
                      <!--<span class="strong">8.9</span>-->
                      <!--<i class="icon-star-rounded exclusive"></i>-->
                      <!--<span class="caption info">(32 {{'RATINGS' | translate}})</span>-->
                    <!--</div>-->
                    <!--</span>-->
                    <!--</div>-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li>-->




                  <!--<a href="/tv/28342c-upcoming" class="media js-follow-status js-express-player" data-tooltip="responsive/callouts/video_tooltip" data-tooltip-type="containers" data-tooltip-id="28342c" data-tooltip-src="tooltips/tv/28342.json" data-tooltip-position="right" data-container-id="28342c" data-ep-vidtype="clips" data-thumb-type="series" data-badge-type="upcomingMedia" data-badge-selector-name="media-upcoming" data-badge-append-to="media-left" data-badge-size="small" data-upcoming-episode="28342c" data-upcoming-episode-time="1442577600" data-definitive-coming-soon="false">-->
                    <!--<div class="media-left">-->
                      <!--<img alt="Upcoming" class="media-object" height="72" itemprop="thumbnailUrl" src="https://1.viki.io/c/28342c/channel.png?x=b&amp;s=256x144&amp;e=t&amp;f=t&amp;cb=1" width="128" />-->
                    <!--</div>-->
                    <!--<div class="media-body">-->
                      <!--<div class="right f-delta" data-drop-down="hidden">-->
                        <!--<span href="#" class="more-info-link" data-drop-down-handler="1" data-block-track="moreInfo"><i class="icon-more right"></i></span>-->
                        <!--<ul data-drop-down-target="share" class="dropdown-menu hidden">-->
                          <!--<li class="follow-status"></li>-->
                        <!--</ul>-->
                      <!--</div>-->
                      <!--<h1 class="media-heading strong">-->
        <!--<span class="uppercase" data-badge-type="labels" data-badge-size="small" data-watch-now-episode="1091602v" data-watch-now-type="episode" data-watch-now-time="1456488000"-->
              <!--data-watch-now-on-air="false" data-watch-coming-soon="false" data-new-no-show="false" data-thumbnail-type="series"data-definitive-on-air="true" data-definitive-coming-soon="false"></span>Upcoming-->
                      <!--</h1>-->
                    <!--<span class="media-content grey-text base">-->
        <!--<span>EN 100%</span>-->
                    <!--<span>&bull;</span>-->
                    <!--<span>Japan</span>-->
                    <!--<div>-->
                      <!--<span class="strong">10.0</span>-->
                      <!--<i class="icon-star-rounded exclusive"></i>-->
                      <!--<span class="caption info">(2 {{'RATINGS' | translate}})</span>-->
                    <!--</div>-->
                    <!--</span>-->
                    <!--</div>-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li>-->




                  <!--<a href="/tv/24571c-simply-k-pop" class="media js-follow-status js-express-player" data-tooltip="responsive/callouts/video_tooltip" data-tooltip-type="containers" data-tooltip-id="24571c" data-tooltip-src="tooltips/tv/24571.json" data-tooltip-position="right" data-container-id="24571c" data-ep-vidtype="clips" data-thumb-type="series" data-badge-type="upcomingMedia" data-badge-selector-name="media-upcoming" data-badge-append-to="media-left" data-badge-size="small" data-upcoming-episode="24571c" data-upcoming-episode-time="1405061749" data-definitive-coming-soon="false">-->
                    <!--<div class="media-left">-->
                      <!--<img alt="Simply K-pop" class="media-object" height="72" itemprop="thumbnailUrl" src="https://0.viki.io/c/24571c/2b7fbbf574.jpg?x=b&amp;s=256x144&amp;e=t&amp;f=t&amp;cb=1" width="128" />-->
                    <!--</div>-->
                    <!--<div class="media-body">-->
                      <!--<div class="right f-delta" data-drop-down="hidden">-->
                        <!--<span href="#" class="more-info-link" data-drop-down-handler="1" data-block-track="moreInfo"><i class="icon-more right"></i></span>-->
                        <!--<ul data-drop-down-target="share" class="dropdown-menu hidden">-->
                          <!--<li class="express-player" data-modal="data-modal-trailers" data-modal-watch-now="/tv/24571c-simply-k-pop" data-modal-language="EN 90%">-->
                            <!--<span href="#" class="js-btn-watchclip menu-item" data-block-track="calloutWatchTrailer">Watch Clip</span>-->
                          <!--</li>-->
                          <!--<li class="follow-status"></li>-->
                        <!--</ul>-->
                      <!--</div>-->
                      <!--<h1 class="media-heading strong">-->
        <!--<span class="uppercase" data-badge-type="labels" data-badge-size="small" data-watch-now-episode="1095644v" data-watch-now-type="episode" data-watch-now-time="1456488066"-->
              <!--data-watch-now-on-air="false" data-watch-coming-soon="false" data-new-no-show="false" data-thumbnail-type="series"data-definitive-on-air="true" data-definitive-coming-soon="false"></span>Simply K-pop-->
                      <!--</h1>-->
                    <!--<span class="media-content grey-text base">-->
        <!--<span>EN 90%</span>-->
                    <!--<span>&bull;</span>-->
                    <!--<span>Korea</span>-->
                    <!--<div>-->
                      <!--<span class="strong">8.6</span>-->
                      <!--<i class="icon-star-rounded exclusive"></i>-->
                      <!--<span class="caption info">(17 {{'RATINGS' | translate}})</span>-->
                    <!--</div>-->
                    <!--</span>-->
                    <!--</div>-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li>-->




                  <!--<a href="/tv/28332c-girls-night-out" class="media js-follow-status js-express-player" data-tooltip="responsive/callouts/video_tooltip" data-tooltip-type="containers" data-tooltip-id="28332c" data-tooltip-src="tooltips/tv/28332.json" data-tooltip-position="right" data-container-id="28332c" data-ep-vidtype="clips" data-thumb-type="series" data-badge-type="upcomingMedia" data-badge-selector-name="media-upcoming" data-badge-append-to="media-left" data-badge-size="small" data-upcoming-episode="28332c" data-upcoming-episode-time="1442491200" data-definitive-coming-soon="false">-->
                    <!--<div class="media-left">-->
                      <!--<img alt="Girls Night Out" class="media-object" height="72" itemprop="thumbnailUrl" src="https://1.viki.io/c/28332c/Girls-Night-Out_590x330.jpg?x=b&amp;s=256x144&amp;e=t&amp;f=t&amp;cb=1" width="128" />-->
                    <!--</div>-->
                    <!--<div class="media-body">-->
                      <!--<div class="right f-delta" data-drop-down="hidden">-->
                        <!--<span href="#" class="more-info-link" data-drop-down-handler="1" data-block-track="moreInfo"><i class="icon-more right"></i></span>-->
                        <!--<ul data-drop-down-target="share" class="dropdown-menu hidden">-->
                          <!--<li class="follow-status"></li>-->
                        <!--</ul>-->
                      <!--</div>-->
                      <!--<h1 class="media-heading strong">-->
        <!--<span class="uppercase" data-badge-type="labels" data-badge-size="small" data-watch-now-episode="1090790v" data-watch-now-type="episode" data-watch-now-time="1456401600"-->
              <!--data-watch-now-on-air="false" data-watch-coming-soon="false" data-new-no-show="false" data-thumbnail-type="series"data-definitive-on-air="true" data-definitive-coming-soon="false"></span>Girls Night Out-->
                      <!--</h1>-->
                    <!--<span class="media-content grey-text base">-->
        <!--<span>EN 100%</span>-->
                    <!--<span>&bull;</span>-->
                    <!--<span>Japan</span>-->
                    <!--<div>-->
                      <!--<span class="strong">6.1</span>-->
                      <!--<i class="icon-star-rounded exclusive"></i>-->
                      <!--<span class="caption info">(8 {{'RATINGS' | translate}})</span>-->
                    <!--</div>-->
                    <!--</span>-->
                    <!--</div>-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li>-->




                  <!--<a href="/tv/28341c-hello-project-station-hello-sute" class="media js-follow-status js-express-player" data-tooltip="responsive/callouts/video_tooltip" data-tooltip-type="containers" data-tooltip-id="28341c" data-tooltip-src="tooltips/tv/28341.json" data-tooltip-position="right" data-container-id="28341c" data-ep-vidtype="clips" data-thumb-type="series" data-badge-type="upcomingMedia" data-badge-selector-name="media-upcoming" data-badge-append-to="media-left" data-badge-size="small" data-upcoming-episode="28341c" data-upcoming-episode-time="1442404800" data-definitive-coming-soon="false">-->
                    <!--<div class="media-left">-->
                      <!--<img alt="Hello! Project Station (Hello! Sute)" class="media-object" height="72" itemprop="thumbnailUrl" src="https://1.viki.io/c/28341c/Hello-Ste_780x436.jpg?x=b&amp;s=256x144&amp;e=t&amp;f=t&amp;cb=1" width="128" />-->
                    <!--</div>-->
                    <!--<div class="media-body">-->
                      <!--<div class="right f-delta" data-drop-down="hidden">-->
                        <!--<span href="#" class="more-info-link" data-drop-down-handler="1" data-block-track="moreInfo"><i class="icon-more right"></i></span>-->
                        <!--<ul data-drop-down-target="share" class="dropdown-menu hidden">-->
                          <!--<li class="follow-status"></li>-->
                        <!--</ul>-->
                      <!--</div>-->
                      <!--<h1 class="media-heading strong">-->
        <!--<span class="uppercase" data-badge-type="labels" data-badge-size="small" data-watch-now-episode="1091591v" data-watch-now-type="episode" data-watch-now-time="1456315200"-->
              <!--data-watch-now-on-air="false" data-watch-coming-soon="false" data-new-no-show="false" data-thumbnail-type="series"data-definitive-on-air="true" data-definitive-coming-soon="false"></span>Hello! Project Station (Hello! Sute)-->
                      <!--</h1>-->
                    <!--<span class="media-content grey-text base">-->
        <!--<span>EN 100%</span>-->
                    <!--<span>&bull;</span>-->
                    <!--<span>Japan</span>-->
                    <!--<div>-->
                      <!--<span class="strong">8.3</span>-->
                      <!--<i class="icon-star-rounded exclusive"></i>-->
                      <!--<span class="caption info">(3 {{'RATINGS' | translate}})</span>-->
                    <!--</div>-->
                    <!--</span>-->
                    <!--</div>-->
                  <!--</a>-->
                <!--</li>-->

              <!--</ul>-->
            <!--</div>-->
            <!--<div class="card-action center-align">-->
              <!--<div class="divider"></div>-->
              <!--<div class="section">-->
                <!--<a class="uppercase" data-block-track="onAirMoreLink" href="/explore?program=on-air">{{'HOME_SEE_ALL' | translate}}</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="col s12 l4 tv-guide-widget">-->
          <!--<h2 class="section-heading">-->
            <!--<a class="uppercase content-link" data-block-track="tvGuideHomepageMoreLink" href="/tv-guide">Newly Added Episodes</a>-->
          <!--</h2>-->
          <!--<div class="card">-->
            <!--<div class="container">-->
              <!--<div class="row-inline card-date-container" data-block-track="tvGuideHomepageDateLinks">-->

              <!--</div>-->
            <!--</div>-->
            <!--<div class="card-content tv-guide-content center-align info" data-block-track="tvGuideHomepage">-->
              <!--<i class='icon-film display-4'></i>-->
              <!--<p>No new episodes today. Browse the TV guide for a full list of upcoming episodes.</p>-->
            <!--</div>-->
            <!--<div class="card-action center-align">-->
              <!--<div class="divider"></div>-->
              <!--<div class="section">-->
                <!--<a class="uppercase" data-block-track="tvGuideHomepageMoreLink" href="/tv-guide">{{'HOME_SEE_ALL' | translate}}</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col s12 l4">-->
          <!--<h2 class="section-heading">-->
            <!--<a class="uppercase content-link" data-block-track="upcomingMoreLink" href="/coming_soon">Coming Soon</a>-->
          <!--</h2>-->
          <!--<div class="card">-->
            <!--<div class="card-content">-->
              <!--<ul class="media-list" data-block-track="upcoming">-->
                <!--<li>-->




                  <!--<a href="/tv/30052c-secret-love" class="media js-follow-status js-express-player" data-tooltip="responsive/callouts/video_tooltip" data-tooltip-type="containers" data-tooltip-id="30052c" data-tooltip-src="tooltips/tv/30052.json" data-tooltip-position="left" data-container-id="30052c" data-ep-vidtype="trailers" data-thumb-type="series">-->
                    <!--<div class="media-left">-->
                      <!--<img alt="Secret Love" class="media-object" height="72" itemprop="thumbnailUrl" src="https://1.viki.io/c/30052c/d190c95c0e.jpg?x=b&amp;s=256x144&amp;e=t&amp;f=t&amp;cb=1" width="128" />-->
                    <!--</div>-->
                    <!--<div class="media-body">-->
                      <!--<div class="right f-delta" data-drop-down="hidden">-->
                        <!--<span href="#" class="more-info-link" data-drop-down-handler="1" data-block-track="moreInfo"><i class="icon-more right"></i></span>-->
                        <!--<ul data-drop-down-target="share" class="dropdown-menu hidden">-->
                          <!--<li class="express-player" data-modal="data-modal-trailers" data-modal-watch-now="/tv/30052c-secret-love" data-modal-language="EN 0%">-->
                            <!--<span href="#" class="js-btn-watchclip menu-item" data-block-track="calloutWatchTrailer">Watch Trailer</span>-->
                          <!--</li>-->
                          <!--<li class="follow-status"></li>-->
                        <!--</ul>-->
                      <!--</div>-->
                      <!--<h1 class="media-heading strong">-->
        <!--<span class="uppercase" data-badge-type="labels" data-badge-size="small" data-watch-now-episode="1093447v" data-watch-now-type="episode" data-watch-now-time="1467331200"-->
              <!--data-watch-now-on-air="false" data-watch-coming-soon="false" data-new-no-show="false" data-thumbnail-type="series"data-definitive-on-air="false" data-definitive-coming-soon="true"></span>Secret Love-->
                      <!--</h1>-->
                    <!--<span class="media-content grey-text base">-->
        <!--<span>EN 0%</span>-->
                    <!--<span>&bull;</span>-->
                    <!--<span>Venezuela</span>-->
                    <!--</span>-->
                    <!--</div>-->
                  <!--</a>-->
                <!--</li>-->

              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


      <!--<div class="row section">-->
        <!--<div class="col s12">-->
          <!--<div class="countries-carousel hidden">-->
            <!--<div>-->
              <!--<h2 class="section-heading">-->
                <!--<a href="/countries" class="uppercase content-link" data-block-track="popularCountriesMoreLink">Explore by Region</a>-->
              <!--</h2>-->
            <!--</div>-->
            <!--<div class="card">-->
              <!--<div class="card-content">-->
                <!--<div class="row-inline c-container" data-lazy-component="1" data-block-track="popularCountries">-->
                  <!--<div class="thumbnail col-inline s6 m6 l3" data-country-code="kr" data-country-template="responsive/explore_home_countries"></div>-->
                  <!--<div class="thumbnail col-inline s6 m6 l3" data-country-code="tw" data-country-template="responsive/explore_home_countries"></div>-->
                  <!--<div class="thumbnail col-inline s6 m6 l3" data-country-code="cn" data-country-template="responsive/explore_home_countries"></div>-->
                  <!--<div class="thumbnail col-inline s6 m6 l3" data-country-code="jp" data-country-template="responsive/explore_home_countries"></div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="card-action center-align">-->
                <!--<div class="divider"></div>-->
                <!--<div class="section">-->
                  <!--<a href="/countries" class="uppercase" data-block-track="popularCountriesMoreLink">{{'HOME_SEE_ALL' | translate}}</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <div class="row section">
        <div class="col s12" ng-repeat="top in home.topByCategory">
          <h2 class="section-heading">
            <a class="uppercase content-link" data-block-track="vikiExclusiveMoreLink" href="/category/{{top.category._id}}">{{top.category.name}}</a>
          </h2>
          <div class="card">
            <div class="card-content">
              <div class="row-inline" data-block-track="vikiExclusives">

                <div class="thumbnail col-inline s6 m6 l3 js-follow-status js-express-player" ng-repeat="video in top.videos">
                  <div class="thumbnail-wrapper">
                    <a href="/videos/{{video._id}}"><img alt="{{video.title}}" class="responsive-img" height="107" src="{{video.thumbnail}}" width="190" style="width: 296px;height: 166px;" />
                    </a>
                  </div>
                  <div class="thumbnail-description">
                    <div class="right f-delta" data-drop-down="hidden">
                      <a href="#" class="more-info-link" data-drop-down-handler="1" data-block-track="moreInfo"><i class="icon-more right"></i></a>
                      <ul data-drop-down-target="share" class="dropdown-menu menu-right hidden">
                        <li class="express-player">Watch Trailer</a>
                        </li>
                        <li class="follow-status"></li>
                      </ul>
                    </div>

                    <div>
                      <a href="/videos/{{video._id}}" class="thumb-title strong">
                        <span class="moonshine uppercase"></span>{{video.title}}
                      </a>
                      <div class="grey-text thumb-caption">
                        <span ng-repeat="lang in video.lockedLanguage">{{lang.language_symbol}} 100%</span>
                        <!--<span class="phs">&bull;</span> Indonesia-->
                      </div>
                      <!--<span class="strong">8.6</span>-->
                      <!--<i class="icon-star-rounded exclusive"></i>-->
                      <!--<span class="caption info">(10 {{'RATINGS' | translate}})</span>-->
                      <span class="caption info">{{video.view}} lượt xem</span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="card-action center-align">
              <div class="divider"></div>
              <div class="section">
                <a class="uppercase" data-block-track="vikiExclusiveMoreLink" href="/videos">{{'HOME_SEE_ALL' | translate}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row section">
        <div class="col s12">
          <div class="networks-carousel hidden" data-mini-carousel="true">
            <h2 class="section-heading">
              <a href="/networks" class="uppercase content-link" data-block-track="networksMoreLink">Featured Networks</a>
            </h2>
            <div class="card">
              <div class="card-content mini-carousel-wrapper" data-lazy-component="1" data-block-track="networks" data-component-url="/networks.json" data-component-templ="responsive/networks" data-component-canvas="1">
                <div class="row-inline c-container" data-component-canvas="1">

                </div>
              </div>
              <div class="card-action center-align">
                <div class="divider"></div>
                <div class="section">
                  <a href="/networks" class="uppercase" data-block-track="networksMoreLink">{{'HOME_SEE_ALL' | translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div id="div-gpt-ad-1413865793629-0"></div>



  <div id="flash_messages" class="flash-message-fixed" data-block-track="flashMessages"></div>
  </div>
</section>