<!--<header class="page-header" style="position: absolute;width: 100%;left: 0;top: -60px;">-->
  <!--<div class="container">-->
    <!--<h1 class="section-heading">Kết quả tìm kiếm cho từ khóa <q class="">{{ctrl.keyword}}</q></h1>-->
  <!--</div>-->
<!--</header>-->
<div id="masthead-appbar-container" class="clearfix">
  <div id="masthead-appbar">
    <div id="appbar-content" class="">
      <div id="appbar-nav" class="appbar-content-hidable">
        <ul class="appbar-nav-menu">
          <li>
            <a href="/videos" class="vs-uix-button   spf-link vs-uix-sessionlink vs-uix-button-epic-nav-item vs-uix-button-size-default" aria-selected="false">
              <span class="vs-uix-button-content">Trang chủ</span>
            </a>
          </li>
          <li>
            <h2 class="epic-nav-item-heading " aria-selected="true" style="margin-bottom: 0;">Thịnh hành</h2>
          </li>
          <li>
            <a href="/feed/subscriptions" class="vs-uix-button spf-link vs-uix-sessionlink vs-uix-button-epic-nav-item vs-uix-button-size-default" aria-selected="false">
              <span class="vs-uix-button-content">Đăng ký</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-controller="TrendingController as vm" class="list-page-container branded-page-base-bold-titles list-page-container-flex-width list-page-has-top-row list-page-secondary-column-hidden">
  <div class="list-page-top-row"></div>

  <div class="list-page-col-container">
    <div class="list-page-col-container-inner">
      <div class="list-page-primary-col">
        <div class="vs-card clearfix">
          <div class="list-page-body list-page-primary-column-content" id="">

            <div id="browse-items-primary">

              <ol style="padding-left: 0;" id="section-list-187744" class="section-list">
                <li>
                  <ol style="padding-left: 0;" id="item-section-457813" class="item-section">
                    <li>
                      <div class="feed-item-container browse-list-item-container vs-section-hover-container compact-shelf shelf-item branded-page-box clearfix">
                        <div class="feed-item-dismissable">
                          <div class="shelf-title-table">
                            <div class="shelf-title-row"><h2 class="branded-page-module-title shelf-title-cell"><span
                                    class="branded-page-module-title-text"></span></h2>
                              <div class="menu-container shelf-title-cell"></div>
                            </div>
                          </div>
                          <div class="expanded-shelf">
                            <ul class="expanded-shelf-content-list has-multiple-items">
                              <li class="expanded-shelf-content-item-wrapper" ng-repeat="video in vm.videos">
                                <div class="expanded-shelf-content-item">
                                  <div class="vs-lockup vs-lockup-tile vs-lockup-video clearfix">
                                    <div class="vs-lockup-dismissable vs-uix-tile">
                                      <div class="vs-lockup-thumbnail contains-addto">
                                        <a aria-hidden="true"
                                           ng-href="/videos/{{ video._id }}"
                                           class="vs-uix-sessionlink spf-link">
                                          <div class="vs-thumb video-thumb">
                                            <span class="vs-thumb-simple">
                                              <img alt=""
                                                   ng-src="{{ video.thumbnail }}"
                                                   height="110"
                                                   width="196">
                                            </span>
                                          </div>
                                          <span class="video-time" aria-hidden="true">{{ video.hasCaption ? 'Subtitled' : 'No Subtitle' }}</span>
                                        </a>
                                        <span class="thumb-menu dark-overflow-action-menu video-actions">
                                          <button aria-expanded="false" aria-haspopup="true" onclick=";return false;"
                                                  class="vs-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded vs-uix-button vs-uix-button-dark-overflow-action-menu vs-uix-button-size-default vs-uix-button-has-icon no-icon-markup vs-uix-button-empty"
                                                  type="button"><span class="vs-uix-button-arrow vs-sprite"></span>
                                            <ul class="watch-queue-thumb-menu vs-uix-button-menu vs-uix-button-menu-dark-overflow-action-menu hid">
                                              <li role="menuitem"
                                                  class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next vs-uix-button-menu-item"
                                                  data-action="play-next" onclick=";return false;" data-video-ids="tezXnk6amAk">
                                              <span class="addto-watch-queue-menu-text">Phát video tiếp theo</span>
                                              </li>
                                              <li role="menuitem"
                                                  class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now vs-uix-button-menu-item"
                                                  data-action="play-now"
                                                  onclick=";return false;"
                                                  data-video-ids="tezXnk6amAk">
                                                <span class="addto-watch-queue-menu-text">Phát ngay bây giờ</span>
                                              </li>
                                            </ul>
                                          </button>
                                        </span>


                                        <button class="vs-uix-button vs-uix-button-size-small vs-uix-button-default vs-uix-button-empty vs-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button vs-uix-tooltip"
                                                type="button" onclick=";return false;" role="button"
                                                data-video-ids="tezXnk6amAk"></button>
                                        <button class="vs-uix-button vs-uix-button-size-small vs-uix-button-default vs-uix-button-empty vs-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button vs-uix-tooltip"
                                                type="button" onclick=";return false;" data-style="tv-queue"
                                                data-video-ids="tezXnk6amAk"></button>
                                      </div>
                                      <div class="vs-lockup-content"><h3 class="vs-lockup-title ">
                                        <a ng-href="/videos/{{ video._id }}"
                                            class="vs-uix-sessionlink vs-uix-tile-link vs-ui-ellipsis vs-ui-ellipsis-2 spf-link"
                                            aria-describedby="description-id-194681" dir="ltr">{{ video.title }}</a>
                                        <span class="accessible-description" id="description-id-194681"></span>
                                      </h3>
                                        <div class="vs-lockup-byline">
                                          <a ng-href="/channel/{{ video.channel._id }}"
                                             class="g-hovercard vs-uix-sessionlink spf-link">
                                            {{ video.channel.name }}
                                          </a>
                                        </div>
                                        <div class="vs-lockup-meta">
                                          <ul class="vs-lockup-meta-info">
                                            <li><span am-time-ago="video.created_at"></span></li>
                                            <li>{{ video.view }} lượt xem</li>
                                          </ul>
                                        </div>
                                        <div class="vs-lockup-description vs-ui-ellipsis vs-ui-ellipsis-2" dir="ltr">
                                          {{ video.description }}
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="feed-item-dismissal-notices"></div>
                      </div>
                    </li>
                  </ol>
                </li>
              </ol>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>