<section ng-controller="UploadCaptionController" class="col-md-6 col-md-offset-3">
  <div class="create-upload-caption step-section col-md-12" data-ng-controller="VideosPlusController">
    <span class="badge">2</span>
    <form name="uploadForm">
      <div>
        <div class="step">Upload phụ đề của bạn hoặc <span class="pull-right"><md-button href="/subtitler/{{ videoId }}" class="md-raised md-primary">Tạo phụ đề</md-button></span></div>
        <div class="row" style="margin-top: 30px;">
          <div class="col-md-12">
            <!--<span>VIDEO TEST</span>-->
            <video controls ngf-src="picFile" style="width: 100%"></video>
          </div>
          <div class="col-md-12" ng-show="fileSelected">
            <span>Editor subtitle</span>
            <div id="display" style="height: 295px"></div>
          </div>
        </div>
        <div class="alert alert-success" role="alert" ng-show="message">{{message}}</div>
        <!--<span class="btn btn-success btn-file btn-xs upload-caption" ng-hide="message" ng-disabled="!uploadSuccess">-->
        <input ngf-drop ngf-select class="drop-box" name="captionFile" type="file" id="ttFile"
               ngf-change="upload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
               accept="text/vtt, application/ttml+xml" required><i class="fa fa-cloud-upload"/>Upload exiting caption file
        <p ng-show="uploadForm.captionFile.$error.required" class="text-danger">*required</p>
        <!--</span>-->
      </div>

      <div style="margin: 10px auto;" class="text-center" ng-hide="message">
        <h5>Language:</h5>
        <select  name="languageSelect" id="languages" class="minimal" ng-options="lang.language_description for lang in languages track by lang._id" ng-model="language" required>
          <option value="">Select Language</option>
        </select>
      </div>
      <div class="text-center" style="margin: 10px auto">
        <button id="saveCaption" class="btn btn-default btn-md" ng-click="shoot()" ng-disabled="!uploadForm.$valid" ng-hide="message">Save Caption</button>
      </div>

    </form>

  </div>

  <div class="create-caption-translator step-section col-md-12 text-center" ng-controller="VideosPlusController">
    <span class="badge">3</span>
    <div class="step">Translatate your caption to other language</div>
    <form name="testForm" ng-submit="testSubmit()">
      <input type="hidden" ng-model="videoId">
      <input type="hidden" ng-model="capId" id="captionId">
      <button class="btn btn-default btn-md" style="width: 200px; margin-left: 10px;" ng-click="translator();hideButton = true" ng-disabled="!captionId" ng-hide="hideButton">Translate</button>
    </form>
    <div class="alert alert-warning" role="alert" ng-show="startTranslate">
      <p>Translating in progress.....please wait!!</p>
      <svg width='40px' height='40px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-gears"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><g transform="translate(-20,-20)"><path d="M79.9,52.6C80,51.8,80,50.9,80,50s0-1.8-0.1-2.6l-5.1-0.4c-0.3-2.4-0.9-4.6-1.8-6.7l4.2-2.9c-0.7-1.6-1.6-3.1-2.6-4.5 L70,35c-1.4-1.9-3.1-3.5-4.9-4.9l2.2-4.6c-1.4-1-2.9-1.9-4.5-2.6L59.8,27c-2.1-0.9-4.4-1.5-6.7-1.8l-0.4-5.1C51.8,20,50.9,20,50,20 s-1.8,0-2.6,0.1l-0.4,5.1c-2.4,0.3-4.6,0.9-6.7,1.8l-2.9-4.1c-1.6,0.7-3.1,1.6-4.5,2.6l2.1,4.6c-1.9,1.4-3.5,3.1-5,4.9l-4.5-2.1 c-1,1.4-1.9,2.9-2.6,4.5l4.1,2.9c-0.9,2.1-1.5,4.4-1.8,6.8l-5,0.4C20,48.2,20,49.1,20,50s0,1.8,0.1,2.6l5,0.4 c0.3,2.4,0.9,4.7,1.8,6.8l-4.1,2.9c0.7,1.6,1.6,3.1,2.6,4.5l4.5-2.1c1.4,1.9,3.1,3.5,5,4.9l-2.1,4.6c1.4,1,2.9,1.9,4.5,2.6l2.9-4.1 c2.1,0.9,4.4,1.5,6.7,1.8l0.4,5.1C48.2,80,49.1,80,50,80s1.8,0,2.6-0.1l0.4-5.1c2.3-0.3,4.6-0.9,6.7-1.8l2.9,4.2 c1.6-0.7,3.1-1.6,4.5-2.6L65,69.9c1.9-1.4,3.5-3,4.9-4.9l4.6,2.2c1-1.4,1.9-2.9,2.6-4.5L73,59.8c0.9-2.1,1.5-4.4,1.8-6.7L79.9,52.6 z M50,65c-8.3,0-15-6.7-15-15c0-8.3,6.7-15,15-15s15,6.7,15,15C65,58.3,58.3,65,50,65z" fill="#8f7f59"><animateTransform attributeName="transform" type="rotate" from="90 50 50" to="0 50 50" dur="1s" repeatCount="indefinite"></animateTransform></path></g><g transform="translate(20,20) rotate(15 50 50)"><path d="M79.9,52.6C80,51.8,80,50.9,80,50s0-1.8-0.1-2.6l-5.1-0.4c-0.3-2.4-0.9-4.6-1.8-6.7l4.2-2.9c-0.7-1.6-1.6-3.1-2.6-4.5 L70,35c-1.4-1.9-3.1-3.5-4.9-4.9l2.2-4.6c-1.4-1-2.9-1.9-4.5-2.6L59.8,27c-2.1-0.9-4.4-1.5-6.7-1.8l-0.4-5.1C51.8,20,50.9,20,50,20 s-1.8,0-2.6,0.1l-0.4,5.1c-2.4,0.3-4.6,0.9-6.7,1.8l-2.9-4.1c-1.6,0.7-3.1,1.6-4.5,2.6l2.1,4.6c-1.9,1.4-3.5,3.1-5,4.9l-4.5-2.1 c-1,1.4-1.9,2.9-2.6,4.5l4.1,2.9c-0.9,2.1-1.5,4.4-1.8,6.8l-5,0.4C20,48.2,20,49.1,20,50s0,1.8,0.1,2.6l5,0.4 c0.3,2.4,0.9,4.7,1.8,6.8l-4.1,2.9c0.7,1.6,1.6,3.1,2.6,4.5l4.5-2.1c1.4,1.9,3.1,3.5,5,4.9l-2.1,4.6c1.4,1,2.9,1.9,4.5,2.6l2.9-4.1 c2.1,0.9,4.4,1.5,6.7,1.8l0.4,5.1C48.2,80,49.1,80,50,80s1.8,0,2.6-0.1l0.4-5.1c2.3-0.3,4.6-0.9,6.7-1.8l2.9,4.2 c1.6-0.7,3.1-1.6,4.5-2.6L65,69.9c1.9-1.4,3.5-3,4.9-4.9l4.6,2.2c1-1.4,1.9-2.9,2.6-4.5L73,59.8c0.9-2.1,1.5-4.4,1.8-6.7L79.9,52.6 z M50,65c-8.3,0-15-6.7-15-15c0-8.3,6.7-15,15-15s15,6.7,15,15C65,58.3,58.3,65,50,65z" fill="#9f9fab"><animateTransform attributeName="transform" type="rotate" from="0 50 50" to="90 50 50" dur="1s" repeatCount="indefinite"></animateTransform></path></g></svg>
    </div>
    <div class="alert alert-success" role="alert" ng-show="translateDone">Translate success</div>
    <div class="description" style="margin-top: 10px;">
      <small>Translate your caption to other language (it will take several second)</small>
    </div>

    <div class="" style="margin-top: 40px;">
      <!--<a class="btn btn-info">Editor Subtitles</a>-->
      <a ng-href="/videos/{{videoId}}/edit" class="btn btn-default">Go Step 3 >></a>
    </div>
  </div>
</section>