<section ng-controller="UploadVideoController as vm">
  <div class="col-md-12 step-section">
    <!--<h3>Tutorial</h3>-->
    <!--<p style="border-bottom: 1px solid black">How to upload a video and subtitles, translator or edit them</p>-->
    <ul class="stepNav threeWide">
      <li ng-class="!uploadSuccess ? 'selected' : ''"><a href="" title="">{{'UPLOAD_STEP_1' | translate}}</a></li>
      <li ng-class="uploadSuccess ? 'selected' : ''"><a href="" title="">{{'UPLOAD_STEP_2' | translate}}</a></li>
      <li><a href="" title="">{{'UPLOAD_STEP_3' | translate}}</a></li>
    </ul>
  </div>

  <div ng-repeat="error in vm.createErrors">
    <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
  </div>

  <form name="myForm" class="col-md-12 step-section" ng-hide="uploadSuccess">
    <span class="badge">1</span>
    <div class="create-video-upload">
      <div class="step">{{'UPLOAD_STEP_1_TITLE' | translate}}</div>

      <!--<table class="table" ng-show="submit">-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<th width="50%">Name</th>-->
          <!--<th ng-show="uploader.isHTML5">Size</th>-->
          <!--<th ng-show="uploader.isHTML5">Progress</th>-->
          <!--<th>Status</th>-->
          <!--&lt;!&ndash;<th>Actions</th>&ndash;&gt;-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr>-->
          <!--<td><strong class="ng-binding">{{video.title}}</strong></td>-->
          <!--<td nowrap="" class="ng-binding">{{fileSize | number:2}} MB</td>-->
          <!--<td>-->
            <!--<div class="progress" style="margin-bottom: 0;">-->
              <!--<div>-->
                <!--<uib-progressbar class="progress-striped" value="picFile.progress || 0" type="warning">-->
                  <!--{{picFile.progress || 0}}%-->
                <!--</uib-progressbar>-->
              <!--</div>-->
            <!--</div>-->
          <!--</td>-->
          <!--<td class="text-center">-->
            <!--<span ng-show="picFile.result"-->
                  <!--class="text-success pull-left">{{'UPLOAD_STEP_1_UPLOAD_SUCCESS' | translate}}</span>-->
            <!--<span class="text-danger" ng-show="errorMsg">{{errorMsg}}</span>-->
          <!--</td>-->

        <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->

      <div ngf-drop ngf-select class="drop-box" type="file" ng-hide="submit"
           ngf-drag-over-class="dragover"
           ng-model="picFile"
           name="file"
           accept="video/mp4"
           ngf-drag-over-class="'dragover'"
           ngf-pattern="video/mp4"
           ngf-change="selectVideo($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
           ngf-change="uploadChange()">
        <span ng-hide="videoSelected">{{'UPLOAD_STEP_1_DROPFILE_OR_CLICK' | translate}}</span><br>
        <span ng-show="videoSelected">{{videoInfo.name}}</span><br>
        <span ng-show="videoSelected">{{videoInfo.size/(1024*1024) | number:2}} Mb</span><br>

      </div>
      <h5>Or enter Youtube url</h5>

      <md-input-container class="md-block" style="margin-top: 50px;">
        <!--<label>Youtube Video</label>-->
        <input type="text"
               name="youtubeUrl"
               ng-model="youtube"
               ng-hide="submit"
               placeholder="Youtube URL eg: https://www.youtube.com/watch?v=c6Gg4DoGiZo"
               ng-pattern="/^https\:\/\/www\.youtube\.com\/watch\?v\=/"
               required>
        <div ng-messages="myForm.youtubeUrl.$error">
          <div ng-message="required">{{'FORM_REQUIRED' | translate}}</div>
          <div ng-message-exp="['required', 'pattern']">
            Bạn phải điền vào link youtube đúng với định dạng!
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>{{'UPLOAD_STEP_1_VIDEO_TITLE' | translate}}</label>
        <input name="title" ng-model="title" ng-hide="submit" required>
        <div ng-messages="myForm.title.$error" multiple md-auto-hide="true">
          <div ng-message="required">{{'FORM_REQUIRED' | translate}}</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <md-select name="channel" placeholder="Chọn kênh" ng-model="vm.selectedChannel" md-on-open="getChannelByUser()" required>
          <md-option ng-repeat="channel in channels" ng-value="channel._id" >
            <md-list-item>
              <img ng-src="{{ channel.avatar }}" alt="{{ channel.name }}" class="md-avatar">
              <p>{{channel.name}}</p>
            </md-list-item>
          </md-option>
        </md-select>
        <div ng-messages="myForm.channel.$error">
          <div ng-message="required">Vui lòng chọn kênh</div>
        </div>
      </md-input-container>

      <!--<input type="text" ng-model="youtube" placeholder="eg: https://www.youtube.com/watch?v=c6Gg4DoGiZo" ng-hide="submit" style="width: 100%;">-->
      <div class="create-video-title" style="margin-top: 5px;" ng-hide="submit">
        <!--<h5>Title</h5>-->
        <!--<input type="text" name="videoTitle" ng-model="title" placeholder="Enter the title" style="width: 100%;" required ng-disabled="uploadSuccess">-->

        <!--<h5>Select Category</h5>-->
        <md-input-container class="md-block">
          <!--<label>please select category</label>-->
          <md-select name="category" multiple ng-model="vm.selectedCategories" placeholder="{{'UPLOAD_STEP_1_SELECT_CATEGORY' | translate}}" required>
            <md-option ng-repeat="cate in categories" ng-value="cate._id">{{cate.name}}</md-option>
          </md-select>
          <div ng-messages="myForm.category.$error">
            <div ng-message="required">{{'FORM_REQUIRED' | translate}}</div>
          </div>
        </md-input-container>

        <!--<h5>Tags</h5>-->
        <div style="margin: 25px 0">
          <md-chips
                  ng-model="vm.tags"
                  md-separator-keys="vm.keys"
                  placeholder="{{'UPLOAD_STEP_1_SELECT_TAGS_2' | translate}}"
                  secondary-placeholder="{{'UPLOAD_STEP_1_SELECT_TAGS' | translate}}">
          </md-chips>
          <div class="hint" style="color: rgba(0, 0, 0, 0.258824)">{{'UPLOAD_STEP_1_SELECT_TAGS_HINT' | translate}}</div>
        </div>

        <md-input-container class="md-block">
          <label>Mô tả video</label>
          <textarea ng-model="vm.description" md-maxlength="300" rows="5"></textarea>
        </md-input-container>

        <div class="text-center" style="margin: 10px auto;">
          <!--<button type="button" class="btn btn-sm btn-default" ng-click="uploadPic(picFile)" ng-disabled="">{{'UPLOAD_STEP_1_UPLOAD_BUTTON' | translate}}</button>-->
          <md-button class="md-raised md-primary" ng-click="uploadPic(picFile)">{{'UPLOAD_STEP_1_UPLOAD_BUTTON' | translate}}</md-button>
        </div>
      </div>
      <!--<div class="description">-->
      <!--<small>*Your video do not have a caption, add a caption by click the button below</small>-->
      <!--</div>-->
    </div>
  </form>
</section>