<!--<div class="cinema-background" style="height: 591px;"></div>-->
<section data-ng-controller="VideosController  as ctrl" data-ng-init="findOne();ctrl.viewInit();initTour()" class="row"
         style="padding: 0;">
  <div ng-controller="ViewVideoController as viewvm">
    <div class="list-page-top-row"></div>

    <!--<h1>{{video.title}}</h1>-->
    <div class="col-md-8">
      <!--<div class="cd-nugget-info">-->
      <!--<h1>Product Tour</h1>-->
      <!--<button id="cd-tour-trigger" class="cd-btn">Start tour</button>-->
      <!--</div>-->
      <ul class="cd-tour-wrapper">
        <li class="cd-single-step">
          <span>Step 1</span>

          <div class="cd-more-info bottom">
            <h2>Step Number 1</h2>
            <p>Chọn ngôn ngữ phụ đề</p>
            <img src="/videos/assets/img/step-1.png" alt="step 1">
          </div>
        </li> <!-- .cd-single-step -->

        <li class="cd-single-step">
          <span>Step 2</span>

          <div class="cd-more-info bottom">
            <h2>Step Number 2</h2>
            <p>Khi một câu trong ohuj đề không đúng nếu có tình nguyện viên khác đóng góp biểu tượng <i class="fa fa-eye eye-warning"></i> sẽ chuyển sang màu vàng</p>
            <img src="/videos/assets/img/step-2.png" alt="step 2">
          </div>
        </li> <!-- .cd-single-step -->

        <li class="cd-single-step">
          <span>Step 3</span>

          <div class="cd-more-info bottom">
            <h2>Step Number 3</h2>
            <p>Nếu bạn thấy phụ đề chưa được chính xác hãy click vào nút này để đóng góp bản sửa, hoặc có thể bình chọn cho các bản dịch khác đúng hơn bản bạn đang xem</p>
            <img src="/videos/assets/img/step-3.png" alt="step 3">
          </div>
        </li> <!-- .cd-single-step -->
      </ul> <!-- .cd-tour-wrapper -->
      <div class="videogular-container card video-placeholder">

        <videogular style="position: absolute" class="cd-app-screen"
                    vg-player-ready="ctrl.onPlayerReady($API)"
                    vg-cue-points="ctrl.config.cuePoints"
                    vg-complete="ctrl.onCompleteVideo()"
                    vg-error="ctrl.onError($event)"
                    vg-update-time="ctrl.onUpdateTime($currentTime, $duration);updateTime($currentTime, $duration)"
                    vg-update-volume="ctrl.onUpdateVolume($volume)"
                    vg-update-state="ctrl.onUpdateState($state)"
                    vg-seeking="ctrl.onSeeking($currentTime, $duration)"
                    vg-seeked="ctrl.onSeeked($currentTime, $duration)"
                    vg-theme="ctrl.config.theme.url"
                    vg-auto-play="ctrl.config.autoPlay"
                    vg-plays-inline="ctrl.config.playsInline"
                    vg-native-fullscreen="ctrl.config.nativeFullscreen"
                    vg-clear-media-on-navigate="false">
          <vg-media vg-src="source"
                    vg-tracks="ctrl.config.tracks"
                    vg-loop="ctrl.config.loop"
                    vg-preload="ctrl.config.preload"
                    vg-native-controls="ctrl.config.controls"
                    vg-youtube="rel=0;showinfo=1;autoplay=1">
          </vg-media>

          <main-caption class="main-caption {{ isFullScreen ? 'full-screen' : '' }}"></main-caption>

          <vg-controls vg-autohide="ctrl.config.autoHide" vg-autohide-time="ctrl.config.autoHideTime">

            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-cue-points style="color: red"
                                       vg-cue-points="ctrl.config.cuePoints.anotation"></vg-scrub-bar-cue-points>
            </vg-scrub-bar>

            <div class="control-bottom">
              <vg-play-pause-button></vg-play-pause-button>
              <vg-volume ng-mouseover="ctrl.test()">
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
              </vg-volume>
              <vg-time-display style="font-size: 11px">{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
              <div class="my-button" style="width: 10px;color: #eee">/</div>
              <vg-time-display style="font-size: 11px">{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
              <my-stop-button></my-stop-button>
              <!--<vg-playback-button></vg-playback-button>-->
              <caption-ctrl captions-list="captionSrc" selected="selectedTrack(track)"
                            ng-click="logFull()"
                            ng-if="captionSrc.length > 0"
                            class="select-caption">
              </caption-ctrl>
              <!--<vg-quality quality-list="quality"-->
              <!--current-quality="currentQuality"-->
              <!--selected="selectedQuality(quality)"></vg-quality>-->
              <vg-setting2></vg-setting2>
              <div uib-tooltip="Edit caption" class='my-button iconButton'><a href="{{editLink}}"><span
                      class="glyphicon glyphicon-edit"></span></a></div>
              <vg-fullscreen-button uib-tooltip="Full Screen"></vg-fullscreen-button>
            </div>

          </vg-controls>

          <top-caption minus="customSave(text,time)"
                       display="{{display}}"
                       display2="{{display2}}"
                       plus="plusVote(voted)">
          </top-caption>

          <vg-analytics vg-track-info="ctrl.config.plugins.analytics"></vg-analytics>
          <!--<vg-buffering></vg-buffering>-->
          <!--<my-replay-plugin yes="plusVoteEndOfVideo()" no="noVoteEndOfVideo()" voted="endVideoVote"></my-replay-plugin>-->
          <!--<vg-overlay-play></vg-overlay-play>-->
          <!--<vg-poster vg-url='ctrl.config.plugins.poster'></vg-poster>-->
        </videogular>
        <div class="cd-cover-layer"></div>
      </div>

      <!--<div class="card">-->
      <!--<div class="card-content">-->
      <!--<pre>{{quality}}</pre>-->
      <!--<p ng-repeat="ano in ctrl.config.cuePoints.anotation" ng-show="ano.params.show">{{ano.params.text}}</p>-->
      <!--<vg-setting2 max="3"></vg-setting2>-->
      <!--</div>-->
      <!--</div>-->

      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="video-meta col-md-8">
              <h1 class="video-title headline" data-block-track="videoTitle">{{video.title}}</h1>
              <div class="view-video" style="position: relative;">
                <a ng-href="/channel/{{ video.channel._id }}/home" class="view-video__channel-avatar">
                  <img ng-src="{{ video.channel.avatar }}" alt="{{ video.channel.name }}">
                </a>
                <div class="vs-user-info">
                  <a ng-href="/channel/{{ video.channel._id }}/home" class="vs-uix-sessionlink g-hovercard spf-link ">{{ video.channel.name }}</a>
                </div>
                <a data-count="{{video.channel.subscribeCount}}" class="subscribe-button" ng-click="handleSubscribe()">
                  <svg xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <rect width="2" height="12" x="5" y="0" class="plus__line1"></rect>
                      <rect width="12" height="2" x="0" y="5" class="plus__line2"></rect>
                    </g>
                  </svg><span class="subscribe-text">Subscribe</span>
                </a>
                <!--<subscribe state="vm.channel.subscribeState" count="vm.channel.subscribeCount" ng-click="vm.handleSubscribe()"></subscribe>-->
              </div>
              <!--<pre>{{ video | json }}</pre>-->
            </div>
            <div class="col-md-4">
              <!--<div class="btn-action-icons right" data-block-track="toolsLinks">-->
              <!--<a href="http://subber.viki.com/translations/1071044" rel="nofollow" class="contribution-icon" title="Subtitle Editor"><i class="icon-viki-subtitles"></i></a>-->
              <!--<a href="http://subber.viki.com/subtitlers/1071044" rel="nofollow" class="contribution-icon" title="Segment Timer"><i class="icon-viki-segments"></i></a>-->
              <!--<span class="addthis-item addthis-no-smartlayer" data-block-track="addThis">-->
              <!--<span class="addthis_toolbox">-->
              <!--<a class="addthis_button_compact mt-small at300m" href="#"><i class="icon-share pull-left mrs"></i></a>-->
              <!--<div class="atclear"></div></span>-->
              <!--</span>-->
              <!--<a href="#userComments" data-scroll="1" rel="nofollow" title="Comments"><i class="icon-comment"></i></a>-->
              <!--</div>-->
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
            <span class="info">
              <span ng-repeat="lock in video.lockedLanguage">{{lock.language_symbol}} 100% • </span>
              <span class="pull-right" style="line-height: 24px;text-align: right;font-size: 19px;color: #666;">
                {{video.view}} Lượt xem
              </span>
              <!--<ul class="tags blue">-->
              <!--<li ng-repeat="tag in video.tags"><a href="#">{{tag.name}} <span>31</span></a></li>-->
              <!--</ul>-->
              <!--<span ng-repeat="tag in video.tags">{{tag.name}}</span>-->
              <!--<span ng-repeat="cate in video.categories">{{cate.name}}</span>-->
            </span>
            </div>
          </div>
          <div class="divider divider-vertical-space"></div>
          <div class="row">
            <div class="container-meta col-md-8">
              <button class="js-btn-favorite btn-favorite" href="javascript:void(0);" rel="no-follow" id="cd-tour-trigger" ng-click="viewvm.addFavorite(video._id)">
                <i class="fa fa-plus left"></i>
                <span class="btn-favorite-inner mls">
                   <span class="count-followers hide-on-small">Thêm vào</span>
                </span>
              </button>
              <button class="js-btn-favorite btn-favorite" href="javascript:void(0);" rel="no-follow" ng-click="share = !share">
                <i class="fa fa-share left"></i>
                <span class="btn-favorite-inner mls">
                   <span class="count-followers hide-on-small">Chia sẻ</span>
                </span>
              </button>
              <button class="js-btn-favorite btn-favorite" href="javascript:void(0);" rel="no-follow" ng-click="report = !report">
                <i class="fa fa-flag left"></i>
                <span class="btn-favorite-inner mls">
                   <span class="count-followers hide-on-small">Báo cáo</span>
                </span>
              </button>
            </div>
            <div class="col-md-4">
              <div class="right">
                <a class="js-btn-favorite btn-favorite" href="javascript:void(0);" rel="no-follow" ng-click="voteVideo(video._id)">
                  <i class="fa fa-thumbs-up left" style="font-size: 20px;color: #777777;"></i>
                  <span class="js-spinner loader-wrapper-inline loader-wrapper-small left hidden"><i class="loader loader-small"></i></span>
                <span class="btn-favorite-inner mls">
                   <span class="count-followers hide-on-small">{{video.voteCount}}</span>
                </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card share-area" ng-show="share">
        <div class="card-content">
          <a facebook-feed-share class="facebookShare"
             data-url='{{currentURL}}'
             data-shares='shares'
             data-caption='votesub.com'
             data-picture='{{video.thumbnail}}'
             data-name='{{video.title}}'
             data-description="{{video.description}}">
            {{ shares }}
          </a>
          <!--<button ng-click="start()">start</button>-->
        <span gplus class="g-plus"
              data-size="tall"
              data-annotation="bubble"
              data-href='{{currentURL}}'
              data-action='share'>
        </span>
        </div>
      </div>

      <div class="card" ng-show="report">
        <div class="card-content">
          <form name="reportForm" role="form" ng-submit="reportSubmit(reportForm.$valid)" novalidate>
            <span class="strong">Nhập ý kiến của bạn về video hoặc phụ đề vào ô phía dưới!</span>
            <md-input-container class="md-block">
              <label>Báo cáo video</label>
              <textarea ng-model="ctrl.report.content" md-maxlength="300" rows="5" md-select-on-focus required></textarea>
            </md-input-container>
            <md-button class="md-raised md-primary pull-right" ng-disabled="reportForm.$invalid" type="submit">Gửi</md-button>
          </form>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <span class="strong">Xuất bản {{video.created_at | date : 'dd MM yyyy'}}</span>
          <p>{{video.description}}</p>
          <ul class="tags blue">
            <li style="background-color: #ccc;padding: 3px 5px;border-radius: 2px;margin: 0 0 8px 0px;">Tags:</li>
            <li ng-repeat="tag in video.tags"><a href="#">{{tag.name}} <span>31</span></a></li>
          </ul>
          <span>Danh Mục:</span><span ng-repeat="cate in video.categories"><a href="#"> {{cate.name}}, </a></span>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="fb-comments" xid="{{video._id}}" data-numposts="5"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4" ng-init="viewvm.getRandom()">
      <div ng-repeat="video in viewvm.videos" class="card next-episode-card">
        <div class="card-content" data-block-track="videoRecommendationsNextEpisode">
          <a ng-href="/videos/{{video._id}}" class="media">
            <div class="media-left">
              <img alt="{{video.title}}" class="media-object" height="63" itemprop="thumbnailUrl"
                   ng-src="{{video.thumbnail}}"
                   width="110">
            </div>
            <div class="media-body">
              <h1 class="media-heading strong media-list-title">
                <!--<span class="base-text">Next</span>-->
                {{video.title | cut:true:50:'...'}}
              </h1>
          <span class="media-content grey-text text-lighten-1">
            <span>{{video.channel.name}}</span>
            <span><br></span>
            <span am-time-ago="video.created_at"></span>
                  <span>•</span>
                  <span>{{video.view}} lượt xem</span>
          </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>