menu, ol, ul {
  list-style: none;
}
.content-snap-width-3 .container {
  width: 1262px !important;
  padding-left: 0;
  padding-right: 0;
}
.content-snap-width-2 .container {
  width: 1056px;
  padding-left: 0;
  padding-right: 0;
}
.content-snap-width-1 .container {
  width: 850px;
  padding-left: 0;
  padding-right: 0;
}
.list-page-col-container {
  display: table;
  table-layout: fixed;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.list-page-col-container-inner {
  display: table-row;
}
.individual-feed {
  position: relative
}
ol {
  /*display: block;*/
  /*list-style: none;*/
  /*list-style-type: decimal;*/
  /*-webkit-margin-before: 1em;*/
  /*-webkit-margin-after: 1em;*/
  /*-webkit-margin-start: 0px;*/
  /*-webkit-margin-end: 0px;*/
  /*-webkit-padding-start: 40px;*/
}
.branded-page-module-title a:visited, .branded-page-module-title a {
  color: #333;
}

.list-page-primary-col .branded-page-box, .section-list li .item-section .branded-page-box {
  /*border-bottom: 1px solid #e2e2e2;*/
}
.browse-list-item-container.feed-item-container.branded-page-box, .compact-shelf.branded-page-box {
  padding-left: 18px;
  padding-right: 18px;
}
.feed-item-container {
  position: relative;
}
.branded-page-base-bold-titles .branded-page-module-title {
  font-weight: 500;
}
.shelf-item .branded-page-module-title {
  overflow: visible;
  white-space: normal;
}
.shelf-item .shelf-title-cell {
  display: table-cell;
}
.branded-page-module-title {
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3em;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #333;
}
.exp-responsive .shelf-item .branded-page-module-title .branded-page-module-title-link {
  white-space: nowrap;
  word-break: break-all;
  word-break: break-word;
}
.shelf-item .branded-page-module-title a.branded-page-module-title-link {
  display: inline;
  height: 18px;
  line-height: 18px;
}
.feed-item-container .branded-page-module-title .branded-page-module-title-link {
  display: inline-block;
  vertical-align: bottom;
}
.exp-responsive .shelf-item .branded-page-module-title .branded-page-module-title-text {
  white-space: normal;
}
.shelf-item .branded-page-module-title .branded-page-module-title-text {
  display: inline;
  margin-top: 1px;
  vertical-align: middle;
}
.shelf-item .shelf-title-table {
  display: table;
  width: 100%;
}
.multirow-shelf {
  padding-right: 0;
  margin-right: -10px;
}
.multirow-shelf {
  font-size: 0;
}
.multirow-shelf .vs-uix-expander.vs-uix-expander-collapsed .shelf-content {
  display: block;
  position: relative;
}
.multirow-shelf .vs-uix-expander.vs-uix-expander-collapsed .shelf-content {
  margin-right: -8px;
}
.multirow-shelf .shelf-content {
  margin-bottom: -12px;
}
nder-collapsed .vs-shelf-grid-item:nth-child(-1n+10), .content-snap-width-3 .list-page-secondary-column-hidden .multirow-shelf .vs-uix-expander.vs-uix-expander-collapsed .vs-shelf-grid-item:nth-child(-1n+12) {
  display: inline-block;
}
.vs-shelf-grid-item {
  margin-right: 10px;
  vertical-align: top;
  width: 196px;
  word-wrap: break-word;
}
.multirow-shelf .vs-shelf-grid-item .vs-lockup {
  display: block;
}
.vs-lockup.vs-lockup-grid {
  font-size: 11px;
}
.vs-lockup {
  color: #767676;
  line-height: 1.3em;
  position: relative;
}
.vs-lockup-grid .vs-lockup-thumbnail {
  margin-bottom: 4px;
}
.contains-addto {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.vs-lockup-thumbnail {
  line-height: 0;
  position: relative;
}
.video-thumb {
  position: relative;
}

.vs-thumb {
  overflow: hidden;
  background: #f1f1f1;
  font-size: 0;
  vertical-align: middle;
  display: inline-block;
}
.vs-thumb img {
  font-size: 13px;
  outline: none;
}
.vs-lockup .vs-lockup-content {
  overflow: hidden;
  position: relative;
}
.vs-lockup-grid .vs-lockup-title.contains-action-menu {
  margin-right: 20px;
}
.vs-lockup-grid .vs-lockup-title {
  font-size: 13px;
  margin-bottom: 1px;
  max-width: 196px;
}
.vs-lockup-title {
  margin-bottom: 2px;
}
.vs-lockup-grid .vs-lockup-meta {
  max-width: 196px;
}
.vs-lockup-meta {
  display: block;
}
.vs-lockup-meta-info>li {
  line-height: 1.3em;
  display: inline-block;
}
.video-time {
  margin-top: 0;
  margin-right: 0;
  padding: 0 4px;
  font-weight: 500;
  font-size: 11px;
  background-color: #000;
  color: #fff!important;
  height: 14px;
  line-height: 14px;
  opacity: .75;
  filter: alpha(opacity=75);
  display: -moz-inline-stack;
  vertical-align: top;
  display: inline-block;
}
.video-time {
  position: absolute;
  right: 2px;
  bottom: 2px;
}
.vs-lockup .vs-lockup-byline a {
  color: #767676;
}
.content-snap-width-3 .multirow-shelf .vs-uix-expander.vs-uix-expander-collapsed .vs-shelf-grid-item:nth-child(-1n+10), .content-snap-width-3 .list-page-secondary-column-hidden .multirow-shelf .vs-uix-expander.vs-uix-expander-collapsed .vs-shelf-grid-item:nth-child(-1n+12) {
  display: inline-block;
}
.multirow-shelf .shelf-content .vs-shelf-grid-item {
  margin-bottom: 12px;
}
.vs-shelf-grid-item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  width: 196px;
  word-wrap: break-word;
}
#browse-items-primary .item-section>li>.vs-lockup-tile, .branded-page-box, .branded-page-box-padding {
  padding: 15px;
}


#browse-items-primary .item-section>li>.vs-lockup-tile,
.list-page-primary-col .branded-page-box,
.section-list li .item-section .branded-page-box {
  border-bottom: 1px solid #e2e2e2
}
#browse-items-primary .item-section>li:last-child>.vs-lockup-tile,
.list-page-primary-col .branded-page-box:last-child,
.section-list li:last-child .item-section li:last-child .branded-page-box {
  border-bottom: 0
}
.list-page-primary-col .vs-uix-inlineedit-view-container .branded-page-box {
  border-bottom: 1px solid #e2e2e2
}
.list-page-has-top-row .list-page-secondary-col .branded-page-box:last-child {
  border-bottom: 0
}

.browse-list-item-container .branded-page-module-title .vs-lockup-thumbnail {
  display: inline-block;
  vertical-align: middle;
}
.vs-lockup-thumbnail {
  line-height: 0;
  position: relative;
}
.browse-list-item-container .branded-page-module-title .video-thumb {
  margin-right: 5px;
}
.video-thumb {
  position: relative;
}
.vs-thumb {
  overflow: hidden;
  background: #f1f1f1;
  font-size: 0;
  vertical-align: middle;
  display: inline-block;
}
.vs-thumb img {
  font-size: 13px;
  outline: none;
}