.step-section {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  margin: 0 0 15px;
  radius: 0;
  -moz-transition: background .2s linear;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
}

.step-section .badge {
  position: absolute;
  left: -13px;
  top: 15px;
  background: #107E86;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  line-height: 19px;
  font-size: 15px;
}

.step-section h5 {
  margin: 10px auto;
  text-align: center;
}

.step {
  font-size:18px;
  margin-bottom: 15px;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 100%;
  height: 90px;
  text-align: center;
  padding-top: 25px;
  /*margin: 10px;*/
  /*margin:0 auto;*/
}

.dragover {
  border: 5px dashed blue;
}

.upload-caption {
  text-align: center;
  /*line-height: 36px;*/
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  /*height: 36px;*/
  /*margin-top: 5px;*/
  /*display: block;*/
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.gray-not-upload {
  color: rgb(153,153,153);
  display: none;
}

select {

  /* styling */
  background-color: white;
  border: thin solid #777;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.minimal {
  background-image:
          linear-gradient(45deg, transparent 50%, gray 50%),
          linear-gradient(135deg, gray 50%, transparent 50%),
          linear-gradient(to right, #ccc, #ccc);
  background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          calc(100% - 2.5em) 0.5em;
  background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
          linear-gradient(45deg, #176583 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, #176583 50%),
          linear-gradient(to right, #ccc, #ccc);
  background-position:
          calc(100% - 15px) 1em,
          calc(100% - 20px) 1em,
          calc(100% - 2.5em) 0.5em;
  background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
  background-repeat: no-repeat;
  border-color: #176583;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* Base
------------------------------------------------------------------------- */

body {
  font-family: Roboto,arial,sans-serif;
  font-size: 13px;
}

/* Step Navigation
------------------------------------------------------------------------- */

.stepNav {
  /*margin: 30px 20px;*/
  padding-left: 0;
  height: 43px;
  padding-right: 20px;
  position: relative;
  z-index: 0;
}

/* z-index to make sure the buttons stack from left to right */

.stepNav li {
  float: left;
  position: relative;
  z-index: 3;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
  box-shadow: 0 1px 1px rgba(0,0,0,0.12);
}

.stepNav li:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

.stepNav li:nth-child(2) { z-index: 1; }
.stepNav li:nth-child(3) { z-index: 0; }

/* different widths */

.stepNav.twoWide li { width: 50%; }
.stepNav.threeWide li { width: 33.33%; }

/* step links */

.stepNav a, .stepNav a:visited {
  width: 100%;
  height: 43px;
  padding: 0 0 0 25px;
  color: #717171;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  line-height: 43px;
  white-space: nowrap;
  border: 1px solid #cbcbcb;
  text-decoration: none;
  border-top-color: #dddddd;
  border-right: 0;
  background-color: #fbfbfb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(251, 251, 251)), to(rgb(233, 233, 233)));
  background-image: -webkit-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
  background-image: -moz-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
  background-image: -o-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
  background-image: -ms-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
  background-image: linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.stepNav li:first-child a {
  padding-left: 12px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

.stepNav a:before {
  content: "";
  width: 29px;
  height: 29px;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #cbcbcb;
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgb(251, 251, 251)), to(rgb(233, 233, 233)));
  background-image: -webkit-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
  background-image: -moz-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
  background-image: -o-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
  background-image: -ms-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
  background-image: linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
  display: block;
  position: absolute;
  top: 6px;
  right: -16px;
  z-index: -1;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.stepNav a:hover {
  color: #2e2e2e;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(242, 242, 242)), to(rgb(217, 217, 217)));
  background-image: -webkit-linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
  background-image: -moz-linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
  background-image: -o-linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
  background-image: -ms-linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
  background-image: linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
}

.stepNav a:hover:before {
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgb(242, 242, 242)), to(rgb(217, 217, 217)));
  background-image: -webkit-linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
  background-image: -moz-linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
  background-image: -o-linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
  background-image: -ms-linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
  background-image: linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
}

/* selected */

.stepNav li.selected {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.stepNav li.selected a, .stepNav li.selected a:before {
  background: #ebebeb;
}

.stepNav li.selected a {
  border-top-color: #bebebe;
  -webkit-box-shadow: inset 2px 1px 2px rgba(0,0,0,0.12);
  -moz-box-shadow: inset 2px 1px 2px rgba(0,0,0,0.12);
  box-shadow: inset 2px 1px 2px rgba(0,0,0,0.12);
}

.stepNav li.selected a:before {
  border-right: 1px solid #bebebe;
  border-bottom: 1px solid #cbcbcb;
  -webkit-box-shadow: inset -1px -1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset -1px -1px 1px rgba(0,0,0,0.1);
  box-shadow: inset -1px -1px 1px rgba(0,0,0,0.1);
}
.create-video-upload label {
  font-size: 16px;
  font-weight: normal;
}