.js-btn-favorite {
  background: none;
  border: none;
}
.js-btn-favorite i {
  margin-right: 5px;
}

.browse-items-load-more-button {
  display: block !important;
  margin: 20px auto;
  clear: both;
}
.vs-uix-button-default, .vs-uix-button-default[disabled], .vs-uix-button-default[disabled]:hover, .vs-uix-button-default[disabled]:active, .vs-uix-button-default[disabled]:focus {
  border-color: #d3d3d3 !important;
  background: #f8f8f8;
  color: #333;
}
.vs-uix-button {
  display: inline-block;
  height: 28px;
  border: solid 1px transparent;
  padding: 0 10px;
  outline: 0;
  font-weight: 500;
  font-size: 11px;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

/*
 |--------------------------------------------------------------------------
 | subscribe button
 |--------------------------------------------------------------------------
 */
.vs-user-info {
  margin-left: 58px;
  white-space: nowrap;
  width: 380px;
}
.vs-user-info a {
  display: inline-block;
  height: 24px;
  color: #333;
  font-weight: 800;
  max-width: 315px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  font-size: 13px;
}

.view-video .view-video__channel-avatar {
  float: left;
}
.view-video .view-video__channel-avatar img {
  width: 48px;
  height: 48px;
}

/*
 |--------------------------------------------------------------------------
 | $Subscribe button
 |--------------------------------------------------------------------------
 */
.view-video .subscribe-button {
  position: relative;
  padding: 4px 7px;
  font-size: 12px;
  margin-left: 10px;
  font-weight: 500;
}

.view-video .subscribe-button:after {
  padding: 2px !important;
}

