<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
{% include '../includes/head.html' %}

<body data-ng-controller="ThemeController" ng-cloak class="ng-cloak homepage appbar-hidden" ng-class="state" style="background-color: #f1f1f1;overflow-y: scroll !important;" id="home">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=152153228474804";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="navbar navbar-default navbar-fixed-top" data-ng-include="'/system/views/header.html'" data-role="navigation"></div>
    <div id="masthead-positioner-height-offset"></div>
    <div data-ng-include="'/admin/views/index.html'"></div>
    <section class="content" id="section-wraper" style="margin-top: 0;">
        <section class="container" style="padding-bottom: 50px;">
            {% block content %}{% endblock %}
        </section>
    </section>
    <div ng-include="'/system/views/footer.html'"></div>
    {% include '../includes/foot.html' %}
</body>

</html>
