<div class="" data-ng-controller="SocketController">
  <h1>Example view from your new awesome package</h1>
  <h2>Package: {{package.name}}</h2>
  <pre>{{display}}</pre>
  <button ng-click="click()">Clik</button>
</div>

