$white: #FFFFFF;
$black: #000000;
$dark-gray: lighten($black, 20%);
$gray: lighten($black, 40%);
$light-gray: lighten($black, 60%);

$primary: #303841;
$accent: #0781D7;

.request-card {
  background: $white;
  //width: 300px;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba($black, 0.2);
  margin: 0 auto;
  overflow: hidden;

  &-header {
    position: relative;
    background: $primary;
    height: 200px;
    text-align: center;
    overflow: hidden;

    &__avatar {
      background: $primary;
      background-position: center 30%;
      background-size: 100%;
      height: 100%;
      width: 100%;
    }

    &__follow {
      position: absolute;
      top: 20px;
      right: 20px;
      background: $white;
      border-radius: 2px;
      box-shadow: 0 2px 4px rgba($black, 0.2);
      padding: 6px 10px;
      color: $dark-gray;
      font-size: 10px;
      font-weight: 600;
      line-height: normal;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &-content {
    text-align: center;
    padding: 10px 15px;

    &__username {
      padding: 0 0 10px;
      color: $dark-gray;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      border-bottom: 1px solid #eee;
      min-height: 53px;

      .badge {
        display: inline-block;
        background: #FCD000;
        border-radius: 2px;
        margin: 0 10px 0;
        padding: 4px;
        color: $dark-gray;
        font-size: 10px;
        font-weight: 600;
        vertical-align: middle;
      }
    }

    &__bio {
      color: #e68a00;
      font-size: 2em;
      font-weight: bold;
      text-align: center;
      margin: 0;
      padding-top: 10px;
    }
  }

  &-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: #F3F3F3;
    padding: 15px 40px;
    color: $dark-gray;
    font-size: 14px;
    font-weight: 600;
    text-align: center;

    .fa {
      font-size: 25px;
      cursor: pointer;

      &.liked {
        color: #00acc1;
      }
    }

    .label {
      display: block;
      margin: 4px 0 0;
      color: $gray;
      font-size: 10px;
      font-weight: 400;
    }
  }
}

.code {
  background: rgba($black, 0.1);
  max-width: 600px;
  border-radius: 2px;
  margin: 40px auto 100px;
  font-family: monospace;
  overflow: hidden;
  overflow-x: auto;

  &:before {
    content: 'HTML Code';
    display: block;
    padding: 20px 20px 0;
    color: $dark-gray;
    font-weight: 600;
  }
}