.request-card {
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  overflow: hidden; }
  .request-card-header {
    position: relative;
    background: #303841;
    height: 200px;
    text-align: center;
    overflow: hidden; }
    .request-card-header__avatar {
      background: #303841;
      background-position: center 30%;
      background-size: 100%;
      height: 100%;
      width: 100%; }
    .request-card-header__follow {
      position: absolute;
      top: 20px;
      right: 20px;
      background: #FFFFFF;
      border-radius: 2px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      padding: 6px 10px;
      color: #333333;
      font-size: 10px;
      font-weight: 600;
      line-height: normal;
      text-decoration: none;
      text-transform: uppercase; }
  .request-card-content {
    text-align: center;
    padding: 10px 15px; }
    .request-card-content__username {
      padding: 0 0 10px;
      color: #333333;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      border-bottom: 1px solid #eee;
      min-height: 53px; }
      .request-card-content__username .badge {
        display: inline-block;
        background: #FCD000;
        border-radius: 2px;
        margin: 0 10px 0;
        padding: 4px;
        color: #333333;
        font-size: 10px;
        font-weight: 600;
        vertical-align: middle; }
    .request-card-content__bio {
      color: #e68a00;
      font-size: 2em;
      font-weight: bold;
      text-align: center;
      margin: 0;
      padding-top: 10px; }
  .request-card-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: #F3F3F3;
    padding: 15px 40px;
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    text-align: center; }
    .request-card-footer .fa {
      font-size: 25px;
      cursor: pointer; }
      .request-card-footer .fa.liked {
        color: #00acc1; }
    .request-card-footer .label {
      display: block;
      margin: 4px 0 0;
      color: #666666;
      font-size: 10px;
      font-weight: 400; }

.code {
  background: rgba(0, 0, 0, 0.1);
  max-width: 600px;
  border-radius: 2px;
  margin: 40px auto 100px;
  font-family: monospace;
  overflow: hidden;
  overflow-x: auto; }
  .code:before {
    content: 'HTML Code';
    display: block;
    padding: 20px 20px 0;
    color: #333333;
    font-weight: 600; }
