<md-dialog ng-cloak>
  <form name="requestForm" ng-submit="create(requestForm.$valid)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Gửi yêu cầu tạo channel</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Title</label>
          <input md-maxlength="100" required md-no-asterisk name="name" ng-model="request.name">
          <div ng-messages="requestForm.name.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 100 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Mô tả về kênh mà bạn muốn tạo</label>
          <textarea required name="description"
                    md-minlength="20"
                    ng-model="request.description"></textarea>
          <div ng-messages="requestForm.description.$error">
            <div ng-message="required">Bạn phải điền mục này</div>
            <div ng-message="md-minlength">mô tả của bạn quá ngắn</div>
          </div>
        </md-input-container>
        <p>Yêu cầu tạo kênh của bạn sẽ được admin duyệt trong thời gian ngắn nhất</p>
        <md-input-container class="md-block">
          <!--<label>please select category</label>-->
          <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="request.term" name="term" class="md-primary" required>
            Tôi đồng ý với <a href="#">các điều khoản sử dụng</a>
          </md-checkbox>
          <div ng-messages="requestForm.term.$error">
            <div ng-message="required">Bạn phải đồng ý với các điều khoản</div>
          </div>
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button class="md-raised md-primary" type="submit">SUBMIT</md-button>
        </section>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <!--<md-button ng-click="answer('not useful')">-->
      <!--Not Useful-->
      <!--</md-button>-->
      <!--<md-button ng-click="answer('useful')" style="margin-right:20px;">-->
      <!--Useful-->
      <!--</md-button>-->
    </md-dialog-actions>
  </form>
</md-dialog>