<md-dialog ng-cloak>
  <form name="requestForm" ng-submit="create(requestForm.$valid)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Gửi yêu cầu Sub và dịch sub</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Title</label>
          <input md-maxlength="100" required md-no-asterisk name="title" ng-model="request.title">
          <div ng-messages="requestForm.title.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 100 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>URL</label>
          <input required name="url" ng-model="request.url">
          <div ng-messages="requestForm.url.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <!--<label>please select category</label>-->
          <md-select name="language" ng-model="selectedLanguage" md-on-open="getLanguages()" placeholder="Chọn ngôn ngữ bạn muốn dịch" required>
            <md-option ng-repeat="lang in languages" value="{{lang._id}}">{{lang.language_description}}</md-option>
          </md-select>
          <div ng-messages="myForm.language.$error">
            <div ng-message="required">{{'FORM_REQUIRED' | translate}}</div>
          </div>
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button class="md-raised md-primary" type="submit">SUBMIT</md-button>
        </section>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button href="/request" md-autofocus ng-click="cancel()">
        Xem các video đang được đề xuất
      </md-button>
      <span flex></span>
      <!--<md-button ng-click="answer('not useful')">-->
        <!--Not Useful-->
      <!--</md-button>-->
      <!--<md-button ng-click="answer('useful')" style="margin-right:20px;">-->
        <!--Useful-->
      <!--</md-button>-->
    </md-dialog-actions>
  </form>
</md-dialog>