<div ng-init="hdrctr.getChannelByUser()"
     id="vs-uix-clickcard-card9"
     class="vs-uix-clickcard-card vs-masthead-account-picker-card vs-masthead-multilogin vs-uix-clickcard-card-reverse vs-uix-kbd-nav"
     style="right: 10px; top: 50px; position: fixed;">
  <div class="vs-uix-card-border-arrow vs-uix-card-border-arrow-vertical" style="right: 8.5px;"></div>
  <div class="vs-uix-clickcard-card-border">
    <div class="vs-uix-card-body-arrow vs-uix-card-body-arrow-vertical" style="right: 8.5px;"></div>
    <div class="vs-uix-clickcard-card-body">
      <div class="vs-masthead-account-picker vs-uix-clickcard-card-content">



        <a class="vs-masthead-picker-header vs-masthead-picker-active-account" ng-href="/user/{{hdrctr.hdrvars.user._id}}">
          Your Account
        </a>

        <div id="vs-unlimited-member"></div>

        <div class="vs-masthead-picker-body">
          <a class="vs-masthead-picker-photo-wrapper" ng-href="/user/{{hdrctr.hdrvars.user._id}}"> <span class="video-thumb vs-thumb vs-thumb-64">
            <span class="vs-thumb-square">
              <span class="vs-thumb-clip">
                <img alt="{{ hdrctr.hdrvars.user.name }}" width="64" ng-src="{{ hdrctr.hdrvars.user.avatar }}" aria-hidden="true" height="64">
                <span class="vertical-align"></span>
              </span>
            </span>
            </span>
            <!--<span class="vs-masthead-picker-photo-change">Change</span>-->
          </a>
          <div class="vs-masthead-picker-info">
            <div class="vs-masthead-picker-name" dir="ltr">{{ hdrctr.hdrvars.user.name }}</div>
            <div class="vs-masthead-picker-account-subtitle" id="vs-subscriber-count">Admin</div>
              <a ng-href="/user/{{hdrctr.hdrvars.user._id}}" class="vs-uix-button  vs-masthead-picker-button vs-masthead-picker-button-primary vs-uix-sessionlink vs-uix-button-default vs-uix-button-size-default">

                <span class="vs-uix-button-content">Account Setting</span>

              </a>
              <!--<a href="/account" class="vs-uix-button  vs-masthead-picker-button vs-masthead-picker-settings-button vs-uix-tooltip vs-uix-sessionlink vs-uix-button-default vs-uix-button-size-default vs-uix-button-has-icon vs-uix-tooltip vs-uix-button-empty" title="YouTube settings">-->
                <!--<span class="vs-uix-button-icon-wrapper">-->
                  <!--<span class="vs-uix-button-icon vs-uix-button-icon-icon-account-settings vs-sprite"></span>-->
                <!--</span>-->
              <!--</a>-->
          </div>
        </div>

        <div id="vs-masthead-multilogin" class="vs-masthead-multilogin-users">
          <div id="vs-delegate-accounts"></div>

          <div class="vs-masthead-multilogin-users-header">Your channel</div>
          <a ng-repeat="channel in hdrctr.channels"
             class="vs-masthead-account-picker-option vs-masthead-account-picker-user-option"
             ng-href="/channel/{{ channel._id }}/home">


            <span class="video-thumb vs-masthead-picker-photo-wrapper vs-thumb vs-thumb-36">
              <span class="vs-thumb-square">
                <span class="vs-thumb-clip">
                  <img alt="{{ channel.name }}" ng-src="{{ channel.avatar }}" height="36" width="36">

                  <span class="vertical-align"></span>
                </span>
              </span>
            </span>


            <div class="vs-masthead-picker-info">
              <div class="vs-masthead-picker-name" dir="ltr">{{ channel.name }}</div>
              <!--<div class="vs-masthead-picker-account-subtitle">-->
                <!--hainam1294@gmail.com-->
              <!--</div>-->
            </div>

          </a>


        </div>


        <div id="vs-channel-switcher-link" class="clearfix"></div>

        <div class="vs-masthead-picker-footer clearfix">
          <a href="javascript:void(0)" class="vs-uix-button  vs-masthead-picker-button vs-uix-sessionlink vs-uix-button-default vs-uix-button-size-default">
            <span class="vs-uix-button-content" ng-click="hdrctr.createChannel($event)">Create channel</span>
          </a>

          <a href="javascript:void(0)" class="vs-uix-button  vs-masthead-picker-button vs-uix-sessionlink vs-uix-button-default vs-uix-button-size-default">
            <span class="vs-uix-button-content" ng-click="hdrctr.logout()">Sign out</span>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
