<!--<footer class="page-footer">-->
  <!--<div class="container" data-block-track="footerLinks" style="padding-top: 0;">-->
    <!--<div class="row">-->
      <!--<div class="col s12 m6 l4">-->
        <!--<div class="row">-->
          <!--<div class="col s6">-->
            <!--<h3 class="page-footer-heading"><a href="/about">Company</a></h3>-->
            <!--<ul class="page-footer-nav-links">-->
              <!--<li><a href="/about">About Us</a></li>-->
              <!--<li><a href="/press">Press Center</a></li>-->
              <!--<li><a href="">Viki Blog</a></li>-->
              <!--<li><a href="">Viki Store</a></li>-->
              <!--<li><a href="/jobs">Work For Us <span class="badge moonshine-pink white-text">We're Hiring</span></a></li>-->
            <!--</ul>-->
            <!--<h3 class="page-footer-heading"><a href="">Products</a></h3>-->
            <!--<ul class="page-footer-nav-links">-->
              <!--<li><a href="">Viki Pass</a></li>-->
              <!--<li><a href="/apps">Viki Apps</a></li>-->
              <!--<li><a href="">Soompi</a></li>-->
            <!--</ul>-->
          <!--</div>-->
          <!--<div class="col s6">-->
            <!--<h3 class="page-footer-heading"><a href="/community">Community</a></h3>-->
            <!--<ul class="page-footer-nav-links">-->
              <!--<li><a href="/community">Community</a></li>-->
              <!--<li><a href="">Discussions</a></li>-->
              <!--<li><a href="/volunteer">Volunteer</a></li>-->
              <!--<li><a href="">Volunteer Finder</a></li>-->
              <!--<li><a href="">Project Finder</a></li>-->
              <!--<li><a href="/endangeredlanguages">Endangered Languages</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col s12 m6 l4">-->
        <!--<div class="row">-->
          <!--<div class="col s6">-->
            <!--<h3 class="page-footer-heading"><a href="/partners">Partners</a></h3>-->
            <!--<ul class="page-footer-nav-links">-->
              <!--<li><a href="/partners">Content Partners</a></li>-->
              <!--<li><a href="/networks">Distribution Partners</a></li>-->
              <!--<li><a href="/advertise">Advertisers</a></li>-->
              <!--<li><a href="http://dev.viki.com">Developers</a></li>-->
              <!--<li><a href="/producersportal"><span class="translation_missing" title="translation missing: en.footer.producers_portal">Producers Portal</span></a></li>-->
            <!--</ul>-->
          <!--</div>-->
          <!--<div class="col s6">-->
            <!--<h3 class="page-footer-heading"><a href="/zendesk/login">Support</a></h3>-->
            <!--<ul class="page-footer-nav-links"><li><a href="/zendesk/login">Help Center</a></li></ul>-->
            <!--<h3 class="page-footer-heading"><a href="/terms_of_use">Legal</a></h3>-->
            <!--<ul class="page-footer-nav-links">-->
              <!--<li><a href="/terms_of_use">Terms Of Use</a></li>-->
              <!--<li><a href="/privacy">Privacy Policy</a></li>-->
              <!--<li><a href="/copyright">Intellectual Property Policy</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col s12 m8 l3 offset-l1">-->
        <!--<p class="page-footer-brand">-->
          <!--<a href="/" class="left">-->
            <!--<img src="/system/assets/img/logo.png" alt="footer-logo" width="50">-->
          <!--</a>-->
          <!--<br>-->
        <!--</p>-->
        <!--<p>Viki is a global TV site, where millions of people watch their favorite shows, movies, celebrity news and more — subtitled into 200+ languages by a community of avid fans.</p>-->
        <!--<ul class="page-footer-social clearfix" data-block-track="footerSocial">-->
          <!--<li><a href="http://www.facebook.com/" class="social-facebook circle" title="Follow Viki on Facebook" target="_blank"><i class="icon-facebook"></i></a></li>-->
          <!--<li><a href="https://twitter.com/" class="social-twitter circle" title="Follow Viki on Twitter" target="_blank"><i class="icon-twitter"></i></a></li>-->
          <!--<li><a href="https://www.instagram.com/" class="social-instagram circle" title="Follow Viki on Instagram" target="_blank"><i class="icon-instagram"></i></a></li>-->
          <!--<li><a href="https://www.google.com/" class="social-google circle" rel="publisher" title="Follow Viki on Google Plus" target="_blank"><i class="icon-google"></i></a></li>-->
          <!--<li><a href="https://www.pinterest.com/" class="social-pinterest circle" title="Follow Viki on Pinterest" target="_blank"><i class="icon-pinterest"></i></a></li>-->
        <!--</ul></div>-->
    <!--</div>-->
  <!--</div>-->

<!--</footer>-->
<div class="page-colophon" >
  <div class="container clearfix">
    <div class="row">
      <div class="col s6 page-colophon-copyright">
        © 2016 <a href="/">Votesub Inc</a>. All rights reserved.
      </div>

      <div class="col right" ng-controller="I18nController as ctrl">
        <a href="#" class="foot-menu">About</a>
        <a href="#" class="foot-menu">Help</a>
        <a href="/privacy" class="foot-menu">Policy</a>
        <a href="#" class="foot-menu">Hiring</a>
        <a href="#"><i class="fa fa-facebook-official"></i></a>
        <a href="#"><i class="fa fa-twitter-square"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <!--<i class="icon-globe icon-small left"></i>-->
        <!--<span class="left">Languages:</span>-->
        <!--<md-input-container>-->
          <!--<label>State</label>-->
          <!--<md-select ng-model="ctrl.userState">-->
            <!--<md-option value="en" ng-click="changeLanguage('en')">-->
              <!--{{'BUTTON_LANG_EN' | translate}}-->
            <!--</md-option>-->
            <!--<md-option value="vi" ng-click="changeLanguage('vi')">-->
              <!--{{'BUTTON_LANG_VI' | translate}}-->
            <!--</md-option>-->
          <!--</md-select>-->
        <!--</md-input-container>-->
        <!--<div class="dropdown-menu-wrapper right" data-drop-down="hidden">-->
          <!--<a href="#" data-drop-down-handler="1">-->
            <!--English-->
            <!--<i class="icon-caret-up icon-small"></i>-->
          <!--</a>-->
          <!--<ul data-drop-down-target="share" class="dropdown-menu dropdown-menu-top hidden">-->
            <!--<li><a class="first-child" href="/?locale=en" rel="nofollow" title="English"> English</a></li>-->
            <!--<li><a href="/?locale=es" rel="nofollow" title="Español"> Español</a></li>-->
            <!--<li><a href="/?locale=ja" rel="nofollow" title="日本語"> 日本語</a></li>-->
            <!--<li><a href="/?locale=fr" rel="nofollow" title="Français"> Français</a></li>-->
            <!--<li><a href="/?locale=zh-cn" rel="nofollow" title="简体中文"> 简体中文</a></li>-->
            <!--<li><a href="/?locale=zh-tw" rel="nofollow" title="繁體中文"> 繁體中文</a></li>-->
          <!--</ul>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
<div ng-controller="FooterController as footvm">

<div id="subtitle-tray" rel="popover-tray" class="popover-tray-subtitle popover-tray popover-right-down pos-fix hide-on-mobile" ng-click="showAdvanced($event)">
  <!--<div class="new-feature new-feature-v2 invisible"><div id="itemGetStarted" data-block-track="oneLiner">-->
    <!--<div class="new-feature-body">-->
      <!--<h3 class="new-feature-heading">Viki One Liners</h3>-->
      <!--<p class="new-feature-desc">Rate or write subtitles, one line at a time!</p>-->
      <!--<a id="ratingGetStarted" href="javascript:void(0);" class="btn btn-accent btn-block btn-primary btn-primary-contour mtm" rel="no-follow">Get Started <i class="icon-arrow-right icon-small mls"></i></a>-->
      <!--<a id="closeGetStarted" href="javascript:void(0);" class="new-feature-close"><i class="icon-x"></i></a>-->
    <!--</div>-->
    <!--<div class="new-feature-arrow"></div>-->
  <!--</div></div>-->
  <!--<div rel="popover-target" class="popover">-->
    <!--<div class="popover-content content"><div id="itemModeSelect" class="popover-item">-->
      <!--<div class="popover-header">-->
        <!--<h3 class="delta mvn popover-header-title">I would like to</h3>-->
      <!--</div>-->
      <!--<div class="popover-body popover-body-modeselect">-->
        <!--<a href="#" id="selectWriteMode" class="btn btn-accent nocase btn-primary btn-large btn-block btn-selectmode">-->
          <!--<i class="icon-chevron-thin-right mrm pull-right"></i>-->
          <!--Suggest a subtitle-->
        <!--</a>-->
        <!--<a href="#" id="selectRateMode" class="btn nocase btn-large btn-block btn-selectmode btn-disabled btn-disabled-contour">-->
          <!--<i class="icon-chevron-thin-right mrm pull-right"></i>-->
          <!--Rate a subtitle-->
        <!--</a>-->
        <!--<div class="popover-msg">-->
          <!--<div class="note error-on-rate">* Assamese isn't supported for rating.</div>-->
          <!--<div class="note error-on-write hidden">* Suggest a subtitle requires you to sign in, <a href="/sign_in"> Sign In Now</a> </div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="popover-actions">-->
        <!--<a href="#" id="closePopover" class="popover-close" rel="popover-close"></a>-->
      <!--</div>-->
    <!--</div></div>-->
    <!--<div class="popover-arrow"></div>-->
  <!--</div>-->
  <div id="subtitle-popover" rel="popover-open" class="popover-trigger-subtitle">
    <!--<i class="img-character-inverse"></i>-->
    <i class="fa fa-language" style="font-size: 35px;color: #fff;"></i>
  </div>
</div>

</div>
