<nav class="navbar navbar-default navbar-fixed-top" data-role="navigation" ng-controller="HeaderController as hdrctr" style="border-bottom: 1px solid #e8e8e8;background: #fff;">
    <div class="page-header">
        <div class="navbar-header">
            <div class="logo pull-left">
                <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">
                    <img src="/system/assets/img/logo.png" alt="Logo" width="60">
                </a>  <!--ui-sref="home"-->
            </div>
        </div>

        <div class="collapse navbar-collapse" ng-class="!isCollapsed && 'in'">
            <div class="left pull-left">
                <ul class="navbar-nav nav">
                    <li class="nav-select-language">
                        <md-menu>
                            <md-button aria-label="Open phone interactions menu"
                                       class="md-icon-button"
                                       ng-click="hdrctr.openMenu($mdOpenMenu, $event)"
                                       style="width: auto;">
                                <!--<md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>-->
                                <!--<i class="fa fa-trash"></i>-->
                                <i class="icon-globe icon-small left" style="margin-right: 3px;"></i>
                                <span style="font-size: 12px">{{lang}}</span>
                                <i class="fa fa-caret-down"></i>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <div ng-click="hdrctr.changeLanguage('en')">
                                        <!--<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>-->
                                        <img src="/system/assets/img/en.png" alt="">
                                        <span>{{'BUTTON_LANG_EN' | translate}}</span>
                                    </div>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <div ng-click="hdrctr.changeLanguage('vi')">
                                        <!--<md-icon md-svg-icon="social:notifications-{{hdrctr.notificationsEnabled ? 'off' : 'on'}}"></md-icon>-->
                                        <img src="/system/assets/img/vi.png" alt="">
                                        <span>{{'BUTTON_LANG_VI' | translate}}</span>
                                    </div>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </li>
                </ul>
            </div>

            <div class="left pull-left">
                <ul class="navbar-nav nav">
                    <!--<li ui-route="/{{item.link}}" ng-class="{active: $uiRoute}" ng-repeat="item in hdrctr.menus.main">-->
                        <!--<a ui-sref='{{item.link}}'>{{item.title}}</a>-->
                    <!--</li>-->
                  <li>
                    <a ui-sref="all videos">ALL VIDEOS</a>
                  </li>
                </ul>
            </div>

            <div class="nav-search-container">
                <form ng-submit="$event.preventDefault()">
                    <md-autocomplete ng-disabled="hdrctr.isDisabled"
                                     md-menu-class="nav-search-dropdown"
                                     md-no-cache="hdrctr.noCache"
                                     md-selected-item="hdrctr.selectedItem"
                                     md-search-text-change="hdrctr.searchTextChange(hdrctr.searchText)"
                                     md-search-text="hdrctr.searchText"
                                     md-selected-item-change="hdrctr.selectedItemChange(item)"
                                     md-items="item in hdrctr.querySearch(hdrctr.searchText)"
                                     md-item-text="item.keyWord"
                                     md-min-length="0"
                                     my-enter="hdrctr.searchSubmit()"
                                     style="width: 580px;"
                                     <!--placeholder="{{hdrctr.states}}">-->

                        <md-item-template style="z-index: 9999">
                                <span md-highlight-text="hdrctr.searchText" md-highlight-flags="^i">{{item.keyWord}}</span>
                        </md-item-template>
                        <md-not-found>
                            No states matching "{{hdrctr.searchText}}" were found.
                            <!--<a ng-click="hdrctr.newState(hdrctr.searchText)">Create a new one!</a>-->
                        </md-not-found>
                    </md-autocomplete>
                    <span class="nav-search" ng-click="hdrctr.searchSubmit()"><i class="fa fa-search"></i></span>
                </form>
            </div>

            <div class="right pull-right">
                <div class="text-edit" ng-show="hdrctr.hdrvars.authenticated">
                    <div class="pull-right"></div>
                    <div class="pull-right"></div>
                </div>
                <ul class="navbar-nav nav auth-link" ng-show="!hdrctr.hdrvars.authenticated">
                    <li><a ui-route="create video"><span class="nav-upload">{{'NAV_UPLOAD' | translate}}</span></a></li>
                    <!--<li><a><i class="fa fa-bell-o nav-notice"></i></a></li>-->
                    <li><a ui-sref='auth.register'>Join</a></li>
                    <li class="divider-vertical"></li>
                    <li><a ui-sref='auth.login'>Log In</a></li>
                </ul>
                <ul class="navbar-nav nav" ng-show="hdrctr.hdrvars.authenticated">
                    <li><a ui-sref="create video"><span class="nav-upload">{{'NAV_UPLOAD' | translate}}</span></a></li>
                    <li><a><i class="fa fa-bell-o nav-notice"></i></a>
                    <!--<li class="dropdown" uib-dropdown on-toggle="toggled(open)">-->
                        <!--<a href="#" class="dropdown-toggle" uib-dropdown-toggle>-->
                            <!--<img ng-src="{{hdrctr.hdrvars.user.avatar || '/system/assets/img/default-avatar.jpg'}}" alt=""  width="19" height="19"> <span>{{hdrctr.hdrvars.user.name}}</span> <b class="caret"></b>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="/user/{{hdrctr.hdrvars.user._id}}">User Panel</a></li>-->
                            <!--<li><a href="#" ng-click="hdrctr.logout()">Log Out</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <li>
                        <a id="nav-user" href="#" ng-init="showDropdown = false">
                            <img ng-src="{{hdrctr.hdrvars.user.avatar || '/system/assets/img/default-avatar.jpg'}}" alt="avatar"  width="19" height="19">
                            <span>{{hdrctr.hdrvars.user.name}}</span>
                            <b class="caret"></b>
                        </a>
                        <div class="nav-user-dropdown hid" ng-include="'/system/views/_user-dropdown-menu.tpl.html'"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
