.chanel-header-container {
  position: relative;
}

.channel-header-cover {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 475px;
  min-height: 300px;
  overflow: hidden;
}

.channel-header-intro {
  position: absolute;
  padding-top: 100px;
  padding-left:50px;
  color: #fff;
}


.channel-avatar {
  position: absolute;
  bottom: -48px;
  width: 170px;
  height: 170px;
  left: 50px;
  background: #fff;
  border-radius: 3px;
  padding: 5px;
  z-index: 1;
  overflow: hidden;
}

.channel-avatar img {
  width: 100%;
  height: auto;
}

.channel-menu {
  padding-left: 230px;
  background: #fff;
}

.channel-subscribe {
  position: absolute;
  bottom: 30px;
  left: 250px;
}

.channel__bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*
 |--------------------------------------------------------------------------
 | $Subscribe button
 |--------------------------------------------------------------------------
 */
.subscribe-button {
  position: relative;
  padding: 10px 18px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  background: #00BCD4;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: background, box-shadow;
  transition: background, box-shadow;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.subscribe-button:active {
  background: #00A8D4;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.14);
}
.subscribe-button:after {
  content: attr(data-count);
  position: absolute;
  box-sizing: border-box;
  padding: 8px;
  height: 100%;
  left: 100%;
  top: 0;
  margin-left: 10px;
  color: #777;
  background: #e1e1e1;
  border-radius: 3px;
}
.subscribe-button:before {
  content: '';
  display: block;
  position: absolute;
  left: 100%;
  margin-left: 4px;
  top: 50%;
  margin-top: -6px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-width: 0;
  border-right-color: #e1e1e1;
}
.subscribe-button.subbed {
  background: #777;
}
.subscribe-button.subbed svg {
  width: 16px;
}
.subscribe-button.subbed svg .plus__line1 {
  -webkit-transform: translate(14px, 0) rotate(45deg) translate(-5px, 0) scaleY(1.16667);
  transform: translate(14px, 0) rotate(45deg) translate(-5px, 0) scaleY(1.16667);
}
.subscribe-button.subbed svg .plus__line2 {
  -webkit-transform: translate(2px, 5px) rotate(45deg) scaleX(0.5) translate(0px, -5px);
  transform: translate(2px, 5px) rotate(45deg) scaleX(0.5) translate(0px, -5px);
}
.subscribe-button svg {
  display: inline-block;
  width: 12px;
  height: 12px;
  fill: white;
  margin-right: 10px;
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
}
.subscribe-button svg .plus__line1,
.subscribe-button svg .plus__line2 {
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}
.subscribe-button svg .plus__line1 {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.subscribe-button svg .plus__line2 {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.subscribe-button * {
  vertical-align: middle;
}

/*
 |--------------------------------------------------------------------------
 | video list
 |--------------------------------------------------------------------------
 */
.vs-ui-ellipsis-2 {
  -webkit-line-clamp: 2;
}

.vs-ui-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.vs-ui-ellipsis-2 {
  max-height: 2.6em;
}
.vs-ui-ellipsis {
  background-color: #fff;
  display: block;
  line-height: 1.3em;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
}
/*
 |--------------------------------------------------------------------------
 | $Upload button
 |--------------------------------------------------------------------------
 */
.channel__upload-button {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  min-width: 40px;
  margin: 0;
}

/*
 |--------------------------------------------------------------------------
 | $List videos tab content
 |--------------------------------------------------------------------------
 */
.branded-page-v2-col-container {
  display: table;
  table-layout: fixed;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.branded-page-v2-col-container-inner {
  display: table-row;
}
.branded-page-v2-primary-col {
  display: table-cell;
  vertical-align: top;
}
.branded-page-v2-subnav-container {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
}
.branded-page-gutter-padding {
  padding-left: 15px;
  padding-right: 15px;
}
.branded-page-v2-subnav-container .subnav-flow-menu {
  float: right;
}
.vs-uix-button .vs-uix-button-icon, .vs-uix-button .vs-uix-button-arrow {
  display: inline-block;
  vertical-align: middle;
}
.vs-uix-button-arrow {
  margin-top: -3px;
  margin-left: 5px;
  border: 1px solid transparent;
  border-top-color: #333;
  border-width: 4px 4px 0;
  width: 0;
  height: 0;
}
.vs-sprite {
  display: inline-block;
}

.vs-uix-button .vs-uix-button-menu {
  display: none;
}
.vs-uix-button-menu {
  outline: none;
  padding: 8px 0;
  position: absolute;
  border: 1px solid #ccc;
  z-index: 2147483647;
  overflow: auto;
  background: #fff;
  border-radius: 2px;
}
.vs-uix-button-menu li {
  margin: 0;
  padding: 0;
}
.vs-uix-button-menu .vs-uix-button-menu-item {
  display: block;
  margin: 0;
  padding: 0 25px;
  color: #333;
  font-size: 13px;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  line-height: 25px;
  cursor: pointer;
  cursor: hand;
}
.hid {
  display: none;
}
.branded-page-v2-subnav-container .subnav-sort-menu {
  float: right;
  margin-right: 5px;
}
a.vs-uix-button {
  text-decoration: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sub-menu-back-button {
  margin-right: 10px;
}
.vs-uix-button-empty .vs-uix-button-icon-wrapper {
  max-height: none;
  max-width: none;
}
.vs-uix-button-empty .vs-uix-button-icon-wrapper, .vs-uix-button-empty.vs-uix-button-has-icon.no-icon-markup:before {
  margin-right: 0;
}
.vs-uix-button-icon-wrapper, .vs-uix-button-has-icon.no-icon-markup:before {
  margin-right: 6px;
}
.vs-uix-button-icon-wrapper {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}
.vs-uix-button .vs-uix-button-icon, .vs-uix-button .vs-uix-button-arrow {
  display: inline-block;
  vertical-align: middle;
}
.vs-uix-button-icon-channel-back {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflsIkBw3.webp) -133px -491px;
  background-size: auto;
  width: 15px;
  height: 10px;
}
.vs-sprite {
  display: inline-block;
}
a.vs-uix-button:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.vs-uix-button-default:before, .vs-uix-button-default .vs-uix-button-icon {
  opacity: .5;
  filter: alpha(opacity=50);
}
.vs-uix-button-has-icon:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
#channels-browse-content-grid.grid-lockups-container {
  padding-top: 15px;
}
.channels-browse-content-grid {
  margin-right: -15px;
  font-size: 0;
}
.branded-page-gutter-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.channels-browse-content-grid .channels-content-item {
  margin-bottom: 20px;
}
.vs-shelf-grid-item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  width: 196px;
  word-wrap: break-word;
}

.vs-lockup.vs-lockup-grid {
  font-size: 11px;
}
.vs-lockup {
  color: #767676;
  line-height: 1.3em;
  position: relative;
}
.vs-shelf-grid-item .ux-thumb-wrap {
  width: 100%;
}
.ux-thumb-wrap {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.thumb-menu.dark-overflow-action-menu {
  display: none;
  position: absolute;
  top: 2px;
  right: 0;
}
.video-actions {
  display: block;
  right: -60px;
  cursor: pointer;
  cursor: hand;
}
.video-actions {
  position: absolute;
  bottom: 2px;
}

.thumb-menu.dark-overflow-action-menu .vs-uix-button {
  padding: 0 5px 0 10px;
}
.thumb-menu .vs-uix-button-dark-overflow-action-menu, .thumb-menu .vs-uix-button-dark-overflow-action-menu:focus, .thumb-menu .vs-uix-button-dark-overflow-action-menu:focus:hover {
  border: none;
  box-shadow: none;
}

.vs-uix-button-menu-dark-overflow-action-menu .vs-uix-button-menu-item {
  color: #333;
}
.vs-uix-button-menu-dark-overflow-action-menu .vs-uix-button-menu-item {
  color: #333;
}
.vs-uix-button-menu-item.addto-watch-queue-menu-choice {
  padding-left: 10px;
}
.vs-lockup-notifications-container {
  border: 1px solid #e2e2e2;
}

/*
 |--------------------------------------------------------------------------
 | $channel Playlist
 |--------------------------------------------------------------------------
 */
.flex-width-enabled .feed-item-container .feed-item-main.feed-item-no-author {
  padding-bottom: 0;
}
.feed-item-container .feed-item-main.feed-item-no-author {
  margin-left: 0;
}
.feed-item-container .feed-item-main {
  color: #555;
  font-size: 12px;
}
.flex-width-enabled .feed-item-container .feed-item-main-content {
  max-width: 100%;
}
.clearfix:before {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}
.vs-pl-thumb .sidebar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 43.75%;
  background: rgba(0,0,0,.8);
}
.vs-pl-thumb .vs-pl-sidebar-content {
  height: 100%;
  color: #cfcfcf;
}
.vs-pl-thumb .vs-pl-sidebar-content {
  display: block;
  opacity: .8;
  filter: alpha(opacity=80);
  text-align: center;
}
.vs-valign {
  white-space: nowrap;
}
.vs-valign:before {
  content: '';
  height: 100%;
}
.vs-valign:before, .vs-valign-container {
  vertical-align: middle;
  display: inline-block;
}
.vs-pl-thumb .formatted-video-count-label {
  display: block;
  margin: 0 .75em;
  font-size: 10px;
  line-height: 1.25em;
  /*word-break: break-word;*/
  white-space: normal;
  text-transform: uppercase;
}
.vs-pl-thumb .formatted-video-count-label b {
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}
.vs-sprite {
  display: inline-block;
}
.vs-pl-icon {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflsIkBw3.webp) 0 -737px;
  background-size: auto;
  width: 24px;
  height: 24px;
}

.vs-pl-thumb-link .vs-pl-thumb-overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  min-width: 120px;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.7);
  /*background: progid:DXImageTransform.Microsoft.gradient(startColorStr='#B2000000',endColorStr='#B2000000');*/
}

.vs-pl-thumb-overlay .vs-pl-thumb-overlay-content {
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -9px;
  width: 100%;
  height: 18px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 1px 1px rgba(255,255,255,.6);
  text-transform: uppercase;
}


.vs-pl-thumb-overlay .play-icon {
  margin-right: 3px;
  vertical-align: middle;
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflsIkBw3.webp) -120px -491px;
  background-size: auto;
  width: 9px;
  height: 12px;
}

.vs-pl-thumb-overlay-text {
  vertical-align: middle;
  font-weight: normal;
  font-size: 13px;
}
.webkit .vs-ui-ellipsis-2 {
  -webkit-line-clamp: 2;
}
.webkit .vs-ui-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.webkit .vs-ui-ellipsis-2 {
  -webkit-line-clamp: 2;
}
.webkit .vs-ui-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.vs-lockup-title a, .vs-lockup:hover a, .vs-lockup:hover .vs-lockup-meta a, .vs-lockup:hover .vs-lockup-description a {
  color: #167ac6;
}
.vs-ui-ellipsis-2 {
  max-height: 2.6em;
}
.vs-ui-ellipsis {
  background-color: #fff;
  display: block;
  line-height: 1.3em;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
}
.vs-ui-ellipsis-2 {
  max-height: 2.6em;
}
.vs-ui-ellipsis {
  background-color: #fff;
  display: block;
  line-height: 1.3em;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
}
.no-focus-outline :focus {
  outline: 0;
}
.vs-pl-thumb-link:hover {
  text-decoration: none;
}
.vs-pl-thumb-link:hover .vs-pl-thumb-overlay,
.vs-pl-thumb-link:focus .vs-pl-thumb-overlay {
  display: block
}
.remote-connected .vs-pl-thumb-link:hover .vs-pl-thumb-overlay {
  display: none
}



