#channel-settings-navigation {
  padding: 20px 0 0 20px;
  background: #fbfbfb;
  border-bottom: 1px solid #f1f1f1
}
#channel-settings-breadcrumbs {
  margin-bottom: 20px
}
#channel-settings-breadcrumbs li {
  font-size: 18px;
  display: inline-block
}
#channel-settings-breadcrumbs li:first-child a {
  color: #767676
}
#channel-settings-breadcrumbs li:first-child:after {
  content: "\00203a"
}
#channel-settings-tabs {
  margin-top: 20px
}
#channel-settings-tabs li {
  margin-right: 15px;
  display: inline-block
}
#channel-settings-tabs li a {
  padding-left: 0;
  color: #333
}
#channel-settings-tabs li.selected a,
#channel-settings-tabs li a:hover {
  color: #333
}
#creator-appbar-actions-bar {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center
}
.creator-page-notification-bar .vs-alert {
  margin-bottom: 10px
}
.dashboard-page .creator-page-notification-bar .vs-alert {
  width: 771px
}
.creator-page-notification-bar .vs-uix-button-default {
  background: none;
  color: #fff;
  border-color: #fff
}
#creator-page-notification-roadblock .vs-dialog-fg {
  padding: 10px;
  font-weight: 500
}
#creator-page-notification-roadblock .vs-dialog-fg-content .vs-dialog-dismiss {
  float: left
}
#creator-page-notification-roadblock .creator-page-notification-bar-link-btn {
  color: #fff;
  background: #167ac6
}
.site-center-aligned .vs-card {
  margin-top: 0
}
#creator-page {
  padding: 0 10px
}
#creator-page .creator-sidebar-section.selected {
  border: none
}
#creator-page #creator-page-content {
  overflow: hidden
}
@media only screen and (max-width: 1152px) {
  #creator-page-sidebar.vs-card {
    padding: 0;
    width: 195px
  }
  #creator-page {
    padding: 0
  }
}
.vs-content-owner-icon.vs-content-owner-color-0 {
  background-color: #443393
}
.vs-content-owner-icon.vs-content-owner-color-1 {
  background-color: #b21f70
}
.vs-content-owner-icon.vs-content-owner-color-2 {
  background-color: #e57a27
}
.vs-content-owner-icon.vs-content-owner-color-3 {
  background-color: #e5bc24
}
.vs-content-owner-icon.vs-content-owner-color-4 {
  background-color: #0e9151
}
.vs-content-owner-icon.vs-content-owner-color-5 {
  background-color: #287ec2
}
.vs-content-owner-color-0 .agent-mode-sidebar {
  border-color: #443393
}
.vs-content-owner-color-1 .agent-mode-sidebar {
  border-color: #b21f70
}
.vs-content-owner-color-2 .agent-mode-sidebar {
  border-color: #e57a27
}
.vs-content-owner-color-3 .agent-mode-sidebar {
  border-color: #e5bc24
}
.vs-content-owner-color-4 .agent-mode-sidebar {
  border-color: #0e9151
}
.vs-content-owner-color-5 .agent-mode-sidebar {
  border-color: #287ec2
}
#creator-page-sidebar {
  float: left;
  margin-right: 10px;
  width: 215px
}
#creator-sidebar {
  margin: 14px 0;
  width: 100%
}
#creator-page-sidebar.account-sidebar {
  margin-left: 0;
  padding-left: 5px
}
#creator-page-sidebar.agent-mode-sidebar {
  border-top-width: 2px;
  border-top-style: solid
}
#creator-sidebar .creator-sidebar-branding h1 {
  background: none;
  color: #444;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 3px 0 6px 17px
}
#creator-sidebar .creator-sidebar-branding h2 {
  color: #767676;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0 0 6px 17px;
  line-height: normal
}
#creator-sidebar h3 {
  padding: 0 14px
}
#creator-sidebar.single-section .creator-sidebar-section h3,
#creator-sidebar.single-section .creator-sidebar-section .creator-sidebar-item-link {
  padding: 0 21px
}
#creator-sidebar .creator-sidebar-section h3,
#creator-sidebar .creator-sidebar-section .creator-sidebar-submenu .creator-sidebar-section.creator-sidebar-single-section h3 {
  padding: 0;
  position: relative
}
#creator-sidebar .creator-sidebar-section .creator-sidebar-submenu>h3,
#creator-sidebar .creator-sidebar-section .creator-sidebar-submenu .creator-sidebar-section.creator-sidebar-single-section h3 a {
  padding-left: 45px
}
#creator-sidebar .creator-sidebar-section .creator-sidebar-submenu .creator-sidebar-section h3 .creator-sidebar-section-header-text {
  padding-left: 45px;
  display: inline-block;
  line-height: 1.5em
}
#creator-sidebar .creator-sidebar-section .creator-sidebar-submenu .creator-sidebar-section.creator-sidebar-single-section h3 a {
  margin: 0
}
#creator-sidebar .creator-sidebar-section .creator-sidebar-submenu .creator-sidebar-section>h3:only-child {
  margin-bottom: 10px
}
#creator-sidebar h3,
#creator-sidebar h3 a {
  background: none;
  color: #444;
  font-size: 11px;
  font-weight: 500
}
#creator-sidebar>li>h3 {
  text-transform: uppercase
}
#creator-sidebar .creator-sidebar-section h3 button {
  text-align: left;
  width: 100%;
  cursor: pointer
}
#creator-sidebar>.creator-sidebar-section>h3 a {
  line-height: 11px;
  padding-top: 13px;
  padding-bottom: 13px
}
#creator-sidebar>.creator-sidebar-section.selected>h3 a {
  color: #cc181e
}
#creator-sidebar>.creator-sidebar-section.selected>h3 a:hover {
  background: none;
  color: #cc181e
}
#creator-sidebar>#creator-sidebar-section-id-dashboard.selected>h3 a {
  background-color: #fff;
  color: #cc181e
}
#creator-sidebar>.creator-sidebar-single-section.selected>h3 a,
#creator-sidebar>.creator-sidebar-single-section.selected>h3 a:hover {
  background-color: #cc181e;
  color: #fff
}
#creator-sidebar li {
  position: relative;
  line-height: 24px;
  font-size: 11px
}
#creator-sidebar .creator-sidebar-section a {
  display: block;
  line-height: 24px;
  font-size: 11px;
  color: #444
}
#creator-sidebar .creator-sidebar-section a:hover {
  color: #444;
  background: #f6f6f6;
  text-decoration: none
}
#creator-sidebar .creator-sidebar-section.selected>a.selected,
#creator-sidebar .creator-sidebar-item.selected>a {
  color: #fff
}
#creator-sidebar .creator-sidebar-submenu {
  margin-bottom: 10px
}
#creator-sidebar>.creator-sidebar-submenu {
  margin-left: 3px;
  margin-right: 4px
}
#creator-sidebar .creator-sidebar-submenu h3 {
  color: #555;
  text-transform: none
}
#creator-sidebar .creator-sidebar-section a,
#creator-sidebar .creator-sidebar-submenu li a {
  display: block;
  padding: 0 14px
}
#creator-sidebar .creator-sidebar-submenu .creator-sidebar-item.selected {
  padding: 0;
  font-weight: 500
}
#creator-sidebar .creator-sidebar-item.selected,
#creator-sidebar .creator-sidebar-submenu .creator-sidebar-item.selected a:hover,
#creator-sidebar .creator-sidebar-submenu a.creator-sidebar-section-link.selected,
#creator-sidebar .creator-sidebar-single-section.selected a,
#creator-sidebar .creator-sidebar-single-section.selected a:hover {
  background-color: #cc181e;
  color: #fff
}
#creator-sidebar .creator-sidebar-single-section.selected h3 .vs-badge-creator,
#creator-sidebar .creator-sidebar-section.selected h3:hover .vs-badge-creator,
#creator-sidebar .creator-sidebar-item.selected .vs-badge-creator {
  color: #fff;
  border: 1px solid #fff
}
#creator-sidebar .studio-icon {
  margin: 0;
  margin-right: 7px
}
#creator-sidebar .studio-icon.creator-sidebar-analytics {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) 0 -1040px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .creator-sidebar-analytics.selected,
#creator-sidebar a:hover .studio-icon.creator-sidebar-analytics.selected {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) -22px -261px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-channel {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) 0 -819px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-channel.selected,
#creator-sidebar a:hover .studio-icon.creator-sidebar-channel.selected {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) 0 -442px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-community {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) -22px -537px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-community.selected,
#creator-sidebar a:hover .studio-icon.creator-sidebar-community.selected {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) -22px -28px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-content-delivery {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) -22px -726px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-content-delivery.selected,
#creator-sidebar a:hover .studio-icon.creator-sidebar-content-delivery.selected {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) -19px -847px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-content-id {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) 0 -116px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-content-id.selected,
#creator-sidebar a:hover .studio-icon.creator-sidebar-content-id.selected {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) 0 -1011px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-content-owner {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) -22px -214px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-content-owner.selected,
#creator-sidebar a:hover .studio-icon.creator-sidebar-content-owner.selected {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) -22px -1208px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-create {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) 0 -1264px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-create.selected,
#creator-sidebar a:hover .studio-icon.creator-sidebar-create.selected {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) 0 -289px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-dashboard {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) 0 -642px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-dashboard.selected,
#creator-sidebar a:hover .studio-icon.creator-sidebar-dashboard.selected {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) 0 -414px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-live-streaming {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) 0 -317px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-live-streaming.selected,
#creator-sidebar a:hover .studio-icon.creator-sidebar-live-streaming.selected {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) 0 -901px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-my-channels {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) -23px -1236px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-my-channels.selected,
#creator-sidebar a:hover .studio-icon.creator-sidebar-my-channels.selected {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) 0 -614px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-reports {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) -22px -586px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-reports.selected,
#creator-sidebar a:hover .studio-icon.creator-sidebar-reports.selected {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) 0 0;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-video-manager {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) 0 -345px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .studio-icon.creator-sidebar-video-manager.selected,
#creator-sidebar a:hover .studio-icon.creator-sidebar-video-manager.selected {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) 0 -698px;
  background-size: auto;
  width: 24px;
  height: 24px
}
#creator-sidebar .creator-sidebar-section h3 a>.header-text,
#creator-sidebar .creator-sidebar-section h3 a>.studio-icon {
  vertical-align: middle;
  display: inline-block
}
#creator-sidebar .creator-sidebar-section h3 a span.header-text {
  width: 74%
}
#creator-sidebar .creator-sidebar-bullet,
#creator-sidebar .creator-sidebar-section a:hover .creator-sidebar-bullet {
  margin: 0 0 0 5px;
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-videomanager-vfl7Run6R.webp) -37px -242px;
  background-size: auto;
  width: 10px;
  height: 7px
}
#creator-sidebar .creator-sidebar-section.selected .creator-sidebar-bullet,
#creator-sidebar .creator-sidebar-single-section .creator-sidebar-bullet {
  display: none
}
#creator-sidebar .creator-sidebar-section-header .creator-sidebar-section-link {
  padding-left: 45px;
  vertical-align: middle
}
#creator-sidebar .creator-sidebar-item-content {
  padding: 2px 0;
  max-width: 75%;
  line-height: 1.5em;
  display: inline-block
}
#creator-sidebar .creator-sidebar-section .creator-sidebar-item-content {
  margin-left: 31px
}
#creator-sidebar .creator-sidebar-feedback {
  margin-top: 15px;
  padding: 0 16px 6px
}
#creator-sidebar .vs-badge {
  margin-left: 3px;
  border: 1px solid #cc181e;
  color: #cc181e;
  background: none;
  font-size: 10px
}
#creator-sidebar .creator-sidebar-counter-badge {
  position: absolute;
  right: 15px;
  top: 5px;
  line-height: 13px;
  color: #767676;
  border: none
}
#creator-sidebar .creator-sidebar-item.selected .creator-sidebar-counter-badge {
  color: #fff
}
@media only screen and (max-width: 1152px) {
  #creator-sidebar {
    width: 195px
  }
  #creator-sidebar .creator-sidebar-bullet,
  #creator-sidebar .creator-sidebar-section a:hover .creator-sidebar-bullet {
    margin: 0
  }
}
#creator-subheader {
  height: auto;
  padding: 18px 25px
}
#creator-subheader h2 {
  display: inline;
  vertical-align: middle;
  line-height: 30px;
  color: #333;
  font-size: 18px;
  font-weight: 500
}
#creator-subheader .creator-subheader-content {
  float: left
}
#creator-subheader .creator-subheader-controls {
  float: right
}
#creator-subheader .vs-badge-creator {
  display: inline;
  margin-left: 10px;
  border: none;
  padding: 4px 6px;
  vertical-align: middle;
  line-height: 60px;
  color: #f0f0f0;
  font-weight: 500;
  font-size: 12px;
  background-color: #333;
  border-radius: 3px
}
#creator-subheader .vm-separator {
  margin: 0 10px;
  font-size: 20px;
  color: #ccc;
  vertical-align: middle
}
#creator-subheader #creator-subheader-item-count {
  line-height: 30px;
  background-color: #666;
  -moz-transition: background-color 1s ease;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease
}
#creator-subheader #creator-subheader-item-count.num-videos-flash {
  background-color: #ff8;
  -moz-transition: background-color 0s linear;
  -webkit-transition: background-color 0s linear;
  transition: background-color 0s linear
}
.creator-subheader-help-text {
  padding: 0 0 10px 25px;
  color: #555
}
@media only screen and (max-width: 1152px) {
  #creator-subheader {
    height: auto;
    padding: 8px 15px
  }
}
.vs-ui-menu-content .vs-ui-menu-item.menu-subheading,
.vs-ui-menu-content .vs-ui-menu-item.menu-subheading-notice {
  border-top: 1px solid #ccc;
  background: #fff;
  color: #767676;
  font-size: 13px;
  cursor: default
}
.vs-ui-menu-content .vs-ui-menu-item.menu-subheading {
  font-weight: 500
}
.vs-ui-menu-content .vs-ui-menu-item.menu-subheading-notice {
  font-style: italic
}
.menu-item-top-divider {
  border-top: 1px solid #ccc
}
.menu-item-selected {
  font-weight: 500
}
:first-child>.menu-item-top-divider,
.vs-ui-menu-content:first-child>.vs-ui-menu-item.menu-subheading,
.vs-ui-menu-content:first-child>.vs-ui-menu-item.menu-subheading-notice {
  border-top: 0
}