<div class="branded-page-v2-col-container">
  <div class="branded-page-v2-col-container-inner">
    <div class="branded-page-v2-primary-col">
      <div class="clearfix">
        <div class="branded-page-v2-body branded-page-v2-primary-column-content" id="">

          <ul id="browse-items-primary">


            <li class="branded-page-v2-subnav-container branded-page-gutter-padding clearfix">
              <button onclick=";return false;" aria-expanded="false" type="button" class="subnav-flow-menu vs-uix-button vs-uix-button-default vs-uix-button-size-default" aria-haspopup="true" data-button-menu-indicate-selected="true"><span class="vs-uix-button-content">Grid</span><span class="vs-uix-button-arrow vs-sprite"></span>
                <ul class=" vs-uix-button-menu vs-uix-button-menu-default hid" role="menu" aria-haspopup="true">
                  <li role="menuitem"><span onclick=";yt.window.navigate(this.getAttribute('href'));return false;" class=" vs-uix-button-menu-item spf-link" href="/user/bietpassko21/videos?view=0&amp;flow=list&amp;sort=dd&amp;live_view=500">List</span>
                  </li>
                </ul>
              </button>

              <button onclick=";return false;" aria-expanded="false" type="button" class="subnav-sort-menu vs-uix-button vs-uix-button-default vs-uix-button-size-default" aria-haspopup="true" data-button-menu-indicate-selected="true" aria-pressed="false"><span class="vs-uix-button-content">Date added (newest)</span><span class="vs-uix-button-arrow vs-sprite"></span>
                <ul class="vs-uix-button-menu vs-uix-button-menu-default hid" role="menu" aria-haspopup="true" style="min-width: 135px; left: 1486.31px; top: 458.125px; display: none;">
                  <li role="menuitem"><span onclick=";yt.window.navigate(this.getAttribute('href'));return false;" class=" vs-uix-button-menu-item spf-link" href="/user/bietpassko21/videos?view=0&amp;flow=grid&amp;sort=p">Most popular</span>
                  </li>
                  <li role="menuitem"><span onclick=";yt.window.navigate(this.getAttribute('href'));return false;" class=" vs-uix-button-menu-item spf-link" href="/user/bietpassko21/videos?view=0&amp;flow=grid&amp;sort=da">Date added (oldest)</span>
                  </li>
                </ul>
              </button>





              <a href="/user/bietpassko21" class="vs-uix-button  sub-menu-back-button vs-uix-sessionlink vs-uix-button-default vs-uix-button-size-default vs-uix-button-has-icon vs-uix-button-empty" data-sessionlink="ei=rCQrV7PQNZCm4AKG-ZywCQ" aria-label="Back"><span class="vs-uix-button-icon-wrapper"><span class="vs-uix-button-icon vs-uix-button-icon-channel-back vs-sprite"></span></span></a>

              <button onclick=";return false;" aria-expanded="false" type="button" class="subnav-view-menu vs-uix-button vs-uix-button-default vs-uix-button-size-default" aria-haspopup="true" data-button-menu-indicate-selected="true" aria-pressed="false"><span class="vs-uix-button-content">Uploads</span><span class="vs-uix-button-arrow vs-sprite"></span>
                <ul class="vs-uix-button-menu vs-uix-button-menu-default hid" role="menu" aria-haspopup="true" style="min-width: 73px; left: 501.703px; top: 458.125px; display: none;">
                  <li role="menuitem"><span onclick=";yt.window.navigate(this.getAttribute('href'));return false;" class=" vs-uix-button-menu-item spf-link" href="/user/bietpassko21/videos?view=57&amp;flow=grid">All videos</span>
                  </li>
                  <li role="menuitem"><span onclick=";yt.window.navigate(this.getAttribute('href'));return false;" class=" vs-uix-button-menu-item spf-link" href="/user/bietpassko21/videos?view=15&amp;flow=grid">Liked videos</span>
                  </li>
                </ul>
              </button>

            </li>


            <li>
              <ul id="channels-browse-content-grid" class="channels-browse-content-grid branded-page-gutter-padding grid-lockups-container">
                <li class="channels-content-item vs-shelf-grid-item" ng-repeat="video in vm.videos">




                  <div class="vs-lockup clearfix  vs-lockup-video vs-lockup-grid vve-check">
                    <div class="vs-lockup-dismissable">
                      <div class="vs-lockup-thumbnail">
                        <span class=" spf-link  ux-thumb-wrap contains-addto">
                          <a ng-href="/videos/{{ video._id }}" class="vs-uix-sessionlink" aria-hidden="true">
                            <span class="video-thumb  vs-thumb vs-thumb-196">
                              <span class="vs-thumb-default">
                                <span class="vs-thumb-clip">
                                  <img aria-hidden="true" width="196" alt="{{ video.title }}" ng-src="{{ video.thumbnail }}">

                                    <span class="vertical-align"></span>
                                </span>
                              </span>
                            </span>
                          </a>
                          <span class="video-time" aria-hidden="true"><span aria-label="4 seconds">{{ video.hasCaption ? 'Subtitled' : 'no subtitle' }}</span>
                        </span>
                        <!--<span class="thumb-menu dark-overflow-action-menu video-actions">-->
                          <!--<button onclick=";return false;" aria-expanded="false" type="button" class="vs-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded vs-uix-button vs-uix-button-dark-overflow-action-menu vs-uix-button-size-default vs-uix-button-has-icon no-icon-markup vs-uix-button-empty" aria-haspopup="true">-->
                            <!--<span class="vs-uix-button-arrow vs-sprite"></span>-->
                            <!--<ul class="watch-queue-thumb-menu vs-uix-button-menu vs-uix-button-menu-dark-overflow-action-menu hid">-->
                              <!--<li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next vs-uix-button-menu-item" data-action="play-next" onclick=";return false;">-->
                                <!--<span class="addto-watch-queue-menu-text">Play next</span>-->
                              <!--</li>-->
                              <!--<li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now vs-uix-button-menu-item" data-action="play-now" onclick=";return false;">-->
                                <!--<span class="addto-watch-queue-menu-text">Play now</span>-->
                              <!--</li>-->
                            <!--</ul>-->
                          <!--</button>-->
                        <!--</span>-->


                        <!--<button class="vs-uix-button vs-uix-button-size-small vs-uix-button-default vs-uix-button-empty vs-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button vs-uix-tooltip" type="button" onclick=";return false;" role="button" data-video-ids="hPaJTlTgkjw" title="Watch Later"></button>-->
                        <!--<button class="vs-uix-button vs-uix-button-size-small vs-uix-button-default vs-uix-button-empty vs-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button vs-uix-tooltip" type="button" onclick=";return false;" data-video-ids="hPaJTlTgkjw" data-style="tv-queue" title="Queue"></button>-->
                        </span>

                      </div>
                      <div class="vs-lockup-content">

                        <h3 class="vs-lockup-title ">
                          <a class="vs-uix-sessionlink vs-uix-tile-link  spf-link  vs-ui-ellipsis vs-ui-ellipsis-2" ng-href="/videos/{{ video._id }}" title="{{video.title}}">{{ video.title }}</a>
                          <!--<span class="accessible-description" id="description-id-457308"> - Duration: 4 seconds.</span>-->
                        </h3>




                        <div class="vs-lockup-meta">
                          <ul class="vs-lockup-meta-info">
                            <li> <span class="video-private-icon vs-sprite" title="Private"></span>
                            </li>
                            <li>{{ video.view }} views</li>
                            <li am-time-ago="video.created_at"></li>
                          </ul>
                        </div>
                        <div class="vs-lockup-badges">
                          <ul class="vs-badge-list ">
                            <li class="vs-badge-item"></li>
                          </ul>
                        </div>




                      </div>

                    </div>
                    <div class="vs-lockup-notifications-container hid" style="height:110px"></div>

                  </div>



                </li>





              </ul>



            </li>

          </ul>





        </div>

      </div>
    </div>
  </div>
</div>