<div class="branded-page-v2-col-container">
  <div class="branded-page-v2-col-container-inner">
    <div class="branded-page-v2-primary-col">
      <div class="   vs-card  clearfix">
        <div class="branded-page-v2-body branded-page-v2-primary-column-content" id="">

          <ul id="browse-items-primary">


            <li class="branded-page-v2-subnav-container branded-page-gutter-padding clearfix">





              <a href="/user/bietpassko21" class="vs-uix-button  sub-menu-back-button vs-uix-sessionlink vs-uix-button-default vs-uix-button-size-default vs-uix-button-has-icon vs-uix-button-empty" aria-label="Back">
                <span class="vs-uix-button-icon-wrapper">
                  <span class="vs-uix-button-icon vs-uix-button-icon-channel-back vs-sprite"></span>
                </span>
              </a>

              <button class="subnav-view-menu vs-uix-button vs-uix-button-default vs-uix-button-size-default" aria-expanded="false" type="button" aria-haspopup="true" onclick=";return false;" data-button-menu-indicate-selected="true"><span class="vs-uix-button-content">All playlists</span><span class="vs-uix-button-arrow vs-sprite"></span>
                <ul class=" vs-uix-button-menu vs-uix-button-menu-default hid" role="menu" aria-haspopup="true">
                  <li role="menuitem"><span class=" vs-uix-button-menu-item spf-link" href="/user/bietpassko21/playlists?flow=grid&amp;view=1" onclick=";yt.window.navigate(this.getAttribute('href'));return false;">Created playlists</span>
                  </li>
                  <li role="menuitem"><span class=" vs-uix-button-menu-item spf-link" href="/user/bietpassko21/playlists?flow=grid&amp;view=52" onclick=";yt.window.navigate(this.getAttribute('href'));return false;">Saved playlists</span>
                  </li>
                </ul>
              </button>

              <span id="playlists-tab-create-playlist-widget" class="create-playlist-widget-button vs-uix-clickcard">
      <div id="playlists-tab-create-playlist-dialog" class="create-playlist-widget-dialog hid vs-uix-clickcard-content">
          <form class="create-playlist-widget-form vs-uix-focustrap" method="POST" action="/playlist_ajax?action_create_playlist=1" data-max-title-length="150">
            <input class="video-ids-input" type="hidden" name="video_ids">
            <input class="source-playlist-id-input" type="hidden" name="source_playlist_id">
            <div class="create-playlist-section">
            <label>
              <h2 class="vs-uix-form-label">
                Playlist title
              </h2>
              <span class="title-input-container vs-uix-form-input-container vs-uix-form-input-text-container  vs-uix-form-input-fluid-container">
                <span class=" vs-uix-form-input-fluid"><input class="vs-uix-form-input-text title-input" name="n" type="text" maxlength="150"></span>
              </span>
            </label>
        </div>

        <div class="create-playlist-section create-playlist-bottom-section clearfix">
          <input class="privacy-value-input" type="hidden" name="p" value="public">
          <div class="vs-uix-menu vs-uix-menu-sibling-content privacy-button-container">
            <button class="vs-uix-button vs-uix-button-size-default vs-uix-button-text vs-uix-button-has-icon no-icon-markup privacy-button vs-uix-menu-trigger" type="button" onclick=";return false;" aria-pressed="false" aria-haspopup="true" aria-label="Playlist privacy" role="button" data-privacy-state="privacy-public"><span class="vs-uix-button-content">Public</span><span class="vs-uix-button-arrow vs-sprite"></span>
            </button>
            <div class="vs-uix-menu-content vs-ui-menu-content vs-uix-menu-content-hidden" role="menu">
              <ul class="create-playlist-widget-privacy-menu">
                <li role="menuitem">
                  <button type="button" class="vs-ui-menu-item has-icon vs-uix-menu-close-on-select vs-uix-button-has-icon no-icon-markup is-selected" title="Public" data-value="public" data-privacy-state="privacy-public">
                    <span class="vs-ui-menu-item-label">Public</span>
                  </button>

                </li>


                <li role="menuitem">
                  <button type="button" class="vs-ui-menu-item has-icon vs-uix-menu-close-on-select vs-uix-button-has-icon no-icon-markup" title="Unlisted" data-value="unlisted" data-privacy-state="privacy-unlisted">
                    <span class="vs-ui-menu-item-label">Unlisted</span>
                  </button>

                </li>


                <li role="menuitem">
                  <button type="button" class="vs-ui-menu-item has-icon vs-uix-menu-close-on-select vs-uix-button-has-icon no-icon-markup" title="Private" data-value="private" data-privacy-state="privacy-private">
                    <span class="vs-ui-menu-item-label">Private</span>
                  </button>

                </li>

              </ul>
            </div>
          </div>

          <div class="create-playlist-buttons">
            <button class="vs-uix-button vs-uix-button-size-default vs-uix-button-default cancel-button" type="reset" onclick=";return true;"><span class="vs-uix-button-content">Cancel</span>
            </button>

            <button class="vs-uix-button vs-uix-button-size-default vs-uix-button-primary create-button" type="submit" onclick=";return true;" disabled="True"><span class="vs-uix-button-content">Create</span>
            </button>
            <button class="vs-uix-button-disabled-aria-label" aria-disabled="true" onclick="return false;">Create</button>
          </div>

        </div>
        <div class="vs-uix-focustrap-trap" tabindex="0"></div>
        <input name="session_token" type="hidden" value="QUFFLUhqbWs1ZnJrd0dnY1RyWG1QWWEwZ1FYUk5rbklyQXxBQ3Jtc0tudDlNQjlYRWNKaFVKZGtDcENTX2NvdjVqS1h2c1VTdnkycXNYUlJMMUlkV1Q2MmRzNG5FM0lJMGItcFpTT0k5Tnd0MDB3T3BmZ1JGZUtJa2hzT2pyeWxUaDJyVkhsRGotSE1tbGdSREpZa1o0YWlQUl94dHQtSkhqaFJfcEtadTVHT3ZIU01scndlbmNUakVzSi1GRTFXbUdvcFE=">
        </form>

      </div>

      <button class="vs-uix-button vs-uix-button-size-default vs-uix-button-default vs-uix-button-has-icon no-icon-markup vs-uix-clickcard-target add-new-pl-btn" type="button" onclick=";return false;" data-orientation="vertical" data-position="bottomright"><span class="vs-uix-button-content">New playlist</span>
      </button>
      </span>

            </li>


            <li class="feed-item-container vs-section-hover-container browse-list-item-container branded-page-box vve-check">
              <div class="feed-item-dismissable ">
                <div class="feed-item-main feed-item-no-author">
                  <div class="feed-item-main-content">
                    <div class="shelf-wrapper clearfix">
                      <div class="multirow-shelf shelf-item vve-check c4-visible-on-hover-container  vs-section-hover-container">

                        <h2 class="branded-page-module-title">
                          <a href="/user/bietpassko21/playlists?view=1&amp;sort=dd" class="vs-uix-sessionlink branded-page-module-title-link spf-nolink">
                            <span class="branded-page-module-title-text">
                              <span class="" data-ytid="UCK1wLsEHz787wkaZqIdixIQ">Playlists by Giang Trần</span>
                            </span>
                          </a>
                        </h2>


                        <ul class="shelf-content clearfix " data-context-subsource="">
                          <li class="vs-shelf-grid-item">




                            <div class="vs-lockup clearfix  vs-lockup-playlist vs-lockup-grid">
                              <div class="vs-lockup-dismissable">
                                <div class="vs-lockup-thumbnail">
                                  <a href="/watch?v=lp-EO5I60KA&amp;list=PL0o6mA_wJy483aohii-llTFiVQ-L5dBY8" class="vs-pl-thumb-link vs-uix-sessionlink  spf-link ">

                                    <span class="vs-pl-thumb ">

                                      <span class="video-thumb  vs-thumb vs-thumb-196">
                                        <span class="vs-thumb-default">
                                          <span class="vs-thumb-clip">
                                            <img src="//i.ytimg.com/vi/lp-EO5I60KA/mqdefault.jpg" width="196" aria-hidden="true" alt="">
                                            <span class="vertical-align"></span>
                                          </span>
                                        </span>
                                      </span>



                                      <span class="sidebar">
                                        <span class="vs-pl-sidebar-content vs-valign">
                                          <span class="vs-valign-container">
                                            <span class="formatted-video-count-label">
                                              <b>2</b> videos
                                            </span>

                                            <span class="vs-pl-icon vs-pl-icon-reg vs-sprite"></span>
                                          </span>
                                        </span>
                                      </span>

                                      <span class="vs-pl-thumb-overlay">
                                        <span class="vs-pl-thumb-overlay-content">
                                          <span class="play-icon vs-sprite"></span>
                                          <span class="vs-pl-thumb-overlay-text">Play all</span>
                                        </span>
                                      </span>

                                      <span class="vs-pl-watch-queue-overlay">

                                        <span class="thumb-menu dark-overflow-action-menu video-actions">
                                          <button class="vs-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded vs-uix-button vs-uix-button-dark-overflow-action-menu vs-uix-button-size-default vs-uix-button-has-icon no-icon-markup vs-uix-button-empty" aria-expanded="false" type="button" aria-haspopup="true" onclick=";return false;">
                                            <span class="vs-uix-button-arrow vs-sprite"></span>
                                            <ul class="watch-queue-thumb-menu vs-uix-button-menu vs-uix-button-menu-dark-overflow-action-menu hid">
                                              <li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now vs-uix-button-menu-item" data-action="play-now" onclick=";return false;">
                                                <span class="addto-watch-queue-menu-text">Play now</span>
                                              </li>
                                            </ul>
                                          </button>
                                        </span>

                                        <!--<button class="vs-uix-button vs-uix-button-size-small vs-uix-button-default vs-uix-button-empty vs-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button vs-uix-tooltip" type="button" onclick=";return false;" title="Queue" data-list-id="PL0o6mA_wJy483aohii-llTFiVQ-L5dBY8" data-style="tv-queue"></button>-->

                                      </span>

                                    </span>

                                  </a>


                                </div>
                                <div class="vs-lockup-content">
                                  <h3 class="vs-lockup-title ">
                                    <a class="vs-uix-sessionlink vs-uix-tile-link  spf-link  vs-ui-ellipsis vs-ui-ellipsis-2" dir="ltr" title="Test playlist" aria-describedby="description-id-48660"href="/playlist?list=PL0o6mA_wJy483aohii-llTFiVQ-L5dBY8">
                                      Test playlist
                                    </a>
                                    <!--<span class="accessible-description" id="description-id-48660"> - Playlist</span>-->
                                  </h3>
                                  <div class="vs-lockup-meta">
                                    <ul class="vs-lockup-meta-info">
                                      <li> <span class="video-private-icon vs-sprite" title="Private"></span>
                                      </li>
                                      <li>Updated today</li>
                                    </ul>
                                  </div>

                                </div>

                              </div>
                              <div class="vs-lockup-notifications-container hid" style="height:110px"></div>

                            </div>


                          </li>


                        </ul>

                      </div>

                      <div class="menu-container">

                      </div>


                    </div>



                  </div>
                </div>
              </div>
              <div class="feed-item-dismissal-notices">
                <div class="feed-item-dismissal feed-item-dismissal-hide hid">This item has been hidden</div>
              </div>
            </li>





          </ul>





        </div>

      </div>
    </div>
  </div>
</div>