<section flex layout="column" ng-controller="ChannelController as vm">
  <div class="chanel-header-container row">
    <div class="col-md-4 col-xs-12 channel-header-intro">
      <h1 class="display-2 strong">{{ vm.channel.name }}</h1>
      <md-list>
        <md-list-item ng-repeat="admin in vm.channel.admin">
          <a href="#">
            <md-tooltip md-direction="top">
              Admin: {{ admin.name }}
            </md-tooltip>
            <img ng-src="{{ admin.avatar || '/videos/assets/img/johndoe.jpg' }}" class="md-avatar" alt="{{ admin.name }}" />
          </a>

          <!--<div class="md-list-item-text compact">-->
            <!--<a href="#">Channel manager</a>-->
            <!--<p>{{contact.email}}</p>-->
          <!--</div>-->
        </md-list-item>
        <md-list-item ng-repeat="mod in vm.channel.moderator">
          <a href="#">
            <md-tooltip md-direction="top">
              Moderator: {{ mod.name }}
            </md-tooltip>
            <img ng-src="{{ mod.avatar }}" alt="{{ mod.name }}" class="md-avatar" style="width: 30px;height: 30px;">
          </a>
        </md-list-item>
      </md-list>
    </div>

    <img ng-src="{{vm.channel.cover}}" alt="test channel" class="channel-header-cover">

    <div class="channel-avatar hidden-xs">
      <img ng-src="{{ vm.channel.avatar }}" alt="channel avatar">
      <md-button ng-if="vm.isAdmin"
                 ng-click="vm.uploadAvatar($event)"
                 class="channel__upload-button"
                 aria-label="Upload channel avatar">
        <i class="fa fa-lg fa-pencil"></i>
      </md-button>
    </div>

    <div class="channel-subscribe">
      <a data-count="{{vm.channel.subscribeCount}}" class="subscribe-button" ng-click="vm.handleSubscribe()">
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <rect width="2" height="12" x="5" y="0" class="plus__line1"></rect>
            <rect width="12" height="2" x="0" y="5" class="plus__line2"></rect>
          </g>
        </svg><span class="subscribe-text">Subscribe</span>
      </a>
      <!--<subscribe state="vm.channel.subscribeState" count="vm.channel.subscribeCount" ng-click="vm.handleSubscribe()"></subscribe>-->
    </div>

    <md-button ng-if="vm.isAdmin" ng-click="vm.uploadCover($event)"
               class="channel__upload-button"
               aria-label="Upload channel cover">
      <i class="fa fa-lg fa-pencil"></i>
    </md-button>

    <div class="channel__bottom-right">
      <!--<md-button ng-click="vm.applyModerator()" ng-if="!vm.channel.memberState">Apply Moderator</md-button>-->
      <md-button ng-click="vm.applyModerator();hideButton = !hideButton"
                 ng-hide="hideButton" ng-if="!vm.isMember"
                 class="md-primary">Đăng ký Channel Moderator</md-button>
    </div>

  </div>
  </div>
  <div class="row channel-menu">
    <md-tabs md-selected="vm.selectedIndex">
      <md-tab id="tab1" ui-sref="channel.home" aria-controls="tab1-content" md-on-select="vm.getChannelHome()">
        <md-tab-label>Home</md-tab-label>
      </md-tab>
      <!--<md-tab id="tab2" ui-sref="channel.videos" aria-controls="tab2-content" md-on-select="vm.getChannelVideos()">-->
        <!--<md-tab-label>Videos</md-tab-label>-->
      <!--</md-tab>-->
      <md-tab id="tab3" aria-controls="tab3-content" ui-sref="channel.playlist">
        <md-tab-label>Playlist</md-tab-label>
      </md-tab>
      <md-tab ng-if="vm.isAdmin" id="tab4" aria-controls="tab4-content" md-on-select="vm.getChannelRequest()" ui-sref="channel.request">
        <md-tab-label>Request</md-tab-label>
      </md-tab>
      <md-tab ng-if="vm.isAdmin" id="tab5" aria-controls="tab5-content" md-on-select="vm.getChannelVideos()" ui-sref="channel.manager">
        <md-tab-label>Manager</md-tab-label>
      </md-tab>
    </md-tabs>
  </div>
  <div class="row vs-card" layout-padding style="margin-top: 10px;">
    <ui-view>
      <!--<ng-switch on="vm.selectedIndex" class="tabpanel-container">-->
        <!--<div role="tabpanel"-->
             <!--id="tab1-content"-->
             <!--aria-labelledby="tab1"-->
             <!--ng-switch-when="0"-->
             <!--md-swipe-left="next()"-->
             <!--md-swipe-right="previous()"-->
             <!--layout="column" layout-align="center start">-->
          <!--&lt;!&ndash;<div class="vs-card">&ndash;&gt;-->
          <!--&lt;!&ndash;<div ng-include="'/channel/views/home.html'"></div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <!--<div role="tabpanel"-->
             <!--id="tab2-content"-->
             <!--aria-labelledby="tab2"-->
             <!--ng-switch-when="1"-->
             <!--md-swipe-left="next()"-->
             <!--md-swipe-right="previous()"-->
             <!--layout="column" layout-align="center start">-->
          <!--&lt;!&ndash;<h1>Videos</h1>&ndash;&gt;-->
          <!--&lt;!&ndash;<div ng-include="'/channel/views/channel-list-video.tpl.html'"></div>&ndash;&gt;-->
        <!--</div>-->
        <!--<div role="tabpanel"-->
             <!--id="tab3-content"-->
             <!--aria-labelledby="tab3"-->
             <!--ng-switch-when="2"-->
             <!--md-swipe-left="next()"-->
             <!--md-swipe-right="previous()"-->
             <!--layout="column" layout-align="center start">-->
          <!--&lt;!&ndash;<h1>Playlist</h1>&ndash;&gt;-->
          <!--&lt;!&ndash;<div ng-include="'/channel/views/channel-playlist.tpl.html'"></div>&ndash;&gt;-->
        <!--</div>-->
        <!--<div role="tabpanel"-->
             <!--id="tab4-content"-->
             <!--aria-labelledby="tab4"-->
             <!--ng-switch-when="3"-->
             <!--md-swipe-left="next()"-->
             <!--md-swipe-right="previous()"-->
             <!--layout="column" layout-align="center start">-->
          <!--&lt;!&ndash;<h1>Request</h1>&ndash;&gt;-->
          <!--&lt;!&ndash;<div style="width: 100%;" ng-include="'/channel/views/channel-list-request.tpl.html'"></div>&ndash;&gt;-->

        <!--</div>-->
        <!--<div role="tabpanel"-->
             <!--id="tab5-content"-->
             <!--aria-labelledby="tab5"-->
             <!--ng-switch-when="4"-->
             <!--md-swipe-left="next()"-->
             <!--md-swipe-right="previous()"-->
             <!--layout="column" layout-align="center start">-->
          <!--&lt;!&ndash;<h1>Request</h1>&ndash;&gt;-->
          <!--&lt;!&ndash;<div style="width: 100%;" ng-include="'/channel/views/channel-video-manager.tpl.html'"></div>&ndash;&gt;-->

        <!--</div>-->
      <!--</ng-switch>-->
    </ui-view>

  </div>
</section>