<div id="vm-video-list-container" class="clearfix vm-list-view ng-scope">
  <ol id="vm-playlist-video-list-ol" class="vm-video-list" role="region" aria-labelledby="creator-subheader-text" style="margin: 0;padding: 0;">

    <li class="ng-binding ng-scope" ng-repeat="video in vm.videos">
      <div id="vm-video-{{ video._id }}" class="vm-video-item">

        <div class="vm-video-item-content">
          <div class="vm-video-item-content-primary">




            <div class="vm-thumbnail-container vm-thumb" aria-hidden="true">
              <span class="ux-thumb-wrap">
                <a href="/watch?v=IgspVOxNTuI" class="vs-uix-sessionlink vs-fluid-thumb-link" aria-hidden="true">
                  <span class="video-thumb  vs-thumb vs-thumb-120 vs-thumb-fluid">
                    <span class="vs-thumb-default">
                      <span class="vs-thumb-clip">
                        <img aria-hidden="true" width="120" alt="{{ video.title }}" ng-src="{{ video.thumbnail }}">
                          <span class="vertical-align"></span>
                      </span>
                    </span>
                   </span>
                </a> <span class="video-time" aria-hidden="true">{{ video.hasCaption ? 'Subtitled' : 'no subtitle' }}</span>
              </span>

            </div>

            <div class="vm-video-info-container">

              <div class="vm-video-title">
                <div class="vm-video-title-container " id="title_IgspVOxNTuI">
                  <a href="/videos/{{ video._id }}" class="vm-video-title-content vs-uix-sessionlink">{{ video.title }}</a>
                  <span class="vm-video-title-badges"></span>
                </div>
              </div>

              <div class="vm-video-info">
                <span class="vm-date-info">
                  <span class="localized-date" am-time-ago="video.created_at"></span>
                  <!--<span class="localized-date" >10:55 AM</span>-->
                </span>
              </div>

              <div class="vm-video-info" ng-if="video.hasCaption">

                <div class="vm-video-info vm-owner-bar">
                  <span class="vs-uix-button-group">
                    <a href="#" class="vs-uix-button  start vm-playlist-edit-video vs-uix-sessionlink vs-uix-button-default vs-uix-button-size-small">
                      <span class="vs-uix-button-content">Edit</span>
                    </a>
                  <button onclick=";return false;" alt="Expand edit options"
                          type="button"
                          class="edit-expand-menu-button end vs-uix-button vs-uix-button-default vs-uix-button-size-small vs-uix-button-empty"
                          aria-haspopup="true"
                          aria-expanded="false">
                    <span class="vs-uix-button-arrow vs-sprite"></span>
                    <ul class=" vs-uix-button-menu vs-uix-button-menu-default hid" role="menu" aria-haspopup="true">
                      <li role="menuitem"><span class="vm-video-info-and-settings vs-uix-button-menu-item">Info &amp; Settings</span>
                      </li>
                      <li role="menuitem"><span class="vm-video-enhancements vs-uix-button-menu-item">Enhancements</span>
                      </li>
                      <li role="menuitem"><span class="vm-video-audio vs-uix-button-menu-item">Audio</span>
                      </li>
                      <li role="menuitem"><span class="vm-video-annotations vs-uix-button-menu-item">Annotations</span>
                      </li>
                      <li role="menuitem"><span class="vm-video-cards vs-uix-button-menu-item">Cards</span>
                      </li>
                      <li role="menuitem"><span class="vm-video-captions vs-uix-button-menu-item">Subtitles &amp; CC</span>
                      </li>
                      <li role="menuitem"><span class="vm-video-promote vs-uix-button-menu-item">Promote</span>
                      </li>
                      <li role="menuitem"><span class="vm-video-edit-menu-delete menu-item-top-divider vs-uix-button-menu-item">Delete</span>
                      </li>
                    </ul>
                  </button>
                  </span>



                </div>
              </div>
            </div>

          </div>
          <div class="vm-video-item-content-secondary">
            <div class="vm-video-side-content-right-container">
              <div ng-if="video.hasCaption" class="vm-video-metrics ">
                <a href="#" class="all-comments-metric-link">

                  <span class="vm-video-metric video-comments">
                    <span class="vs-uix-tooltip" title="All comments">
                      <span title="All comments" class="vm-video-metric-icon vs-sprite"></span>
                      <span class="vm-video-metric-name">All comments</span>
                      <span class="vm-video-metric-value">0</span>
                    </span>
                  </span>

                </a>

                <a href="#" class="vs-uix-tooltip view-stats-metric-link" title="View analytics">

                  <span class="vm-video-metric video-likes-count">
                    <span class="vs-uix-tooltip" title="Likes">
                      <span title="Likes" class="vm-video-metric-icon vs-sprite"></span>
                      <span class="vm-video-metric-name">Likes</span>
                      <span class="vm-video-metric-value">{{ video.voteCount }}</span>
                    </span>
                  </span>

                  <span class="vm-video-metric video-dislikes-count">
                    <span class="vs-uix-tooltip" title="Dislikes">
                      <span title="Dislikes" class="vm-video-metric-icon vs-sprite"></span>
                      <span class="vm-video-metric-name">Dislikes</span>
                      <span class="vm-video-metric-value">0</span>
                    </span>
                  </span>

                </a>

              </div>

              <ul ng-if="!video.hasCaption" class="vm-video-long-videos-buttons">
                <li>
                  <a ng-href="/caption/{{ video._id }}/upload" class="vs-uix-button vs-uix-button-size-default vs-uix-button-primary vm-video-publish vm-draft-content" type="button">
                    <span class="vs-uix-button-content" style="color: white">Upload Caption</span>
                  </a>
                </li>
                <br>
                <br>
                <li>
                  <a ng-href="/subtitler/{{ video._id }}" class="vs-uix-button vs-uix-button-size-default vs-uix-button-primary vm-video-publish vm-draft-content"
                     style="background:{{ video.hasSegment ? '#FDB45C' : '#167ac6' }};"
                     type="button">
                    <span class="vs-uix-button-content" style="color: white;">
                      {{ video.hasSegment ? 'Edit' : 'Create' }} Caption
                    </span>
                  </a>
                </li>
              </ul>

            </div>

            <div class="vm-video-side-content-left-container">
              <!--<div class="vm-video-indicators">-->
                <!---->
                <!--<a href="#" class="vs-uix-sessionlink">-->
                  <!--<span class="vm-video-privacy vm-public vs-uix-tooltip-reverse vs-uix-tooltip vs-sprite" aria-label="Public"></span>-->
                <!--</a>-->

                <!--<a href="/edit?o=U&amp;video_id=IgspVOxNTuI" class="vs-uix-sessionlink" data-sessionlink="ei=zFQ3V-r3GcTCqwXttJCIDw">-->
                  <!--<span class="vm-video-privacy vm-unlisted hid vs-uix-tooltip-reverse vs-uix-tooltip vs-sprite" aria-label="Unlisted"></span>-->
                <!--</a>-->

                <!--<a href="/edit?o=U&amp;video_id=IgspVOxNTuI" class="vs-uix-sessionlink" data-sessionlink="ei=zFQ3V-r3GcTCqwXttJCIDw">-->
                  <!--<span class="vm-video-privacy vm-private hid vs-uix-tooltip-reverse vs-uix-tooltip vs-sprite" aria-label="Private"></span>-->
                <!--</a>-->
                <!---->
                <!--<a href="/video_copynotice?v=IgspVOxNTuI" class="vs-uix-sessionlink" data-sessionlink="ei=zFQ3V-r3GcTCqwXttJCIDw">-->
                  <!--<span class="vm-video-copyright-blue vm-video-copyright-icon vs-uix-tooltip-reverse vs-uix-tooltip vs-sprite" aria-label="Copyright claim"></span>-->
                <!--</a>-->

              <!--</div>-->

              <div class="vm-video-side-view-count">
                <a href="#">
                  {{ video.view }} views
                </a>
              </div>
              <!--<div class="vm-video-side-notification-text">-->
                <!--<span class="vm-notification-icons"></span>-->
                <!--<span class="vm-video-side-notification-text-item">-->
                  <!--<a href="#" class="vs-uix-sessionlink">Includes copyrighted content</a>-->
                <!--</span>-->
              <!--</div>-->

            </div>

          </div>
        </div>
        <md-divider></md-divider>
      </div>


    </li>
  </ol>
  <div data-ng-show="ctrl.showLoading" class="ng-hide">
    <p class="vs-spinner ">
      <span title="Loading icon" class="vs-spinner-img  vs-sprite"></span>
      <span class="vs-spinner-message">Loading...</span>
    </p>
  </div>
  <div class="vm-no-items hid">
    No videos were found.
  </div>

</div>