<md-content layout="row">
  <div flex="50">
    <h3>Ứng tuyển moderator</h3>
    <md-divider></md-divider>
    <md-list>
      <md-list-item ng-repeat="request in vm.request.moderator">
        <img alt="{{ request.user.name }}" ng-src="{{ request.user.avatar }}" class="md-avatar" />
        <p>{{ request.user.name }}</p>
        <!--<md-icon md-svg-icon="communication:messenger" ng-="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"></md-icon>-->
        <md-button class="md-raised md-primary" ng-click="vm.approveUser(request._id, request.user._id)">Approve</md-button>
      </md-list-item>
    </md-list>
  </div>
  <div flex="50">
    <h3>Yêu cầu video</h3>
    <md-divider></md-divider>
  </div>
</md-content>