<div class="branded-page-v2-body branded-page-v2-primary-column-content">
  <ul class="browse-items-primary">
    <li class="feed-item-container vs-section-hover-container browse-list-item-container branded-page-box vve-check">
      <div class="feed-item-dismissable">
        <div class="feed-item-main feed-item-no-author">
          <div class="feed-item-main-content">
            <div class="shelf-wrapper clearfix">
              <div class="compact-shelf shelf-item vs-uix-shelfslider vs-uix-shelfslider-at-head vve-check clearfix c4-visible-on-hover-container vs-section-hover-container vs-uix-tdl">
                <h2 class="branded-page-module-title">
                  <a href="#" class="vs-uix-sessionlink branded-page-module-title-link spf-nolink">
                                <span class="branded-page-module-title-text">
                                  <span>Uplad</span>
                                </span>
                  </a>
                </h2>

                <div class="compact-shelf-content-container">
                  <div class="vs-uix-shelfslider-body">
                    <ul class="vs-uix-shelfslider-list">
                      <li class="channels-content-item vs-shelf-grid-item vs-uix-shelfslider-item" ng-repeat="video in vm.home.videos">
                        <div class="vs-lockup clearfix  vs-lockup-video vs-lockup-grid vve-check">
                          <div class="vs-lockup-dismissable">
                            <div class="vs-lockup-thumbnail">
                                          <span class="spf-link  ux-thumb-wrap contains-addto">
                                            <a href="/videos/{{ video._id }}" class="vs-uix-sessionlink watched">
                                              <span class="video-thumb  vs-thumb vs-thumb-196">
                                                <span class="vs-thumb-default">
                                                  <span class="vs-thumb-clip">
                                                    <img aria-hidden="true" width="196" alt="" ng-src="{{ video.thumbnail }}" class="hoverZoomLink">
                                                  </span>
                                                </span>
                                              </span>
                                            </a>
                                            <span class="video-time">
                                              <span>{{ video.hasCaption ? 'Subtitled' : 'no subtitle' }}</span>
                                            </span>
                                          </span>

                              <div class="vs-lockup-content">
                                <h3 class="vs-lockup-title ">
                                  <a href="/videos/{{ video._id }}" class="vs-uix-sessionlink vs-uix-tile-link  spf-link  vs-ui-ellipsis vs-ui-ellipsis-2">{{ video.title }}</a>
                                </h3>
                                <div class="vs-lockup-meta">
                                  <ul class="vs-lockup-meta-info">
                                    <li>{{ video.view }} views</li>
                                    <li am-time-ago="video.created_at"></li>
                                  </ul>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="feed-item-dismissal-notices"></div>
    </li>
  </ul>
</div>
