<md-dialog>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Channel Art</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
          <i class="fa fa-lg fa-close" aria-label="Close dialog"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;width:800px;height:450px;">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Upload photos">
          <md-content class="md-padding">
            <!--<h1 class="md-display-2">Upload photos</h1>-->
            <p>{{ vm.errFile.$error }} {{ vm.errFile.$errorParam }}</p>
            <div ngf-drop ngf-select="vm.uploadFile($file, $invalidFiles); u=true" ng-model="vm.files" class="drop-box" style="height: 300px;color: #777"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                 accept="image/*"
                 ngf-max-size="4MB"
                 ngf-min-width="75"
                 ngf-min-height="75"
                 ngf-pattern="'image/*'">
              <div class="upload-inside">
                <i class="fa fa-cloud-upload" style="font-size: 9em"></i>
                <h3 ng-hide="u">Drop images here or click to upload</h3>
                <!--<p>Recommended channel art size: 75x75</p>-->
                <p>Max file size: 4MB</p>
                <!--<md-progress-linear md-mode="determinate" value="{{vm.files.progress}}" ng-show="u"></md-progress-linear>-->
                <uib-progressbar class="progress-striped" value="vm.files.progress || 0" type="warning" ng-show="u">{{vm.files.progress || 0}}%</uib-progressbar>
              </div>
            </div>

            <!--<div ngf-drop ng-model="vm.files" ngf-pattern="image/*"-->
            <!--class="cropArea">-->
            <!--<img-crop image="vm.files  | ngfDataUrl"-->
            <!--result-image="croppedDataUrl" ng-init="croppedDataUrl=''">-->
            <!--</img-crop>-->
            <!--</div>-->

          </md-content>
        </md-tab>
        <md-tab label="Your photo" ng-disabled="true">
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Two</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
            <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
          </md-content>
        </md-tab>
        <!--<md-tab label="three">-->
        <!--<md-content class="md-padding">-->
        <!--<h1 class="md-display-2">Tab Three</h1>-->
        <!--<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>-->
        <!--</md-content>-->
        <!--</md-tab>-->
      </md-tabs>
      <md-dialog-actions layout="row">
        <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>-->
        <!--More on Wikipedia-->
        <!--</md-button>-->
        <span flex></span>
        <md-button ng-click="answer('not useful')" >
          Select
        </md-button>
        <md-button ng-click="vm.cancel()" style="margin-right:20px;" >
          Cancel
        </md-button>
      </md-dialog-actions>
    </md-dialog-content>
  </form>
</md-dialog>