<div class="" data-ng-controller="DashboardController">
  <h1>Example view from your new awesome package</h1>
  <h2>Package: {{package.name}}</h2>
  <ol>
    <li>
      <a href="/api/dashboard/example/anyone" target="_self">Server route that anyone can access</a>
    </li>
    <li>
      <a href="/api/dashboard/example/auth" target="_self">Server route that requires authentication</a>
    </li>
    <li>
      <a href="/api/dashboard/example/admin" target="_self">Server route that requires admin user</a>
    </li>
    <li>
      <a href="/api/dashboard/example/render" target="_self">Raw Html rendering example from using swig</a>
    </li>
  </ol>
  <h3><img src="/dashboard/assets/img/logo.png" /></h3>
  </br>
  <p class="alert alert-info">You can find your package in /packages/dashboard</p>
  </br>
  <p class="alert alert-warning">MEAN versions prior to 0.3.2 will be in /node_modules/dashboard</p>
  </br>
  <h3><a href="http://learn.mean.io">Documentation</a></h3>
  </br>
</div>

