<section ng-controller="ProfileController as vm" class="row" layout="row" ng-cloak>
  <!--<p>{{vm.user}}</p>-->
  <div flex-gt-xs="25" layout="column" class="profile-left">
    <!--<md-content flex layout="column" layout-fill>-->
      <!--<img src="{{vm.user.avatar}}" alt="avatar" width="100%" flex="85" class="profile-left-avatar">-->
      <!--<span flex></span>-->
      <!--<div class="md-padding profile-left-info" layout-align="center center">-->
        <!--<h3 class="profile-left-name">{{vm.user.name}}</h3>-->
        <!--<h4>{{vm.user.email}}</h4>-->
      <!--</div>-->
      <!--<md-divider></md-divider>-->
    <!--</md-content>-->
    <div class="user-card profile-card">
      <div class="user-avatar">
        <img src="{{vm.user.avatar}}" class="user-bg">
        <!--<img src="//i.imgbox.com/adyPLwgm" class="user-pic">-->
      </div>
      <header>
        <h1>{{vm.user.name}}</h1>
        <p>{{ vm.user.roles.indexof('admin') !== -1 ? 'Admin' : 'subtitler' }}</p>
      </header>
      <div class="status">Set without brought abundantly. You'll behold. Night, moveth which fruit without saw to was rule.</div>
      <ul class="stats">
        <li><a><strong>0</strong><span>Segments</span></a></li>
        <li><a><strong>0</strong><span>Likes</span></a></li>
        <li><a><strong>{{vm.contribute.sentence.length}}</strong><span>Subtitles</span></a></li>
      </ul>
    </div>
    <!--<div class="user-stats">-->
      <!--<ul class="stats">-->
        <!--<li><a><strong>380</strong><span>Subtitles</span></a></li>-->
        <!--<li><a><strong>934</strong><span>Likes</span></a></li>-->
        <!--<li><a><strong>1448</strong><span>Point</span></a></li>-->
      <!--</ul>-->
    <!--</div>-->
    <md-content class="vs-card vs-card-has-padding">
      <h4>Badge</h4>
      <!--<div class="mod-bd pvm bvs user-badges">-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Spanish (100000)" height="36" src="https://1.viki.io/badges/1400652877_spa100000.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="World Cup, 2014" height="36" src="https://0.viki.io/badges/1403319030_worldcup2014.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Ninja Academy!" height="36" src="https://1.viki.io/badges/1403319030_ninjabadge.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Hot 100 Bronze (May 2015)" height="36" src="https://0.viki.io/badges/2015may100bronze.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Hot 150 (Summer 2015)" height="36" src="https://0.viki.io/badges/2015summersegments.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="#1BillionWords" height="36" src="https://0.viki.io/badges/2015billionwords.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Rakuten Manga TOP Pioneer Badge" height="36" src="https://0.viki.io/badges/2015rakutenmangabetatop.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Channel Title/Description Translation Badge" height="36" src="https://0.viki.io/badges/title_translation.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Venezuelan Telenovela Badge" height="36" src="https://1.viki.io/badges/venezuela.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Segmenter (100000)" height="36" src="https://1.viki.io/badges/1400652877_seg100000.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Qualified Contributor" height="36" src="https://0.viki.io/badges/contributor.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Subtitler (100000)" height="36" src="https://1.viki.io/badges/1400652877_sub100000.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Power Segmenter" height="36" src="https://1.viki.io/badges/segmenter.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Anime (300)" height="36" src="https://0.viki.io/badges/1400652877_anime300.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Chinese Titles (10000)" height="36" src="https://0.viki.io/badges/1400652877_chinese10000.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Classics (10000)" height="36" src="https://0.viki.io/badges/1400652877_classics10000.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="J-Drama (10000)" height="36" src="https://0.viki.io/badges/1400652877_jdrama10000.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="K-Drama (10000)" height="36" src="https://0.viki.io/badges/1400652877_kdrama10000.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Taiwanese Titles (10000)" height="36" src="https://0.viki.io/badges/1400652877_taiwanese10000.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Telenovela (10000)" height="36" src="https://0.viki.io/badges/1400652877_telenovela10000.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Thai Titles (10000)" height="36" src="https://0.viki.io/badges/1400652877_thai10000.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="Chinese (Traditional) (300)" height="36" src="https://0.viki.io/badges/1400652877_chitrad300.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="English (10000)" height="36" src="https://0.viki.io/badges/1400652877_eng10000.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
        <!--<a href="/badges" class="pull-left mrs mls tooltip-south">-->
          <!--<img alt="The Telenovela Badge" height="36" src="https://1.viki.io/badges/telenovela.png?s=36x36&amp;q=h&amp;cb=1" width="36">-->
        <!--</a>-->
      <!--</div>-->
    </md-content>

  </div>
  <div flex-gt-xs="75" layout="column" class="vs-card profile-right">
    <md-content flex md-scroll-y style="background-color: #fff;">
      <md-tabs md-stretch-tabs="always" md-selected="vm.selectedIndex">
        <md-tab id="tab1" aria-controls="tab1-content" ng-click="vm.selectedTab(0)">
          Video yêu thích
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content" ng-click="vm.selectedTab(1)">
          Kênh đang theo dõi
        </md-tab>
        <md-tab id="tab3" aria-controls="tab3-content" ng-click="vm.selectedTab(2)">
          Video đã đóng góp
        </md-tab>
        <md-tab id="tab4" aria-controls="tab4-content" ng-click="vm.selectedTab(3)">
          Đóng góp gần nhất
        </md-tab>
      </md-tabs>
      <!--<md-tabs md-selected="vm.selectedIndex" md-border-bottom class="md-primary" md-stretch-tabs="always">-->
        <!--<md-tab ng-repeat="tab in tabs"-->
                <!--ng-disabled="tab.disabled"-->
                <!--md-on-select="vm.selectedTab($index)"-->
                <!--aria-controls="tab{{$index}}-content"-->
                <!--label="{{tab.title}}">-->
          <!--<div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">-->
            <!--<div ng-bind="tab.content"></div>-->
            <!--<br/>-->
            <!--<md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove Tab</md-button>-->
          <!--</div>-->
        <!--</md-tab>-->

      <!--</md-tabs>-->
      <md-content flex md-scroll-y style="background-color: #fff;">
        <ui-view layout="column" layout-fill layout-padding>
          <div class="inset" hide-sm></div>
          <ng-switch on="vm.selectedIndex" class="tabpanel-container">
            <div role="tabpanel"
                 id="tab1-content"
                 aria-labelledby="tab1"
                 ng-switch-when="0"
                 md-swipe-left="next()"
                 md-swipe-right="previous()"
                 layout="column" layout-align="center start">
              <!--<header class="section-header bbm" flex>-->
                <!--<h3 class="pull-left">Video yêu thích</h3>-->
                <!--<span class="pull-right">videos</span>-->
              <!--</header>-->
                <!--<h4 class="pull-right" layout-align="end center">{{vm.metadata.favoriteCount || 0}} Videos</h4>-->
              <div ng-if="vm.metadata.favorite.length === 0 || vm.metadata.length === 0">
                Bạn không có video yêu thích nào!
              </div>
              <div ng-if="vm.metadata.favorite.length !== 0">
                <ul class="media-list">
                  <li class="media row" ng-repeat="video in vm.metadata.favorite">
                    <div class="media-left col s6 m5 l4">
                      <a class="vkal-video media-thumbnail" href="/videos/{{video._id}}">
                        <img alt="Flower" class="media-object responsive-img" height="107" itemprop="thumbnailUrl"
                             src="{{video.thumbnail}}">

                        <span class="badge-thumbnail badge badge-primary badge-medium uppercase">Fan Channel</span>
                      </a>
                    </div>
                    <div class="media-body col s6 m7 l8">
                      <h2 class="media-heading strong"><a class="vkal-video" href="/videos/{{video._id}}"><span
                              class="uppercase"></span>{{video.title}}</a></h2>
                      <div class="media-content">
                        <div class="grey-text">
                          <span ng-repeat="lock in video.lockedLanguage">{{lock.language_symbol}} 100% • </span>
                          <!--<span>•</span>-->
                          <!--<span class="inline-block">Korea</span>-->
                        </div>
                        <p class="created-at">
                          <span am-time-ago="video.created_at"></span>
                          <span>•</span>
                          <span>{{video.view}} lượt xem</span>
                          <!--<span class="hide-on-medium">-->
                          <!--Jpop-->
                          <!--<a href="/artists/22521c-flower">More</a>-->
                          <!--</span>-->
                          <!--<span class="hide-on-small show-on-medium">-->
                          <!--Jpop-->
                          <!--<a href="/artists/22521c-flower">More</a>-->
                          <!--</span>-->
                        </p>
                        <a href="#" class="pull-right" ng-click="vm.deleteFavorite(video._id, $index)"><i class="fa fa-lg fa-trash"></i></a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div role="tabpanel"
                 id="tab2-content"
                 aria-labelledby="tab2"
                 ng-switch-when="1"
                 md-swipe-left="next()"
                 md-swipe-right="previous()"
                 layout="row" layout-align="center start">
              <!--<header class="section-header bbm" flex>-->
                <!--<h3 class="pull-left">Kênh đang theo dõi</h3>-->
                <!--<span class="pull-right">videos</span>-->
              <!--</header>-->

            </div>
            <div role="tabpanel"
                 id="tab3-content"
                 aria-labelledby="tab3"
                 ng-switch-when="2"
                 md-swipe-left="next()"
                 md-swipe-right="previous()"
                 layout="column" layout-align="center start">
              <!--<header class="section-header bbm" flex>-->
                <!--<h3>Các video đã đóng góp</h3>-->
              <!--</header>-->
              <md-divider></md-divider>
              <!--<span>{{vm.contribute | json}}</span>-->
              <!--<div ng-repeat="video in vm.contribute.video">{{video.title}}</div>-->
              <ul class="media-list">
                <li class="media row" ng-repeat="video in vm.contribute.video">
                  <div class="media-left col s6 m5 l4">
                    <a class="vkal-video media-thumbnail" href="/videos/{{video._id}}">
                      <img alt="Flower" class="media-object responsive-img" height="107" itemprop="thumbnailUrl"
                           src="{{video.thumbnail}}">

                      <span class="badge-thumbnail badge badge-primary badge-medium uppercase">Fan Channel</span>
                    </a>
                  </div>
                  <div class="media-body col s6 m7 l8">
                    <h2 class="media-heading strong"><a class="vkal-video" href="/videos/{{video._id}}"><span
                            class="uppercase"></span>{{video.title}}</a></h2>
                    <div class="media-content">
                      <div class="grey-text">
                        <span ng-repeat="lock in video.lockedLanguage">{{lock.language_symbol}} 100% • </span>
                        <!--<span>•</span>-->
                        <!--<span class="inline-block">Korea</span>-->
                      </div>
                      <p class="created-at">
                        <span am-time-ago="video.created_at"></span>
                        <span>•</span>
                        <span>{{video.view}} lượt xem</span>
                        <!--<span class="hide-on-medium">-->
                        <!--Jpop-->
                        <!--<a href="/artists/22521c-flower">More</a>-->
                        <!--</span>-->
                        <!--<span class="hide-on-small show-on-medium">-->
                        <!--Jpop-->
                        <!--<a href="/artists/22521c-flower">More</a>-->
                        <!--</span>-->
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div role="tabpanel"
                 id="tab4-content"
                 aria-labelledby="tab4"
                 ng-switch-when="3"
                 md-swipe-left="next()"
                 md-swipe-right="previous()"
                 layout="column" layout-align="center start">

              <!--<header class="section-header bbm" flex style="margin-bottom: 0;">-->
                <!--<h3 class="pull-left">Đóng góp mới nhất</h3>-->
                <!--&lt;!&ndash;<span class="pull-right">videos</span>&ndash;&gt;-->
              <!--</header>-->

              <md-divider></md-divider>
              <div ng-if="vm.recentContributions.length === 0">
                Bạn chưa có đóng góp nào!
              </div>
              <div ng-if="vm.recentContributions.length !== 0">
                <!--Dịch<a href="/videos/{{ act.video._id }}/edit"> một câu </a> trong <a href="/videos/{{act.video._id}}">{{act.video.title}} </a>-->
                <!--<br>-->
                <!--<span>{{act.sentence}}</span>-->
                <md-list>
                  <md-list-item class="md-3-line" ng-repeat="act in vm.recentContributions">
                    <img src="{{ act.video.thumbnail }}" alt="{{ video.title }}" class="md-avatar">
                    <div class="md-list-item-text">
                      <h3>Dịch<a href="/videos/{{ act.video._id }}/edit"> một câu </a> trong video <a href="/videos/{{act.video._id}}">{{act.video.title}} </a></h3>
                      <h4><strong>{{ act.language.language_description }}:</strong><em> {{ act.sentence }}</em></h4>
                      <p am-time-ago="act.created_at"></p>
                    </div>
                    <md-divider md-inset ng-if="!$last"></md-divider>
                  </md-list-item>
                </md-list>
              </div>
            </div>


          </ng-switch>

        </ui-view>
      </md-content>
    </md-content>
  </div>
</section>