<div class="" data-ng-controller="SubtitlerController as vm" style="padding-bottom: 100px;" ng-keydown="vm.keyPress($event)">

  <div class="tab-content">
    <div id="tool-tab" class="wrapper wrapper-tool">
      <div class="col-md-10 col-md-offset-1">
        <div class="video_wrapper">
          <videogular vg-theme="vm.config.theme"
                    vg-update-time="vm.onUpdateTime($currentTime, $duration)"
                    vg-update-state="vm.onUpdateState($state)"
                    vg-player-ready="vm.onPlayerReady($API)">
          <vg-media vg-src="vm.config.sources"
                    vg-youtube="rel=0;showinfo=1;autoplay=1"
                    vg-tracks="vm.config.tracks">
          </vg-media>

          <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
            <vg-volume>
              <vg-mute-button></vg-mute-button>
              <vg-volume-bar></vg-volume-bar>
            </vg-volume>
            <vg-fullscreen-button></vg-fullscreen-button>
          </vg-controls>

          <vg-overlay-play></vg-overlay-play>
          <vg-poster vg-url='vm.config.plugins.poster'></vg-poster>

          </videogular>
          <!--<div class="segment-text">-->
            <!--<textarea name="segment-text" id="segment-text" cols="30" rows="10" placeholder="Vietnamese"></textarea>-->
          <!--</div>-->
          <ul id="subtitles" data-language-code="wa">
            <li class="subtitle">
              <textarea id="textCaptionEntry" class="hid" maxlength="120" class="direction-ltr" placeholder="Add [Walloon] subtitle"></textarea>
            </li>
          </ul>
        </div>
        <div class="videotime">
          <div class="full_bar">
            <span class="play_range" style="width: 8.15372px;"></span>
          <span class="current_knob tooltip-south" style="left: 3.65372px;">
          </span>
          </div>
        </div>

        <div class="bottom_pane">
          <div id="timeframe" class="clear">
            <span class="needle"></span>

            <div class="grayframe timescale">
              <span id="timescales"></span>

              <div id="timelines" class="timeline">
                <ul id="timeline-0" style="display: block;">
                  <li style="left: 460px;">0:00:00</li>
                  <li style="left: 610px;">0:00:05</li>
                  <li style="left: 760px;">0:00:10</li>
                  <li style="left: 910px;">0:00:15</li>
                  <li style="left: 1060px;">0:00:20</li>
                  <li style="left: 1210px;">0:00:25</li>
                  <li style="left: 1360px;">0:00:30</li>
                  <li style="left: 1510px;">0:00:35</li>
                  <li style="left: 1660px;">0:00:40</li>
                  <li style="left: 1810px;">0:00:45</li>
                  <li style="left: 1960px;">0:00:50</li>
                  <li style="left: 2110px;">0:00:55</li>
                  <li style="left: 2260px;">0:01:00</li>
                  <li style="left: 2410px;">0:01:05</li>
                  <li style="left: 2560px;">0:01:10</li>
                  <li style="left: 2710px;">0:01:15</li>
                  <li style="left: 2860px;">0:01:20</li>
                  <li style="left: 3010px;">0:01:25</li>
              </ul><ul id="timeline-26" style="display: none;"><li style="left: 70660px;">0:39:00</li>
                <li style="left: 70810px;">0:39:05</li>
                <li style="left: 70960px;">0:39:10</li>
                <li style="left: 71110px;">0:39:15</li>
                <li style="left: 71260px;">0:39:20</li>
                <li style="left: 71410px;">0:39:25</li>
                <li style="left: 71560px;">0:39:30</li>
                <li style="left: 71710px;">0:39:35</li>
                <li style="left: 71860px;">0:39:40</li>
                <li style="left: 72010px;">0:39:45</li>
                <li style="left: 72160px;">0:39:50</li>
                <li style="left: 72310px;">0:39:55</li>
                <li style="left: 72460px;">0:40:00</li>
                <li style="left: 72610px;">0:40:05</li>
                <li style="left: 72760px;">0:40:10</li>
                <li style="left: 72910px;">0:40:15</li>
                <li style="left: 73060px;">0:40:20</li>
                <li style="left: 73210px;">0:40:25</li>
              </ul><ul id="timeline-27" style="display: none;"><li style="left: 73360px;">0:40:30</li>
                <li style="left: 73510px;">0:40:35</li>
                <li style="left: 73660px;">0:40:40</li>
                <li style="left: 73810px;">0:40:45</li>
                <li style="left: 73960px;">0:40:50</li>
                <li style="left: 74110px;">0:40:55</li>
                <li style="left: 74260px;">0:41:00</li>
                <li style="left: 74410px;">0:41:05</li>
                <li style="left: 74560px;">0:41:10</li>
                <li style="left: 74710px;">0:41:15</li>
                <li style="left: 74860px;">0:41:20</li>
                <li style="left: 75010px;">0:41:25</li>
                <li style="left: 75160px;">0:41:30</li>
              </ul></div>
              <div class="clearfix"></div>
            </div>
            <div class="middleframe">

              <div id="waveform">
                <div style="width: 630px; position: absolute; left: 0px; display: block;">
                </div>
              </div>

              <ul id="segments">
                <li class="segment-disabled front" style="width: 488px; left: -488px;"></li>

                <li class="segment-disabled rear" style="width: 488px; left: 74858.2px;"></li>
              </ul>

            </div>
            <div class="grayframe"></div>
            <div class="timeframe-spinner" style="display: none;">
                <span class="loader-wrapper loader-wrapper-small">
                  <i class="loader loader-inverse loader-small"></i>
                </span>
            </div>
          </div>
          <div class="control_toolbar clearfix">
            <ul class="control_actions play_actions pull-left">
              <li class="action_list">
                <a id="rewind" class="player_controller rewind_button tooltip-south" href="#">
                  <i></i>

                </a>
              </li>
              <li class="action_list">
                <a id="play_button" class="player_controller play_button tooltip-south" href="#">
                  <i></i>

                </a>
                <a id="pause_button" class="player_controller pause_button tooltip-south hide" href="#">
                  <i></i>

                </a>
              </li>
              <li class="action_list">
                <a id="fast_forward" class="player_controller fast_forward_button tooltip-south" href="#">
                  <i></i>

                </a>
              </li>
            </ul>
            <ul class="control_actions setting_actions pull-right">
              <li class="action_list">
              </li>
              <li class="action_list">
                <a href="#" id="setting_button" class="settings_controller settings_menu"><i></i></a>
              </li>
            </ul>
            <ul class="control_actions optional_actions">
              <li class="action_list">
                <a id="refresh-segments" class="optional_controller tooltip-south hidden" href="#">
                  <i class="icon icon-refresh"></i> Refresh

                </a>
              </li>
            </ul>
            <ul class="control_actions segment_actions">
              <li class="action_list">
                <a id="start-segment" class="segment_controller open_segment tooltip-south" href="javascript:void(0)" ng-click="vm.log()">
                  <i></i> Open segment

                </a>
                <a id="end-segment" class="segment_controller close_segment tooltip-south hide" href="#">
                  <i></i> Close segment

                </a>
              </li>
              <li class="action_list" data-intro="Undo recent change." data-step="5" data-position="top">
                <a id="undo" class="segment_controller undo tooltip-south inactive" href="#">
                  <i></i> Undo

                </a>
              </li>
              <li class="action_list">
                <a id="save-changes" class="segment_controller save_segment tooltip-south" href="javascript:void(0)" ng-click="vm.logCapArr()">
                  <i></i> Save

                </a>
              </li>
            </ul>

            <ul id="setting_menu" class="menu_dropdown settings_menu_dropdown hide">
              <li class="dropdown_list"> <a href="/sandbox/1102238">Playground</a> </li>
              <li class="dropdown_list"> <a id="intro" data-event-label="show-tutorial" href="#">Tutorial</a> </li>
              <li class="dropdown_list"> <a target="_blank" data-event-label="show-faq" href="#">Frequently Asked Questions</a> </li>
              <li class="dropdown_list"> <a id="showkeyboard" data-event-label="show-shortcut" href="#">Shortcuts</a> </li>
            </ul>
          </div>
        </div>

  </div>
    </div>
  </div>

</div>

