<section data-ng-controller="ArticlesController" ng-init="getPages()">
  <form name="articleForm" class="form-horizontal col-md-10" role="form" data-ng-submit="create(articleForm.$valid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.title.$invalid }">
      <label mean-token="'create-title'" class="col-md-3 control-label">Title</label>
      <div class="col-md-9">
        <input name="title" type="text" class="form-control" data-ng-model="article.title" id="title" placeholder="Title" required>
        <div ng-show="submitted && articleForm.title.$invalid" class="help-block">
          <p ng-show="articleForm.title.$error.required">Title is required</p>
        </div>
      </div>

    </div>
    <md-input-container style="margin-right: 10px;">
      <label>Page</label>
      <md-select ng-model="article.page">
        <md-option ng-repeat="page in pages" value="{{page._id}}">{{page.name}}</md-option>
      </md-select>
    </md-input-container>
    <div text-angular-toolbar name="statictoolbar" class="statictoolbar" set-class-when-at-top="fix-to-top"></div>
    <text-angular ng-model="article.content" ta-target-toolbars='htmlcontenttools,statictoolbar'></text-angular>

    <input type="text" ng-model="page">
    <button ng-click="createPage()">create Page</button>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <button mean-token="'create-submit'" type="submit" class="btn btn-info">Submit</button>
      </div>
    </div>
  </form>
</section>
