<div ng-controller="ArticlesController" ng-init="findPolicy()" style="padding-top: 45px;">

  <header class="page-header" style="position: absolute;width: 100%;left: 0;top: -10px;">
    <div class="container">
      <h1 class="page-header-heading">Legal</h1>
    </div>
  </header>

  <div layout="row">
    <aside class="col-md-3">
      <ul class="nav-links nav-links-block mbx bts">
        <li ng-repeat="p in policy">
          <a href="#" ng-click="changeView($index)">{{p.title}}</a>
        </li>
      </ul>
    </aside>
    <article class="col-md-9">
      <div ng-bind-html="display.content || articles[0].content"></div>
    </article>
  </div>
</div>