<div class="compact-shelf-content-container">
  <div class="vs-uix-shelfslider-body">
    <ul class="vs-uix-shelfslider-list">
      <li class="channels-content-item vs-shelf-grid-item vs-uix-shelfslider-item" ng-repeat="a in [1,2,3,4,5]">
        <div class="vs-lockup clearfix  vs-lockup-video vs-lockup-grid vve-check">
          <div class="vs-lockup-dismissable">
            <div class="vs-lockup-thumbnail">
                                          <span class="spf-link  ux-thumb-wrap contains-addto">
                                            <a href="#" class="vs-uix-sessionlink watched">
                                              <span class="video-thumb  vs-thumb vs-thumb-196">
                                                <span class="vs-thumb-default">
                                                  <span class="vs-thumb-clip">
                                                    <img aria-hidden="true" width="196" alt="" src="https://i.ytimg.com/vi/MISbh-azVWA/hqdefault.jpg?custom=true&amp;w=196&amp;h=110&amp;stc=true&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=4lhG7rEmCEfNvCK6OpMHWbm9Vug" class="hoverZoomLink">
                                                  </span>
                                                </span>
                                              </span>
                                            </a>
                                            <span class="video-time">
                                              <span>4:30</span>
                                            </span>
                                          </span>

              <div class="vs-lockup-content">
                <h3 class="vs-lockup-title ">
                  <a href="#" class="vs-uix-sessionlink vs-uix-tile-link  spf-link  vs-ui-ellipsis vs-ui-ellipsis-2">Alan Walker - Faded</a>
                </h3>
                <div class="vs-lockup-meta">
                  <ul class="vs-lockup-meta-info">
                    <li>425,718 views</li>
                    <li>3 days ago</li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>