h1 {
  /*text-align: center*/
}

ul.articles li:not(:last-child) {
  border-bottom: 1px solid #ccc
}

.page-header-heading {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 6px;
}

.mbx,
.poster-image-wrapper,
.mvx,
.max {
  margin-bottom: 20px !important
}

.bts,
.bvs,
.bas,
.mod-well-profile,
.fb-invite-wrapper {
  border-top: 1px solid #e0e0e0
}

.nav-links,
.page-footer-nav-links {
  margin-left: 0;
  list-style: none
}

.nav-links > li,
.page-footer-nav-links > li {
  margin-bottom: 6px
}

.nav-links > li > a,
.page-footer-nav-links > li > a {
  display: block
}

.nav-links-inverted > li > a {
  color: #8d8d8d
}

.nav-links-inverted > li > a:hover {
  color: #3c9cd7
}

.nav-links-block > li {
  border-bottom: 1px solid #e6e6e6
}

.nav-links-block > li > a {
  padding: 6px 10px;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s
}

.nav-links-block > li > a:hover {
  background-color: #eee
}

.nav-links-block > li > a.active {
  border-right: 2px solid #3c9cd7
}