.appbar-hidden #masthead-positioner-height-offset {
  height: 50px;
}

#masthead-positioner-height-offset {
  height: 90px;
}

.page-header {
  padding-bottom: 0 !important;
  margin: 0 !important;
  border-bottom: 0 !important;
  box-shadow: none;
}

.page-header .navbar-nav {
  float: right;
}

.page-header > div > div, .page-header > div > ul {
  display: inline-block;
}

.text-edit {
  float: right;
  margin-top: 12px;
}

.account {
  text-align: right;
}

.account > div, .account > ul {
  text-align: left;
}

.navbar .nav > li > a.brand {
  padding-left: 20px;
  margin-left: 0
}

.content {
  margin-top: 70px;
  width: 100%
}

/*footer {*/
/*position: fixed;*/
/*left: 0;*/
/*bottom: 0;*/
/*height: 30px;*/
/*width: 100%;*/
/*background: #ddd;*/
/*-webkit-box-shadow: 0 8px 6px 6px black;*/
/*-moz-box-shadow: 0 8px 6px 6px black;*/
/*box-shadow: 0 8px 6px 6px black*/
/*}*/
/*footer p {*/
/*padding: 5px 0 12px 10px*/
/*}*/

.featuredpic img {
  width: 510px;
}

/*.ng-invalid.ng-dirty{*/
/*border-color:#FA787E;*/
/*}*/
/*.ng-valid.ng-dirty{*/
/*border-color:#78FA89;*/
/*}*/
.navbar-nav > li {
  font-size: 12px;
}

.navbar-nav .nav-select-language {
  padding: 5px 0;
  color: #777;
  font-size: 12px;
}

.navbar-nav .nav-select-language md-menu:hover {
  color: #333;
  background-color: transparent;
}

._md-open-menu-container._md-active {
  z-index: 9999;
}

.md-open-menu-container.md-active {
  z-index: 9999;
}

.foot-menu {
  padding: 0 10px;
}

.md-text {
  font-size: 13px !important;
}
md-option .md-text {
  font-size: 13px !important;
}
._md-text {
  font-size: 13px !important;
}
md-option ._md-text {
  font-size: 13px !important;
}
.md-select-value.md-select-placeholder span {
  font-size: 13px !important;
}
.md-chips .md-chip-input-container input:not([type]) {
  font-size: 13px;
}
label {
  font-size: 13px !important;
}