.img-sprite, .img-benefit-badge, .img-benefit-certificate, .img-benefit-community, .img-benefit-geo, .img-benefit-gift, .img-benefit-hero, .img-benefit-news, .img-benefit-qc, .img-benefit-vikipass, .img-captioning, .img-channel-cta, .img-channel-hero, .img-channel-manager, .img-channel-moderators, .img-channel-segmenters, .img-channel-subtitlers, .img-hero, .img-index-benefit-badges, .img-index-benefit-certificate, .img-index-benefit-geo, .img-index-benefit-gift, .img-index-benefit-vikipass, .img-index-how-captioning, .img-index-how-segmenting, .img-index-how-subtitling, .img-index-submit-channel, .img-roles, .img-segmenting, .img-subtitle-count-icon, .img-subtitling, .img-viki-member {
  background-image: url(//0.viki.io/a/static/subtitling_community/img-s62d755d09d-1e8bb6913c9bed24dbbc486acadbaa9f.png);
  background-repeat: no-repeat
}

.img-benefit-badge {
  background-position: 0 0;
  height: 167px;
  width: 168px
}

.img-benefit-certificate {
  background-position: 0 -167px;
  height: 162px;
  width: 185px
}

.img-benefit-community {
  background-position: 0 -329px;
  height: 162px;
  width: 162px
}

.img-benefit-geo {
  background-position: 0 -491px;
  height: 162px;
  width: 176px
}

.img-benefit-gift {
  background-position: 0 -653px;
  height: 162px;
  width: 162px
}

.img-benefit-hero {
  background-position: 0 -815px;
  height: 359px;
  width: 495px
}

.img-benefit-news {
  background-position: 0 -1174px;
  height: 162px;
  width: 162px
}

.img-benefit-qc {
  background-position: 0 -1336px;
  height: 339px;
  width: 210px
}

.img-benefit-vikipass {
  background-position: 0 -1675px;
  height: 162px;
  width: 162px
}

.img-captioning {
  background-position: 0 -1837px;
  height: 234px;
  width: 245px
}

.img-channel-cta {
  background-position: 0 -2071px;
  height: 210px;
  width: 370px
}

.img-channel-hero {
  background-position: 0 -2281px;
  height: 393px;
  width: 656px
}

.img-channel-manager {
  background-position: 0 -2674px;
  height: 206px;
  width: 258px
}

.img-channel-moderators {
  background-position: 0 -2880px;
  height: 203px;
  width: 257px
}

.img-channel-segmenters {
  background-position: 0 -3083px;
  height: 206px;
  width: 258px
}

.img-channel-subtitlers {
  background-position: 0 -3289px;
  height: 203px;
  width: 257px
}

.img-hero {
  background-position: 0 -3492px;
  height: 222px;
  width: 497px
}

.img-index-benefit-badges {
  background-position: 0 -3714px;
  height: 164px;
  width: 164px
}

.img-index-benefit-certificate {
  background-position: 0 -3878px;
  height: 164px;
  width: 178px
}

.img-index-benefit-geo {
  background-position: 0 -4042px;
  height: 167px;
  width: 178px
}

.img-index-benefit-gift {
  background-position: 0 -4209px;
  height: 164px;
  width: 164px
}

.img-index-benefit-vikipass {
  background-position: 0 -4373px;
  height: 164px;
  width: 164px
}

.img-index-how-captioning {
  background-position: 0 -4537px;
  height: 200px;
  width: 291px
}

.img-index-how-segmenting {
  background-position: 0 -4737px;
  height: 200px;
  width: 291px
}

.img-index-how-subtitling {
  background-position: 0 -4937px;
  height: 200px;
  width: 264px
}

.img-index-submit-channel {
  background-position: 0 -5137px;
  height: 245px;
  width: 313px
}

.img-roles {
  background-position: 0 -5382px;
  height: 254px;
  width: 405px
}

.img-segmenting {
  background-position: 0 -5636px;
  height: 237px;
  width: 287px
}

.img-subtitle-count-icon {
  background-position: 0 -5873px;
  height: 94px;
  width: 119px
}

.img-subtitling {
  background-position: 0 -5967px;
  height: 250px;
  width: 207px
}

.img-viki-member {
  background-position: 0 -6217px;
  height: 187px;
  width: 194px
}

p {
  font-size: 14px
}

.page-container {
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, "Liberation Sans", Freesans, sans-serif;
  background-color: #fff;
  padding-top: 0;
  min-width: 940px
}

.page-row {
  margin-left: -20px;
  clear: both;
}
.page-row:before, .page-row:after {
  display: table;
  line-height: 0;
  content: '';
}
.container.container2 {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.section2 {
  padding: 60px 0;
}
.page-title, .section-heading2 {
  color: rgba(77, 77, 77, 0.6);
  font-family: "Open Sans Condensed", Roboto, "Helvetica Neue", "Lucida Grande", Helvetica, Arial, "Liberation Sans", Freesans, sans-serif;
  font-size: 40px;
  line-height: 40px
}

.page-title span, .section-heading2 span {
  color: #4d4d4d;
  display: block;
  font-weight: 600;
  font-size: 100px;
  line-height: 100px
}

.page-title.small-title, .small-title.section-heading2 {
  margin-bottom: 15px
}

.page-title.small-title span, .small-title.section-heading2 span {
  font-size: 56px;
  line-height: 56px
}

.page-desc, .section-desc {
  font-size: 24px;
  line-height: 34px
}

section {
  /*padding: 60px 0*/
}

.section-hero {
  padding-bottom: 0px;
  overflow: hidden
}

.section-bg-alt {
  background-color: #f0f0f0
}

.section-bg-blue {
  background-color: #e4f0f8
}

.section-bg-yellow {
  background-color: #e5ec70
}

.section-bg-red {
  background-color: #f15272;
  color: #fff
}

.section-bg-red .page-title, .section-bg-red .section-heading2 {
  color: rgba(255, 255, 255, 0.6)
}

.section-bg-red .page-title span, .section-bg-red .section-heading2 span {
  color: #fff
}

.section-heading2 {
  color: #4d4d4d;
  font-size: 56px;
  font-weight: 600
}

.section-title {
  font-size: 34px
}

.section-title small {
  font-size: 14px
}

.section-desc-alt {
  line-height: 24px
}

.section-content-table {
  background: #fff
}

.section-content-table td {
  border-top: none;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  padding: 22px
}

.section-content-table td:last-child {
  border-right: none
}

.section-content-table tr:last-child td {
  border-bottom: none
}

.hero-desc {
  position: relative;
  z-index: 3
}

.hero-figure {
  position: relative;
  z-index: 1
}

.video-thumbnail img {
  width: 100%
}

.watch-inner {
  height: 331px;
  width: 539px
}

.watch-inner object {
  height: 100%
}

.img-hero {
  margin-top: 60px
}

.hero-figure .img-channel-hero {
  margin-top: 130px;
  margin-left: -88px
}

.hero-figure .img-benefit-hero {
  margin-top: 130px
}

.counter-box {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 3px solid #686d0e;
  background-color: #fff;
  font-family: "Open Sans Condensed", Roboto, "Helvetica Neue", "Lucida Grande", Helvetica, Arial, "Liberation Sans", Freesans, sans-serif;
  display: inline-block;
  margin-top: 50px
}

.counter-box span {
  display: inline-block;
  font-size: 56px;
  padding: 30px 18px;
  color: #6d7b33;
  border-right: 2px solid #686d0e
}

.counter-box .counter-box-unit {
  display: inline-block;
  position: relative
}

.counter-box .counter-box-unit span {
  color: #000;
  font-size: 56px;
  font-weight: 600;
  border-right: 0px
}

.counter-box .counter-box-unit .img-subtitle-count-icon {
  position: absolute;
  top: -80px;
  left: 50%;
  margin-left: -60px
}

.counter-box-desc {
  color: #6d7b33;
  font-size: 34px;
  line-height: 34px
}

.counter-box-desc strong {
  font-weight: bold;
  color: #4d4d4d
}

.community-testimonial-profile {
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  border: 1px solid #f15272;
  width: 32px;
  height: 32px;
  vertical-align: middle
}

.community-testimonial-quote {
  font-size: 20px;
  line-height: 32px
}

.community-testimonial-quote q:before {
  font-weight: bold;
  font-size: 34px;
  display: block
}

.community-testimonial-quote strong {
  font-weight: bold
}

.img-index-benefit-exclusive {
  margin-top: -10px
}

.community-benefit-img {
  width: 172px;
  height: 172px;
  /*margin-right: auto;*/
  /*margin-left: auto*/
}

.community-benefit-title {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  line-height: 120%
}

.community-benefit-elements {
  width: 20%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
