
.vs-uix-clickcard-card,
.vs-uix-hovercard-card {
  position: absolute;
  z-index: 2000000006;
  -moz-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out
}
.vs-uix-card-iframe-mask {
  position: absolute;
  z-index: 2000000005
}
.vs-uix-clickcard-card-border,
.vs-uix-hovercard-card-border {
  float: left;
  background: #fff;
  border: 1px solid #c5c5c5;
  box-shadow: 0 0 15px rgba(0, 0, 0, .18)
}
.vs-uix-clickcard-card-body,
.vs-uix-hovercard-card-body {
  min-height: 54px;
  overflow: hidden;
  font-size: 13px;
  color: #555
}
.vs-uix-clickcard-card-content,
.vs-uix-hovercard-card-content {
  display: block;
  padding: 20px;
  width: 235px;
  line-height: 1.3em
}
.vs-uix-clickcard-title,
.vs-uix-hovercard-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis
}
.vs-uix-hovercard-card-reverse .vs-uix-card-arrow {
  display: block
}
.ie7 .vs-uix-card-arrow,
.ie8 .vs-uix-card-arrow {
  display: none
}
.vs-uix-card-arrow {
  position: absolute;
  display: none;
  top: -11px;
  width: 24px;
  height: 24px;
  margin-left: 12px;
  overflow: hidden;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0
}
.vs-uix-card-arrow-background {
  position: absolute;
  top: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0
}
.vs-uix-card-border-arrow,
.vs-uix-card-body-arrow {
  position: absolute;
  width: 0;
  height: 0;
  vertical-align: top;
  background: none;
  border: 12px solid transparent
}
.vs-uix-card-border-arrow-horizontal,
.vs-uix-card-body-arrow-horizontal {
  border-right-width: 0
}
.vs-uix-card-border-arrow-vertical,
.vs-uix-card-body-arrow-vertical {
  bottom: -10px;
  border-bottom-width: 0
}
.vs-uix-card-border-arrow-horizontal {
  right: -12px;
  border-left-color: #c5c5c5
}
.vs-uix-card-body-arrow-horizontal {
  right: -11px;
  border-left-color: #fff
}
.vs-uix-card-border-arrow-vertical {
  margin-bottom: -1px;
  border-top-color: #c5c5c5
}
.vs-uix-card-body-arrow-vertical {
  border-top-color: #fff
}
.vs-uix-clickcard-card-flip .vs-uix-card-border-arrow-horizontal,
.vs-uix-clickcard-card-flip .vs-uix-card-body-arrow-horizontal,
.vs-uix-hovercard-card-flip .vs-uix-card-border-arrow-horizontal,
.vs-uix-hovercard-card-flip .vs-uix-card-body-arrow-horizontal {
  right: auto;
  border-right-width: 12px;
  border-left-width: 0;
  border-left-color: transparent
}
.vs-uix-clickcard-card-flip .vs-uix-card-border-arrow-horizontal,
.vs-uix-hovercard-card-flip .vs-uix-card-border-arrow-horizontal {
  left: -12px;
  border-right-color: #c5c5c5
}
.vs-uix-clickcard-card-flip .vs-uix-card-body-arrow-horizontal,
.vs-uix-hovercard-card-flip .vs-uix-card-body-arrow-horizontal {
  left: -11px;
  border-right-color: #fff
}
.vs-uix-clickcard-card-reverse .vs-uix-card-border-arrow-vertical {
  bottom: auto;
  border-bottom-width: 12px;
  border-top-color: transparent;
  border-top-width: 0;
  top: -10px
}
.vs-uix-clickcard-card-reverse .vs-uix-card-body-arrow-vertical {
  bottom: auto;
  border-bottom-width: 12px;
  border-top-color: transparent;
  border-top-width: 0
}
.vs-uix-hovercard-card-reverse .vs-uix-card-border-arrow-vertical {
  bottom: auto;
  border-bottom-width: 12px;
  border-top-color: transparent;
  border-top-width: 0;
  top: -10px
}
.vs-uix-hovercard-card-reverse .vs-uix-card-body-arrow-vertical {
  bottom: auto;
  border-bottom-width: 12px;
  border-top-color: transparent;
  border-top-width: 0
}
.vs-uix-clickcard-card-reverse .vs-uix-card-border-arrow-vertical,
.vs-uix-hovercard-card-reverse .vs-uix-card-border-arrow-vertical {
  border-bottom-color: #c5c5c5;
  margin-top: -1px
}
.vs-uix-clickcard-card-reverse .vs-uix-card-body-arrow-vertical,
.vs-uix-hovercard-card-reverse .vs-uix-card-body-arrow-vertical {
  top: -10px;
  border-bottom-color: #fff
}
.vs-uix-clickcard-close {
  float: right;
  margin: -5px -5px 5px 5px
}
#ie .vs-uix-card-body-arrow-vertical {
  border-top-color: #fff
}
.vs-uix-hovercard-target,
.vs-uix-clickcard-target {
  cursor: pointer
}
.vs-uix-clickcard-promo .vs-uix-clickcard-card-border {
  background: #2793e6;
  border-color: #2793e6
}
.vs-uix-clickcard-promo .vs-uix-card-body-arrow-vertical {
  border-top-color: #2793e6
}
.vs-uix-clickcard-promo .vs-uix-card-body-arrow-horizontal {
  border-right-color: #2793e6
}
.vs-uix-clickcard-promo.vs-uix-clickcard-card-reverse .vs-uix-card-body-arrow-vertical {
  border-bottom-color: #2793e6
}
.vs-uix-clickcard-promo .vs-uix-clickcard-close {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflsIkBw3.webp) 0 -600px;
  background-size: auto;
  width: 20px;
  height: 20px
}
.vs-uix-clickcard-promo .vs-uix-clickcard-card-body {
  color: #fff
}
.vs-uix-clickcard-promo.guide-hint {
  position: fixed
}
.sb-card {
  position: absolute;
  right: 13px;
  top: 60px
}
.sitewide-ticker-visible .sb-card {
  top: 85px
}
.sb-card-arrow,
.sb-card-body-arrow {
  background: none repeat scroll 0 0 transparent;
  border: 12px solid transparent;
  bottom: auto;
  height: 0;
  left: auto;
  position: absolute;
  right: 68px;
  top: -22px;
  vertical-align: top;
  width: 0
}
.sb-card-arrow {
  border-bottom-color: #bbb;
  margin-bottom: -1px;
  margin-top: -1px
}
.sb-card-body-arrow {
  border-bottom-color: #e5e5e5
}
.sb-card-border {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #bbb;
  float: left;
  box-shadow: 0 0 5px #bbb
}
.sb-card-content {
  width: 440px
}
.sb-on {
  background: #fff;
  display: block;
  float: left;
  z-index: 1100010;
  box-shadow: 0 2px 1px #aaa
}
.sb-off {
  background: transparent;
  display: none;
  box-shadow: none
}
.vs-masthead-user-icon,
.vs-masthead-user-icon:hover {
  box-shadow: none
}
.vs-masthead-account-picker.vs-uix-clickcard-card-content {
  color: #000;
  font-size: 13px;
  min-width: 270px;
  overflow: hidden;
  padding: 0;
  width: auto
}
.vs-masthead-account-notification {
  background-color: #fef9db;
  color: #000;
  font-size: 11px;
  padding: 10px 15px
}
.vs-masthead-account-notification a {
  color: #36c;
  display: block
}
.vs-masthead-picker-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 15px
}
.vs-masthead-account-picker .vs-masthead-picker-header {
  border-bottom: none
}
.vs-masthead-account-picker .vs-masthead-picker-header-status {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #999;
  font-size: 11px;
  font-weight: 500;
  margin-top: -5px;
  padding: 0 15px 5px;
  text-transform: uppercase
}
.vs-uix-clickcard-card.vs-masthead-multilogin .vs-masthead-picker-header-status {
  color: #dadada;
  background-color: #999;
  font-size: 10px;
  font-weight: 500;
  margin-top: -5px;
  padding: 0 15px 5px;
  text-transform: uppercase
}
.vs-masthead-multilogin-users {
  max-height: 215px;
  overflow-y: auto
}
@media (max-height: 410px) {
  .vs-masthead-account-picker.vs-uix-clickcard-card-content {
    max-height: 175px;
    overflow-y: auto
  }
}
@media (min-height: 410px) and (max-height: 660px) {
  .vs-masthead-multilogin-users {
    max-height: 85px
  }
}
@media (min-height: 660px) and (max-height: 780px) {
  .vs-masthead-multilogin-users {
    max-height: 335px
  }
}
@media (min-height: 780px) and (max-height: 1000px) {
  .vs-masthead-multilogin-users {
    max-height: 455px
  }
}
@media (min-height: 1000px) {
  .vs-masthead-multilogin-users {
    max-height: 775px
  }
}
.vs-uix-clickcard-card.vs-masthead-multilogin .vs-masthead-picker-header,
.vs-uix-clickcard-card.vs-masthead-multilogin .vs-masthead-multilogin-users-header {
  background-color: #999;
  border-bottom: none;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  padding: 5px 15px;
  text-transform: uppercase
}
.exp-masthead-account-picker-redesign .vs-uix-clickcard-card.vs-masthead-multilogin .vs-masthead-multilogin-users-header {
  display: none
}
a.vs-masthead-picker-active-account {
  color: inherit;
  display: block;
  text-decoration: none;
  white-space: nowrap
}
a.vs-masthead-account-picker-option {
  display: block;
  text-decoration: none;
  white-space: nowrap
}
.exp-masthead-account-picker-redesign a.vs-masthead-picker-active-account {
  display: none
}
a.vs-masthead-picker-active-account:hover {
  text-decoration: underline
}
.vs-masthead-picker-body {
  margin: 15px;
  white-space: nowrap
}
.vs-masthead-content-owner-icon {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflsIkBw3.webp) -151px -703px;
  background-size: auto;
  width: 27px;
  height: 27px
}
.vs-masthead-picker-content-owner-icon {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflsIkBw3.webp) 0 -467px;
  background-size: auto;
  width: 36px;
  height: 36px
}
.vs-masthead-picker-content-owner-active-icon {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflsIkBw3.webp) -89px -186px;
  background-size: auto;
  width: 64px;
  height: 64px
}
.vs-masthead-picker-photo-wrapper {
  margin-right: 10px;
  position: relative
}
.exp-masthead-account-picker-redesign .vs-masthead-picker-photo-wrapper .vs-thumb {
  background-color: transparent
}
.exp-masthead-account-picker-redesign .vs-masthead-picker-photo-wrapper img {
  border-radius: 50%
}
.vs-masthead-picker-photo-wrapper,
.vs-masthead-picker-info {
  display: inline-block;
  vertical-align: top
}
.vs-masthead-picker-photo-change {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  color: #fff;
  font-size: 9px;
  font-weight: 500;
  left: 0;
  line-height: 9px;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  width: 64px
}
.exp-masthead-account-picker-redesign .vs-masthead-picker-photo-change {
  display: none
}
.vs-masthead-picker-name {
  font-weight: 500;
  margin-bottom: 1px
}
.vs-masthead-picker-content-owner-name {
  padding: 6px 0
}
.vs-masthead-picker-account-subtitle {
  color: #999;
  margin-bottom: 7px
}
.vs-masthead-picker-button {
  height: 24px
}
.vs-masthead-picker-button-primary {
  margin-right: 5px
}
.vs-masthead-picker-settings-button {
  padding: 0 4px
}
.vs-masthead-picker-button-single {
  text-align: center;
  width: 100%
}
.vs-uix-button-icon-icon-account-settings {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflsIkBw3.webp) -136px -467px;
  background-size: auto;
  width: 20px;
  height: 20px
}
.vs-masthead-account-picker-option {
  background: #f5f5f5;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 15px
}
.vs-masthead-picker-footer {
  background: #f5f5f5;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  overflow: hidden
}
.vs-masthead-account-picker-option:hover {
  background: #eee;
  text-decoration: none
}
.vs-masthead-account-picker-option .vs-masthead-picker-photo-wrapper {
  margin-right: 6px
}
.vs-masthead-account-picker-option .vs-masthead-picker-info {
  vertical-align: middle
}
.vs-masthead-account-picker-option .vs-masthead-picker-name {
  color: #000;
  font-weight: normal
}
.vs-masthead-picker-footer .vs-masthead-picker-button {
  float: left;
  height: 28px
}
.vs-masthead-picker-footer .vs-masthead-picker-button:last-child {
  float: right
}
.vs-uix-clickcard-card.vs-masthead-multilogin .vs-uix-card-body-arrow {
  border-bottom-color: #999
}
.vs-uix-clickcard-card.vs-masthead-domain-notification .vs-uix-card-body-arrow {
  border-bottom-color: #fef9db
}
@media only screen and (min-width: 0px) and (max-width: 498px),
only screen and (min-width: 499px) and (max-width: 704px) {
  .exp-responsive #vs-masthead {
    padding-left: 18px;
    padding-right: 18px;
    width: 402px
  }
  .exp-responsive #vs-masthead .vs-masthead-logo-container {
    width: auto
  }
  .exp-responsive #vs-masthead #logo-container {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflsIkBw3.webp) -130px -288px;
    background-size: auto;
    width: 40px;
    height: 28px
  }
  .exp-responsive #vs-masthead #logo-container .logo,
  .exp-responsive #vs-masthead #logo-container .doodle,
  .exp-responsive #vs-masthead #logo-container .logo-red,
  .exp-responsive #vs-masthead #logo-container .content-region,
  .exp-responsive #ticker.has-arrow .ticker-righthand-content {
    display: none
  }
  .exp-responsive #vs-masthead .search-btn-component .vs-uix-button-content {
    margin: 0 10px
  }
  .exp-responsive #vs-masthead-user {
    margin-left: 10px
  }
  .exp-responsive #upload-btn,
  .exp-responsive #vs-masthead-user #sb-button-notify {
    display: none
  }
}
.vs-uix-button-hover-action-menu {
  border: none;
  padding: 0;
  height: auto;
  opacity: 0;
  filter: alpha(opacity=0);
  background: transparent;
  cursor: pointer;
  padding-bottom: 3px;
  box-shadow: none
}
.vs-uix-button-hover-action-menu:focus,
.vs-uix-button-hover-action-menu:focus:hover {
  box-shadow: none
}
.vs-uix-button-icon-hover-action-menu,
.vs-uix-button-active .vs-uix-button-icon-hover-action-menu {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflsIkBw3.webp) -109px -450px;
  background-size: auto;
  width: 13px;
  height: 13px
}
.hover-action-menu-trigger .vs-uix-button-hover-action-menu.vs-uix-button-active,
.hover-action-menu-trigger:hover .vs-uix-button-hover-action-menu {
  opacity: .8;
  filter: alpha(opacity=100)
}
.vs-uix-button-hover-action-menu .vs-uix-button-arrow,
.vs-uix-button-dark-overflow-action-menu .vs-uix-button-arrow {
  display: none
}
.vs-uix-button-dark-overflow-action-menu:before {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflsIkBw3.webp) -89px -793px;
  background-size: auto;
  width: 15px;
  height: 15px
}
.vs-uix-button-dark-overflow-action-menu.vs-uix-button-active:before,
.vs-uix-button-dark-overflow-action-menu:hover:before {
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflsIkBw3.webp) -147px -624px;
  background-size: auto;
  width: 15px;
  height: 15px
}
.vs-uix-button-menu-dark-overflow-action-menu {
  background-color: #fff;
  border-color: #ccc
}
.vs-uix-button-menu-dark-overflow-action-menu .vs-uix-button-menu-item {
  color: #333
}
.vs-uix-button-menu-dark-overflow-action-menu .vs-uix-button-menu-item:hover {
  color: #fff;
  background-color: #333
}