<div class="ytp-menu" role="menu" id="ytp-main-menu-id">
  <div class="ytp-menuitem" role="menuitemcheckbox" aria-checked="true" tabindex="0">
    <div class="ytp-menuitem-label">Chú thích</div>
    <div class="ytp-menuitem-content">
      <div class="ytp-menuitem-toggle-checkbox"></div>
    </div>
  </div>
  <div class="ytp-menuitem" aria-haspopup="true" role="menuitem" tabindex="0">
    <div class="ytp-menuitem-label">Tốc độ</div>
    <div class="ytp-menuitem-content">Chuẩn</div>
  </div>
  <div class="ytp-menuitem" aria-haspopup="true" role="menuitem" tabindex="0">
    <div class="ytp-menuitem-label">
      <div><span>Phụ đề</span><span class="ytp-menuitem-label-count"> (1)</span></div>
    </div>
    <div class="ytp-menuitem-content">Tắt</div>
  </div>
  <div class="ytp-menuitem" aria-haspopup="true" role="menuitem" tabindex="0">
    <div class="ytp-menuitem-label">Chất lượng</div>
    <div class="ytp-menuitem-content">
      <div><span>360p</span></div>
    </div>
  </div>
</div>
