<div class="top-caption-area">
  <div uib-dropdown dropdown-append-to-body auto-close="outsideClick">
    <div class="top-caption-button">
      <span tooltip-placement="bottom" uib-tooltip="Tutorial" ng-click="tutClick()"><i class="fa fa-info"></i></span>
      <span tooltip-placement="bottom" uib-tooltip="Edit caption" ng-click="dropdownClick()" id="btn-append-to-body"
            uib-dropdown-toggle><i class="fa fa-list-alt"></i></span>
      <span tooltip-placement="bottom" uib-tooltip="Show 2nd caption" ng-click="a = !a"><i class="fa fa-eye"></i></span>
    </div>
    <div ng-show="a" class="second-caption-area hide" id="second-like">
      <span class="subcaption-first">{{display}}</span>
      <i ng-click="plus({voted:0})" class="fa fa-thumbs-up sencond-caption-vote"
            style="margin-left:10px;cursor: pointer"></i>
      <span id="second-rate" style="margin-left:5px;cursor: pointer">{{captions[0].rate}}</span>
    </div>
    <ul class="uib-dropdown-menu top-caption-dropdown" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body"
        style="color: #ffffff;">
      <li class="dropdown-caption-area"><span>{{display2}}</span>
        <!--<i ng-click="plus({voted:1})"-->
              <!--class="fa fa-thumbs-up"-->
              <!--style="margin-left:10px;cursor: pointer"></i>-->
        <!--<span class="third-rate" style="margin-left:5px;cursor: pointer">{{captions[1].rate}}</span>-->
      </li>
      <li role="menuitem">
        <input id="player-input" type="text" ng-model="custom" placeholder="Create your own" style="width:100%;color: #f1f1f1;height: 17px;" my-enter="minus({text:custom, time:2})">
        <span class="pull-right" ng-click="minus({text:custom, time:2})"
              style="position: relative;top: -29px;color: #f1f1f1;">
        <i class="fa fa-sign-in"></i></span>
      </li>
    </ul>
  </div>
</div>