<span class="glyphicon glyphicon-hd-video" style="font-size: 14px;"></span>
<ul ng-show="selectorVisibility" style="max-height: 250px">
  <li ng-repeat="q in quality" ng-click="selected({quality:q})">
    <i class="fa fa-check" ng-show="currentQuality === q"></i>{{q | capitalize}}
  </li>
  <!--<li ng-click="offCaption()"><pre>{{quality}}</pre></li>-->
</ul>