<!--<div>hello world</div>-->
<!--<div>max={{vm.max}}<input ng-model="vm.max"/></div>-->
<!--<div>min={{vm.min}}<input ng-model="vm.min"/></div>-->
<span class="glyphicon glyphicon-cog" style="font-size: 14px" ng-click="vm.toggleSettingPopup()" click-out="vm.clickOutside()"></span>

<div class="ytp-popup ytp-settings-menu fade1" data-layer="6" style="width: 155px; font-size: 11px" ng-if="vm.main">
  <div class="ytp-panel">
    <div class="ytp-panel-content">
      <div class="ytp-menu" role="menu" id="ytp-main-menu-id">
        <div class="ytp-menuitem" role="menuitemcheckbox" aria-checked="true" tabindex="0">
          <div class="ytp-menuitem-label">Tự động phát</div>
          <div class="ytp-menuitem-content">
            <div class="ytp-menuitem-toggle-checkbox"></div>
          </div>
        </div>
        <div class="ytp-menuitem" role="menuitemcheckbox" aria-checked="true" tabindex="0">
          <div class="ytp-menuitem-label">Chú thích</div>
          <div class="ytp-menuitem-content">
            <div class="ytp-menuitem-toggle-checkbox"></div>
          </div>
        </div>
        <div class="ytp-menuitem" aria-haspopup="true" role="menuitem" tabindex="0">
          <div class="ytp-menuitem-label">Tốc độ</div>
          <div class="ytp-menuitem-content">Chuẩn</div>
        </div>
        <div class="ytp-menuitem" aria-haspopup="true" role="menuitem" tabindex="0">
          <div class="ytp-menuitem-label" data-id="qualitySetting" ng-click="vm.selectSettingOption($event)">Chất lượng</div>
          <div class="ytp-menuitem-content">
            <div><span data-id="qualitySetting" ng-click="vm.selectSettingOption($event)">360p</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>

<div class="ytp-popup ytp-settings-menu fade1" data-layer="6" style="width: 100px;font-size: 11px" ng-if="vm.qualitySetting">
  <div class="ytp-panel">
    <div class="ytp-panel-header">
      <button class="ytp-button ytp-panel-title" ng-click="vm.selectBack($event)" data-id="qualitySetting">Chất lượng</button>
    </div>
    <div class="ytp-panel-content">
      <div class="ytp-menu ytp-quality-menu" role="menu">
        <!--<div class="ytp-menuitem" tabindex="0" role="menuitemradio" aria-checked="true">-->
        <!--<div class="ytp-menuitem-label">-->
        <!--<div><span>360p</span></div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="ytp-menuitem" tabindex="0" role="menuitemradio" ng-repeat="quality in vm.availableQuality" ng-click="vm.selectedQuality(quality)" aria-checked="{{vm.currentQuality === quality ? true : false}}">
          <div class="ytp-menuitem-label">
            <div><span>{{quality}}</span></div>
          </div>
        </div>
        <!--<div class="ytp-menuitem" tabindex="0" role="menuitemradio">-->
        <!--<div class="ytp-menuitem-label">-->
        <!--<div><span>144p</span></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="ytp-menuitem" tabindex="0" role="menuitemradio">-->
        <!--<div class="ytp-menuitem-label">-->
        <!--<div><span>Tự động</span></div>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>