<!--<h1>Video list</h1>-->
<!--<pre>{{ vm.videos | json }}</pre>-->

<!--Video item-->
<li class="vs-shelf-grid-item" ng-repeat="video in vm.videos">
  <div class="vs-lockup vs-lockup-grid vs-lockup-video clearfix">
    <div class="vs-lockup-dismissable">
      <div class="vs-lockup-thumbnail contains-addto">
        <a aria-hidden="true" ng-href="/videos/{{video._id}}" class="vs-uix-sessionlink spf-link">
          <div class="vs-thumb video-thumb">
                                          <span class="vs-thumb-simple">
                                            <img ng-src="{{video.thumbnail}}" alt="" width="196" height="110">
                                          </span>
          </div>
          <span class="video-time" aria-hidden="true">subtitled</span>
        </a>
      </div>
      <div class="vs-lockup-content">
        <h3 class="vs-lockup-title contains-action-menu">
          <a ng-href="/videos/{{video._id}}" class="vs-uix-sessionlink  vs-ui-ellipsis vs-ui-ellipsis-2 spf-link">{{video.title | cut:true:48:'...'}}</a>
        </h3>
        <div class="vs-lockup-byline">
          <a ng-href="/channel/{{ video.channel._id }}/home" class="vs-uix-sessionlink g-hovercard spf-link">{{video.channel.name}}</a>
        </div>
        <div class="vs-lockup-meta">
          <ul class="vs-lockup-meta-info">
            <li>{{video.view}} lượt xem • </li>
            <li><span am-time-ago="video.created_at"></span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="vs-lockup-notifications-container hid"></div>
  </div>
</li>
<!--End video item-->