/*
 |--------------------------------------------------------------------------
 | Content Card (yt)
 |--------------------------------------------------------------------------
 */
.vs-card {
  margin: 0 0 10px;
  border: 0;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.vs-card.vs-card-has-padding {
  padding: 15px;
}

.created-at {
  color: #767676;
}
.bbm, .bvm, .bam {
  border-bottom: 2px solid #e0e0e0;
}
.mbl, .mvl, .mal {
  margin-bottom: 15px !important;
}
.section-header {
  margin-bottom: 20px;
  width: 100%;
}
/*
 |--------------------------------------------------------------------------
 | Profile - left - right
 |--------------------------------------------------------------------------
 */
.profile-left {
  margin-right: 10px;
}
.profile-right {
  background-color: #fff;
}

/*
 |--------------------------------------------------------------------------
 | user stats
 |--------------------------------------------------------------------------
 */

.user-stats .stats {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 100.15%; }
.user-stats .stats li {
  margin: 0;
  padding: 0;
  width: 33.33334%;
  display: table-cell;
  text-align: center;
  border-left: 0.1em solid transparent; }
.user-stats .stats li:first-child {
  border-left: 0; }
.user-stats .stats li:first-child a {
  /*border-bottom-left-radius: 0.3rem; */
}
.user-stats .stats li:last-child a {
  /*border-bottom-right-radius: 0.3rem; */
}
.user-stats .stats li a, .user-stats .stats li strong {
  display: block; }
.user-stats .stats li a {
  background: #f7f7f7;
  padding: 1em 0;
  color: #46494c; }
.user-stats .stats li a strong, .user-stats .stats li a span {
  font-weight: 600;
  line-height: 1; }
.user-stats .stats li a strong {
  font-size: 2em; }
.user-stats .stats li a span {
  color: #717a7e; }
.user-stats .stats li a:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #1c84d4; }
.user-stats .stats li a:hover span {
  color: #1d8cdf; }

/*
 |--------------------------------------------------------------------------
 | User avatar
 |--------------------------------------------------------------------------
 */
.profile-card {
  background: white;
  /*border-radius: 0.3rem;*/
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; }

.user-card .user-avatar {
  text-align: center; }
.user-card .user-avatar .user-bg {
  width: 100%;
  /*border-top-left-radius: 0.3rem;*/
  /*border-top-right-radius: 0.3rem; */
}
.user-card .user-avatar .user-bg:after {
  content: "";
  width: 100%;
  height: 100%;
  background: red; }
.user-card .user-avatar .user-pic {
  background: white;
  padding: 0.25em;
  /*border-radius: 0.3rem;*/
  margin-top: -10em;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.35); }
.user-card header, .user-card .status {
  text-align: center;
  padding: 0 1.5em; }
.user-card header h1 {
  margin-top: 0.35em;
  margin-bottom: 0; }
.user-card header p {
  color: #717a7e;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0.5em; }
.user-card .status {
  color: #75787b;
  font-size: 0.98em; }
.user-card .stats {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 100.15%; }
.user-card .stats li {
  margin: 0;
  padding: 0;
  width: 33.33334%;
  display: table-cell;
  text-align: center;
  border-left: 0.1em solid transparent; }
.user-card .stats li:first-child {
  border-left: 0; }
.user-card .stats li:first-child a {
  /*border-bottom-left-radius: 0.3rem; */
}
.user-card .stats li:last-child a {
  /*border-bottom-right-radius: 0.3rem; */
}
.user-card .stats li a, .user-card .stats li strong {
  display: block; }
.user-card .stats li a {
  background: #f7f7f7;
  padding: 1em 0;
  color: #46494c; }
.user-card .stats li a strong, .user-card .stats li a span {
  font-weight: 600;
  line-height: 1; }
.user-card .stats li a strong {
  font-size: 2em; }
.user-card .stats li a span {
  color: #717a7e; }
.user-card .stats li a:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #1c84d4; }
.user-card .stats li a:hover span {
  color: #1d8cdf; }


